<div class="dashboard-wr">
  <div class="dashboard-cell">
    <div class="timer-wr">
      <ul class="timer">
        <li>
          04 <span>Days</span>
        </li>
        <li class="separator">:</li>
        <li>
          21 <span>Hours</span>
        </li>
        <li class="separator">:</li>
        <li>
          45 <span>Min</span>
        </li>
        <li class="separator">:</li>
        <li>
          13 <span>Sec</span>
        </li>
      </ul>
    </div>
    <app-instruction></app-instruction>
  </div>
  <div class="dashboard-cell" *ngIf="rounds$ | async as rounds">
    <app-call-action></app-call-action>
    <app-backoffice-table
      [dashboardTableHead]="dashboardTableHead"
      [rounds]="rounds"
      [scroll]="true"
      [columns]="[
        {value: 'title'},
        {value: 'supply'},
        {value: 'price'},
        {value: 'min_buy'},
        {value: 'max_buy'},
        {value: 'free_tokens'},
        {value: 'free_tokens_recipients'},
        {value: 'stage'}
        ]">
    </app-backoffice-table>
  </div>
</div>
