@import "../backoffice.component"
.dashboard-wr
  display: flex
  flex-wrap: nowrap
  .dashboard-cell
    width: 34%
    padding-right: 60px
    padding-left: 35px
    &:last-child
      width: 66%
      padding-right: 0
      padding-left: 0
  .timer-wr
    width: 100%
    padding-bottom: 45px
  .timer
    width: 100%
    max-width: 325px
    display: inline-block
    li
      display: inline-block
      vertical-align: top
      font-family: $OpenSansLight
      font-size: 52px
      color: $backoffice-white
      text-align: center
      span
        display: block
        font-family: $OpenSansRegular
        font-size: 14px
        color: #868991
      &.separator
        padding-right: 15px
