<div class="dashboard-wr">
  <div class="dashboard-cell">
    <div class="timer-wr">
      <ul class="timer">
        <li>
          04 <span>Days</span>
        </li>
        <li class="separator">:</li>
        <li>
          21 <span>Hours</span>
        </li>
        <li class="separator">:</li>
        <li>
          45 <span>Min</span>
        </li>
        <li class="separator">:</li>
        <li>
          13 <span>Sec</span>
        </li>
      </ul>
    </div>
    <app-instruction></app-instruction>
  </div>
  <div class="dashboard-cell">
    <app-call-action></app-call-action>
    <app-backoffice-table
      [dashboardTableHead]="dashboardTableHead"
      [rounds]="rounds$ | async"
      [columns]="[
        {value: 'title'},
        {value: 'supply'},
        {value: 'price'},
        {value: 'min_buy'},
        {value: 'max_buy'},
        {value: 'free_tokens'},
        {value: 'free_tokens_recipients'},
        {value: 'stage', type: 'ongoing'}
        ]"
    >
    </app-backoffice-table>
    <!--<app-backoffice-table-->
      <!--[dashboardTableHead]="dashboardTableHead"-->
      <!--[rounds]="rounds$ | async"-->
      <!--[columns]="[-->
        <!--{value:'title', class: ''},-->
        <!--{value:'price'},-->
        <!--{value:'min_buy', type: 'c'},-->
        <!--{value:'max_buy', type: ''},-->
        <!--{value:'free_tokens', type: ''},-->
        <!--{value:'free_tokens_recipients', type: ''},-->
        <!--{value:'stage', type: ''}-->
        <!--]"-->
    <!--&gt;-->
    <!--</app-backoffice-table>-->
  </div>
</div>
