@import "../backoffice.component"
.dashboard-wr
  display: flex
  flex-wrap: nowrap
  .dashboard-cell
    width: 34%
    padding-right: 60px
    padding-left: 35px
    &:last-child
      width: 66%
      padding-right: 0
      padding-left: 0

