aside {
  padding-top: 0;
}

.pending {
  background: yellow;
}

.running {
  background: green;
  color: #fff;
}

.finished {
  background: blue;
  color: #fff;
}

.dashboard .title {
  font-size: 1.25rem;
}

.dashboard-table {
  width: 75%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
}

.dashboard-table th,
.dashboard-table td {
  padding: .75rem;
  vertical-align: middle;
}

.dashboard-table th {
  font-size: 24px;
}

.dashboard-table td {
  font-size: 20px;
}

.dashboard-table thead tr,
.dashboard-table tbody tr {
  background-color: #fff;
  border-bottom: 1px solid #eceeef;
}

.dashboard-table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.dashboard-table thead th {
  color: rgba(0, 0, 0, .54);
  line-height: 1.5;
}
