<div class="container-fluid full-width-container value-added-detail-page">
  <h2>Crest Token Sale Rounds Schedule</h2>
  <div class="table-responsive pmd-card pmd-z-depth">
    <table class="table table-mc-red pmd-table table-striped">
      <thead>
      <tr>
        <th>ICO Round</th>
        <th>CSTT Supply</th>
        <th>CSTT Sold</th>
        <th>Price</th>
        <th>Minimum</th>
        <th>Maximum</th>
        <th>Status</th>
        <th>Free Tokens</th>
        <th>Free Tokens Recipients</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Pre Sale</td>
        <td>1,000,000</td>
        <td>0</td>
        <td>0.25 $</td>
        <td>100</td>
        <td>1000</td>
        <td class="pending">Pending</td>
        <td>50</td>
        <td>1000</td>
      </tr>
      <tr>
        <td>1A</td>
        <td>400,000</td>
        <td>0</td>
        <td>0.35 $</td>
        <td>75</td>
        <td>250</td>
        <td class="pending">Pending</td>
        <td>45</td>
        <td>500</td>
      </tr>
      <tr>
        <td>1B</td>
        <td>400,000</td>
        <td>0</td>
        <td>0.45 $</td>
        <td>75</td>
        <td>250</td>
        <td class="pending">Pending</td>
        <td>45</td>
        <td>500</td>
      </tr>
      <tr>
        <td>2A</td>
        <td>400,000</td>
        <td>0</td>
        <td>0.55 $</td>
        <td>50</td>
        <td>400</td>
        <td class="pending">Pending</td>
        <td>40</td>
        <td>500</td>
      </tr>
      <tr>
        <td>2B</td>
        <td>400,000</td>
        <td>0</td>
        <td>0.65 $</td>
        <td>50</td>
        <td>400</td>
        <td class="pending">Pending</td>
        <td>40</td>
        <td>500</td>
      </tr>
      <tr>
        <td>3A</td>
        <td>400,000</td>
        <td>0</td>
        <td>0.75 $</td>
        <td>50</td>
        <td>400</td>
        <td class="pending">Pending</td>
        <td>40</td>
        <td>500</td>
      </tr>
      <tr>
        <td>3B</td>
        <td>400,000</td>
        <td>0</td>
        <td>0.78 $</td>
        <td>40</td>
        <td>500</td>
        <td class="pending">Pending</td>
        <td>30</td>
        <td>500</td>
      </tr>
      <tr>
        <td>4A</td>
        <td>400,000</td>
        <td>0</td>
        <td>0.95 $</td>
        <td>40</td>
        <td>500</td>
        <td class="pending">Pending</td>
        <td>30</td>
        <td>500</td>
      </tr>
      <tr>
        <td>4B</td>
        <td>400,000</td>
        <td>0</td>
        <td>1.05 $</td>
        <td>40</td>
        <td>500</td>
        <td class="pending">Pending</td>
        <td>30</td>
        <td>500</td>
      </tr>
      <tr>
        <td>5A</td>
        <td>400,000</td>
        <td>0</td>
        <td>1.15 $</td>
        <td>30</td>
        <td>1000</td>
        <td class="pending">Pending</td>
        <td>30</td>
        <td>250</td>
      </tr>
      <tr>
        <td>5B</td>
        <td>400,000</td>
        <td>0</td>
        <td>1.25 $</td>
        <td>30</td>
        <td>1000</td>
        <td class="pending">Pending</td>
        <td>30</td>
        <td>250</td>
      </tr>
      <tr>
        <td>6A</td>
        <td>400,000</td>
        <td>0</td>
        <td>1.35 $</td>
        <td>30</td>
        <td>1000</td>
        <td class="pending">Pending</td>
        <td>30</td>
        <td>250</td>
      </tr>
      <tr>
        <td>6B</td>
        <td>400,000</td>
        <td>0</td>
        <td>1.45 $</td>
        <td>20</td>
        <td>1500</td>
        <td class="pending">Pending</td>
        <td>25</td>
        <td>200</td>
      </tr>
      <tr>
        <td>7A</td>
        <td>400,000</td>
        <td>0</td>
        <td>1.55 $</td>
        <td>20</td>
        <td>1500</td>
        <td class="pending">Pending</td>
        <td>25</td>
        <td>200</td>
      </tr>
      <tr>
        <td>7B</td>
        <td>400,000</td>
        <td>0</td>
        <td>1.65 $</td>
        <td>20</td>
        <td>1500</td>
        <td class="pending">Pending</td>
        <td>25</td>
        <td>200</td>
      </tr>
      <tr>
        <td>8A</td>
        <td>400,000</td>
        <td>0</td>
        <td>1.75 $</td>
        <td>20</td>
        <td>1500</td>
        <td class="pending">Pending</td>
        <td>25</td>
        <td>200</td>
      </tr>
      <tr>
        <td>8B</td>
        <td>400,000</td>
        <td>0</td>
        <td>1.85 $</td>
        <td>20</td>
        <td>1500</td>
        <td class="pending">Pending</td>
        <td>25</td>
        <td>200</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
