<section id="team" class="team">
  <div class="particles-wrapper">
    <div id="particles-team"></div>
  </div>
  <div class="team-wrapper">
    <div class="main-container">
      <div class="wrapper">
        <div class="header-wrapper">
          <h3 class="landing-title green">Team</h3>
          <div class="sub-title">We have put together an amazing team with diverse skills to make Crest token a unique
            success.
          </div>
        </div>
        <div class="items-wrapper">
          <div class="item">
            <div class="item__photo">
              <img src="assets/images/Ben-photo.png" alt="Ben Sanders">
            </div>
            <div class="item__name">
              Ben Sanders
            </div>
            <div class="item__position">
              Project Lead
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-facebook" href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a class="item__social-twitter"  href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/ben-sanders-53405a157/"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="item__photo">
              <img src="assets/images/Erin-photo.png" alt="Erin Cotter">
            </div>
            <div class="item__name">
              Erin Cotter
            </div>
            <div class="item__position">
              Online Marketing Head
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-facebook" href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a class="item__social-twitter"  href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/erin-cotter-b54105114/"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="item__photo">
              <img src="assets/images/Alexandr-photo.png" alt="Aleksandar Djordjevic">
            </div>
            <div class="item__name">
              Aleksandar Djordjevic
            </div>
            <div class="item__position">
              Senior Software Developer
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-facebook" href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a class="item__social-twitter"  href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/deejayelly/"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="item__photo">
              <img src="assets/images/Nihal-photo.png" alt="Nihal Patel">
            </div>
            <div class="item__name">
              Nihal Patel
            </div>
            <div class="item__position">
              Blockchain Developer
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-facebook" href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a class="item__social-twitter"  href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/nihalpatel/ "><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="item__photo">
              <img src="assets/images/Angela-photo.png" alt="Angela Brasington">
            </div>
            <div class="item__name">
              Angela Brasington
            </div>
            <div class="item__position">
              Senior Marketing Strategist
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-facebook" href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a class="item__social-twitter"  href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/angela-brasington/"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="item__photo">
              <img src="assets/images/Dean-photo.png" alt="Dean Matthew Lapinid">
            </div>
            <div class="item__name">
              Dean Matthew Lapinid
            </div>
            <div class="item__position">
              Lead Community Manager
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a class="item__social-twitter" target="_blank" href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/dean-matthew-lapinid-540b68148/"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="item__photo">
              <img src="assets/images/Chad-photo.png" alt="Chad Copeland">
            </div>
            <div class="item__name">
              Chad Copeland
            </div>
            <div class="item__position">
              Creative Designer
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a class="item__social-twitter" target="_blank" href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/copedesign/"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="item__photo">
              <img src="assets/images/Annah-photo.png" alt="Annah Todd">
            </div>
            <div class="item__name">
              Annah Todd
            </div>
            <div class="item__position">
              Digital Marketing Consultant
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-facebook" target="_blank" href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a class="item__social-twitter" target="_blank"  href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/annahtodd/"><i class="fa fa-linkedin"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="triggers-team">
    <div class="main-container">
      <div class="wrapper">
        <div class="header-wrapper">
          <div class="sub-title">During and after the ICO, we expect our team to grow rapidly to include more:
          </div>
        </div>
        <div class="items">
          <div class="item">
            <div class="item__ico">
              <img src="assets/images/marketing.png" alt="marketing">
            </div>
            <div class="item__text">
              Online <br/> Marketing Experts
            </div>
          </div>
          <div class="item">
            <div class="item__ico">
              <img src="assets/images/blockchane.png" alt="blockchain">
            </div>
            <div class="item__text">
              Blockchain and Web Developers
            </div>
          </div>
          <div class="item">
            <div class="item__ico">
              <img src="assets/images/data-ico.png" alt="marketing">
            </div>
            <div class="item__text">
              Data <br/> Analysts
            </div>
          </div>
          <div class="item">
            <div class="item__ico">
              <img src="assets/images/aiprogrammer.png" alt="marketing">
            </div>
            <div class="item__text">
              AI <br/>Programmer
            </div>
          </div>
          <div class="item">
            <div class="item__ico">
              <img src="assets/images/social-ico.png" alt="marketing">
            </div>
            <div class="item__text">
              Social Media <br/>
              Marketing Experts
            </div>
          </div>
        </div>
        <div class="button-wrapper">
          <a class="btn-black" [routerLink]="['/signup']">Join Our Team</a>
        </div>
      </div>
    </div>
  </div>
</section>
