<div class="password-component">
  <div class="password-head"><h1>Password</h1></div>
  <form *ngIf="view" name="change">
    <label>Your password</label>
    <input class="form-password" type="password">
    <button type="button" (click)="changeView()" >Change</button>
  </form>
  <form *ngIf="!view" name="comfirm">
      <label>Your password</label>
      <input class="form-password" type="{{ !changeClassAndtype ? 'text': 'password'}}">
      <span class="icon-Token" (click)="changeClassAndType()"></span>
      <input class="form-password" type="{{ !changeClassAndTypeenter ? 'text': 'password'}}" placeholder="Enter new password">
      <span class="icon-Token" (click)="changeClassAndTypeEnter()"></span>
      <input class="form-password" type="{{ !changeClassAndTypecomfirm ? 'text': 'password'}}" placeholder="Comfirm new password">
      <span class="icon-Token" (click)="changeClassAndTypeComfirm()"></span>
      <button type="button" (click)="changeView()" >Comfirm</button>
    </form>
</div>
