<div class="sidebar">
  <div class="log-out">
    <a (click)="logout()">
      <i class="icon-logout"></i>
      <span>Log out</span>
    </a>
  </div>

  <div class="settings-wr">
    <div class="user">

    </div>

    <div class="setting">

    </div>
  </div>
  <div class="icon-Token"></div>
  <div class="icon-USD"></div>
  <div class="icon-bitcoin"></div>
  <div class="icon-building"></div>
  <div class="icon-dollar-symbol"></div>
  <div class="icon-ether"></div>
  <div class="icon-home"></div>
  <div class="icon-settings"></div>
  <div class="icon-shoppingCart"></div>
  <div class="icon-team"></div>
  <div class="icon-transfer"></div>
  <div class="icon-user"></div>
  <div class="icon-wallet"></div>


  <!--<a class="sidebar-brand" href="/">-->
  <!--<img src="assets/images/logo.png" class="logo" alt="Logo">-->
  <!--Crest Token-->
  <!--</a>-->
  <!--<ul class="">-->
    <!--<li>-->
      <!--<a [routerLink]="['dashboard']">Dashboard</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a [routerLink]="['buy']">Buy Tokens</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a [routerLink]="['wallet']"> Wallet </a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a [routerLink]="['comingsoon']" *ngAcl="['comingsoon', 'GET']"> Staking </a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a [routerLink]="['/backoffice', 'comingsoon']" *ngAcl="['comingsoon', 'GET']"> Exchange </a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a [routerLink]="['/backoffice', '/comingsoon']" *ngAcl="['comingsoon', 'GET']"> Campaign </a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a [routerLink]="['myreferrals']"> My Referrals </a>-->
    <!--</li>-->
    <!--<li class="drop">-->
      <!--<a class="drop-toggle" type="button" data-toggle="drop">-->
        <!--Profile-->
        <!--<span class="caret"></span>-->
      <!--</a>-->
      <!--<ul class="drop-menu">-->
        <!--<li *ngIf="!(user$ | async)?.twofactorEnabled">-->
          <!--<a [routerLink]="['setuptwofa']"> 2 FA Setup</a>-->
        <!--</li>-->
        <!--<li *ngIf="(user$ | async)?.twofactorEnabled">-->
          <!--<a [routerLink]="['disabletwofa']"> Disable 2 FA</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a [routerLink]="['editprofile']">Edit Profile</a>-->
        <!--</li>-->
        <!--<li>-->
          <!--<a [routerLink]="['changepassword']">Change Password</a>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a [routerLink]="['users']" *ngAcl="['users', 'GET']">Users</a>-->
    <!--</li>-->
    <!--<li>-->
      <!--<a [routerLink]="['referrals']" *ngAcl="['referrals', 'GET']">Referrals</a>-->
    <!--</li>-->

  <!--</ul>-->
</div>
