<div class="deposit-wrapper">
  <div class="deposit-content">
    <div class="pay-attention">
      <h1> Please pay attention! You selected:</h1>
    </div>
    <div class="deposit-currency">
      <i class="icon-bitcoin"></i>
      <span class="sidebar-text">Bitcoin BTC</span>
    </div>
    <div class="deposit-attention">
      <p>Attention:</p>
    </div>
    <div class="deposit-no-mistake">
      <p>Please do not mistakenly deposit other assets with the same name, ity can not be retrieved!</p>
    </div>
    <div class="deposit-confirm">
      <button>Confirm</button>
    </div>
  </div>
</div>