
<div class='back-office-table'>
    <table [ngClass]="{'scroll': scroll}">
      <thead>
      <tr>
        <th *ngFor="let i of dashboardTableHead, let ind=index ">{{i}}</th>
      </tr>
      </thead>
      <ng-scrollbar *ngIf="scroll" class="sample">
        <tbody>
        <tr *ngFor="let round of rounds, let ind=index " [class]="round.stage | lowercase">
          <td [class]="item.type" *ngFor="let item of round | row:columns"><span>{{item.value}}</span></td>
        </tr>
        </tbody>
      </ng-scrollbar>
      <tbody *ngIf="!scroll">
      <tr *ngFor="let round of rounds, let ind=index " [class]="round.stage || round.status || round.coin+'tr' | lowercase">
        <td [class]="item.type || item.value+1 " *ngFor="let item of round | row:columns"><span [innerHTML]='sanitazedHtml(item.value)'></span></td>
      </tr>
      </tbody>
    </table>
</div>
<div class="emptyMassege-wrapper" *ngIf="rounds.length === 0 ">
  <h5>
    You don't have any {{ emptyMassege }} as of now.
  </h5>
</div>
