<div class="buy-form">
  <h2 class="buy-form-title">Withdrawal funds</h2>
  <form [formGroup]="withdrawalForm">
    <div class="form-group" >
      <label>Wallet address* </label>
      <input formControlName="address" class="form-input" type="text" />
    </div>
    <div class="form-group" >
      <label>Amount*</label>
      <input class="form-input" type="number" />
    </div>
    <div class="form-group" >
      <label>2FA code</label>
      <input formControlName="tfaCode" class="form-input" type="text" />
    </div>
    <div class="currency-btn">
      <app-button (click)="withdrawal()" [buttonState]="buttonStateBuy"
                  [disabled]="withdrawalForm.invalid"></app-button>
    </div>
    <div class="currency-wr">

      <div class="total">
        You can withdraw up to {{(withdrawalData$ | async)?.available - (withdrawalData$ | async)?.fee | number:'1.2-6' }} {{coin?.asset?.code | uppercase}}<br>
        <span class="total-title">Fee: {{(withdrawalData$ | async)?.fee }} {{coin?.asset?.code | uppercase}} ( Deducted from balance ) </span>
      </div>
    </div>

  </form>
</div>
