<div class="buy-form">
  <h2 class="buy-form-title">Withdrawal funds</h2>
  <form [formGroup]="withdrawalForm">
    <div [ngClass]="{focused:v.active}" class="form-group" >
      <label class="form-label" >Wallet address</label>
      <input appLable #v="lable" formControlName="cstt_address" class="form-input" type="number" />
    </div>
    <div  [ngClass]="{focused:c.active}" class="form-group" >
      <label class="form-label" >Amount</label>
      <input  appLable #c="lable" formControlName="amount" class="form-input" type="number" />
    </div>
    <div  [ngClass]="{focused:g.active}"  class="form-group" >
      <label class="form-label" >Please input your 2FA code</label>
      <input  appLable #g="lable" formControlName="2FACode" class="form-input" type="number" />
    </div>
    <div class="currency-btn">
      <app-button (click)="withdrawal()"  [buttonState]="buttonStateBuy"></app-button>
    </div>
    <div class="currency-wr">

      <div class="total">
        <span class="total-title">Fee:0.001 BTC ( Deducted from balance ) </span>
      </div>
    </div>

  </form>
</div>
