<section class="about-wr">
  <div class="main-container" style="max-width: 1100px;">
    <div class="feature">
      <div class="text">
        <div class="text-wr">
          <h3><span>Smart Ad Campaigns</span><br>On the Blockchain</h3>
          <p>Creating transparency between advertisers in publishers, reducing click fraud and maximizing engagement.</p>
        </div>
      </div>
      <div class="image">
        <img src="/assets/images/landing/smart-ad.png" />
      </div>
    </div>
    <div class="feature reversed">
      <div class="image">
        <img src="/assets/images/landing/cstt-image.png" style="width: 518px;" />
      </div>
      <div class="text">
        <div class="text-wr">
          <h3><span>Crest Token (CSTT)</span><br>Empowering the Platform</h3>
          <p>Our token is the key element that truly<br>connects all peices of the puzzle together.</p>
        </div>
      </div>
    </div>
    <div class="feature">
      <div class="text">
        <div class="text-wr">
          <h3><span>Crypto Passive Income</span><br>1.15% - 2.25% Paid Daily</h3>
          <p>Users have the ability to invest in advertising campaigns, allowing them to earn healthy daily interest rates.</p>
        </div>
      </div>
      <div class="image">
        <img src="/assets/images/landing/daily-interest.png" />
      </div>
    </div>
    <div class="feature reversed">
      <div class="image">
        <h4>Digital ad Spending worldwide 2017-2022<br><span>IN BILLIONS</span></h4>
        <img src="/assets/images/landing/serving-image.png" />
        <p>Source: <a href="https://www.emarketer.com/content/emarketer-total-media-ad-spending-worldwide-will-rise-7-4-in-2018" target="_blank">https://www.emarketer.com</a></p>
      </div>
      <div class="text">
        <div class="text-wr">
          <h3><span>Serving the $300<br>Billion Dollar</span> Digital Advertising Industry</h3>
        </div>
      </div>
    </div>
    <div class="feature">
      <div class="text">
        <div class="text-wr">
          <h3><span>Ensuring Everyone Earns</span><br>Advertisers, Publishers and Investors</h3>
          <p>Users have the ability to invest in advertising campaigns, allowing them to earn healthy daily interest rates.</p>
        </div>
      </div>
      <div class="image">
        <img src="/assets/images/landing/screen-ensuring.png" style="width: 376px;" />
      </div>
    </div>

    <div class="conclude">
      <h3><span>The 1% Crest Club</span><br>Your Share of $3 Billion Dollars</h3>
      <p>Crest Will Capitlalize on at least 1% of a $300 Billion Dollar Industry.<br><br>That's <span>$3,000,000,000</span> yearly shared between all our users.<br>How much you Earn, is in your hands. </p>
    </div>
  </div>
</section>
