label,
label span,
label input {
  display: block;
  width: 100%;
}

.modal-container {
  width: 100%;
  min-width: 350px;
  text-align: center;
}

.btn-wr {
  text-align: center;
}

.btn-wr button {
  display: inline-block;
}
