<section class="back-office">
  <app-sidebar></app-sidebar>
  <div class="header-wrapper"><app-backoffice-header></app-backoffice-header></div>
  <router-outlet></router-outlet>
  <div class="footer-wrapper"><app-backoffice-footer></app-backoffice-footer></div>

  <!--<div class="icon-Exclamation"></div>-->
  <!--<div class="icon-Token"></div>-->
  <!--<div class="icon-USD"></div>-->
  <!--<div class="icon-bitcoin"></div>-->
  <!--<div class="icon-building"></div>-->
  <!--<div class="icon-close"></div>-->
  <!--<div class="icon-dollar-symbol"></div>-->
  <!--<div class="icon-email"></div>-->
  <!--<div class="icon-ether"></div>-->
  <!--<div class="icon-home"></div>-->
  <!--<div class="icon-live-chat"></div>-->
  <!--<div class="icon-logog-crest-token"></div>-->
  <!--<div class="icon-logout"></div>-->
  <!--<div class="icon-next"></div>-->
  <!--<div class="icon-pending"></div>-->
  <!--<div class="icon-send-mail"></div>-->
  <!--<div class="icon-settings"></div>-->
  <!--<div class="icon-shoppingCart"></div>-->
  <!--<div class="icon-team"></div>-->
  <!--<div class="icon-tick"></div>-->
  <!--<div class="icon-transfer"></div>-->
  <!--<div class="icon-user"></div>-->
  <!--<div class="icon-wallet"></div>-->
</section>

