@import "../../assets/css/variables"

*
  box-sizing: border-box
.back-office
  background-color: $bg-back-office
  min-height: 100vh
  position: relative
a
  text-decoration: none

img
  width: 100%
  display: inline-block
