<div *ngIf="!unauthorized">
  <!--<app-admin-navbar></app-admin-navbar>-->
  <div class="container-fluid full-width-container value-added-detail-page">
    <h1 class="title">Total Users: {{users.length}}</h1>
    <div class="table-responsive pmd-card pmd-z-depth">

      <table class="table table-mc-red pmd-table">
        <thead>
        <tr>
          <th>S/N</th>
          <th>Username</th>
          <th>Email</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Country</th>
          <th>Signup Date</th>
          <th>Email Verification</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let user of users; let i = index" id="{{user._id}}">
          <td>{{i + 1}}</td>
          <td data-title="Username">{{user.username}}</td>
          <td data-title="Email">{{user.email}}</td>
          <td data-title="First Name" *ngIf="user.profile">{{user.profile.firstname}}</td>
          <td data-title="Last Name" *ngIf="user.profile">{{user.profile.lastname}}</td>
          <td data-title="Country" *ngIf="user.profile">{{user.profile.country}}</td>
          <td data-title="First Name" *ngIf="!user.profile">N/A</td>
          <td data-title="Last Name" *ngIf="!user.profile">N/A</td>
          <td data-title="Country" *ngIf="!user.profile">N/A</td>
          <td data-title="Signup Date">{{user.createdAt | date:'yyyy-MM-dd HH:mm a z':'+0000'}}</td>
          <td data-title="Verification">{{user.isVerified}}</td>
        </tr>

        </tbody>
      </table>

    </div>

  </div>

</div>



<h1 *ngIf="unauthorized"> Unauthorized User </h1>
<h1 *ngIf="servererror"> Server Error </h1>
