@import "../../../backoffice/backoffice.component"
.instruction-wr
  .instruction-title
    font-family: $OpenSansSemiBold
    font-size: 24px
    color: $backoffice-white
    padding-bottom: 20px
  .instruction-desc
    font-family: $OpenSansRegular
    font-size: 16px
    color: $backoffice-white
    padding-bottom: 20px
  .instruction-item
    font-family: $OpenSansRegular
    padding-bottom: 45px
    .step
      font-family: $OpenSansSemiBold
      font-size: 16px
      color: #c0c9d1
      display: inline-block
      background: url("../../../../assets/images/elipse.png") no-repeat 100% 2px
      padding-right: 62px
    p
      padding-top: 20px
      font-family: $OpenSansRegular
      font-size: 14px
      color: #737d84
      opacity: 0.8
