<!--<header class="site-header is-sticky">-->
  <!--<div id="particles-js" class="particles-container particles-js"></div>-->
  <!--<div class="navbar navbar-expand-lg is-transparent" id="mainnav">-->
    <!--<nav class="container">-->
      <!--<a class="navbar-brand" href="./">-->
        <!--<img class="logo logo-dark" alt="logo" src="assets/images/logo.png" srcset="assets/images/logo2x.png 2x">-->
        <!--<h6 class="brand-name">Crest Token</h6>-->
      <!--</a>-->
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle">-->
					<!--<span class="navbar-toggler-icon">-->
						<!--<span class="ti ti-align-justify"></span>-->
					<!--</span>-->
      <!--</button>-->
      <!--<div class="collapse navbar-collapse justify-content-end" id="navbarToggle">-->
        <!--<ul class="navbar-nav">-->
          <!--&lt;!&ndash; <li class="nav-item"><a class="nav-link menu-link" href="#intro">What is ICO<span class="sr-only">(current)</span></a></li> &ndash;&gt;-->
          <!--<li class="nav-item"><a class="nav-link menu-link" href="#intro">What is Crest Token<span class="sr-only">(current)</span></a>-->
          <!--</li>-->
          <!--<li class="nav-item"><a class="nav-link menu-link" href="#tokenSale">Token Sale</a></li>-->
          <!--<li class="nav-item"><a class="nav-link menu-link" href="#roadmap">Roadmap</a></li>-->
          <!--<li class="nav-item"><a class="nav-link menu-link" href="#team">Team</a></li>-->
          <!--&lt;!&ndash;	<li class="nav-item"><a class="nav-link menu-link" href="#partners">Partners</a></li>-->
            <!--<li class="nav-item dropdown">-->
              <!--<a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">MORE</a>-->
              <!--<div class="dropdown-menu">-->
                <!--<a class="dropdown-item menu-link" href="#media-partner">Media Partners</a>-->
                <!--<a class="dropdown-item menu-link" href="#blogs">Blogs</a>-->
                <!--<a class="dropdown-item menu-link" href="#faq">Faqs</a>-->
              <!--</div>-->
            <!--</li>-->
            <!--<li class="nav-item"><a class="nav-link menu-link" href="#contact">Contact</a></li>&ndash;&gt;-->
          <!--<li class="nav-item"><a class="nav-link menu-link signuplink" target="_blank">Sign Up</a></li>-->
          <!--<li class="nav-item"><a class="nav-link menu-link" href="https://ico.cresttoken.com/login" target="_blank">Login</a>-->
          <!--</li>-->
        <!--</ul>-->
        <!--<ul class="navbar-nav navbar-btns">-->
          <!--<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" style="color:white !important"-->
                                  <!--href="assets/CrestTokenWhitepaper.pdf" target="_blank">Whitepaper</a></li>-->
          <!--&lt;!&ndash;<li class="nav-item"><a class="nav-link btn btn-sm btn-outline menu-link" href="#apps">Try App</a></li>&ndash;&gt;-->
        <!--</ul>-->
      <!--</div>-->
    <!--</nav>-->
  <!--</div>-->
  <!--<div class="fixed-bottom-pane">-->
    <!--<a class="btn btn-alt btn-sm signuplink" target="_blank">Get Started Now</a>-->
  <!--</div>-->
  <!--<a id="gototop" href="#"><em class="fa fa-arrow-circle-o-up gototop"></em></a>-->
  <!--<div id="header" class="banner banner-full banner-curb d-flex align-items-center">-->
    <!--<div class="container">-->
      <!--<div class="banner-content">-->
        <!--<div class="row align-items-center">-->
          <!--<div class="col-lg-6 col-md-12">-->
            <!--<div class="header-txt tab-center mobile-center">-->
              <!--<h1>What is Crest Token?</h1>-->
              <!--<p class="lead custom-p" style="color:#05386B !important">The Crest DigiAd Platform is an online marketing-->
                <!--& digital advertising-->
                <!--platform that generates daily returns by allocating Crest utility tokens to run-->
                <!--several ad campaigns.-->
                <!--We develop a robust, user-friendly DigiAd campaign platform that runs on-->
                <!--independent ad servers equipped with automated self-learning algorithms.</p>-->

              <!--&lt;!&ndash;	<ul class="btns">-->
                  <!--<li><a href="#" class="btn">Sign up to Join</a></li>-->
                  <!--<li><a href="#" class="btn btn-alt">TOKEN DISTRIBUTION</a></li>-->
                <!--</ul>-->
                <!--<ul class="social">-->
                  <!--<li><a href="#"><em class="fa fa-facebook"></em></a></li>-->
                  <!--<li><a href="#"><em class="fa fa-twitter"></em></a></li>-->
                  <!--<li><a href="#"><em class="fa fa-youtube-play"></em></a></li>-->
                  <!--<li><a href="#"><em class="fa fa-github"></em></a></li>-->
                  <!--<li><a href="#"><em class="fa fa-bitcoin"></em></a></li>-->
                  <!--<li><a href="#"><em class="fa fa-medium"></em></a></li>-->
                  <!--<li><em class="fa fa-paper-plane"></em><span>Join us on Telegram</span></li>-->
                <!--</ul>&ndash;&gt;-->
              <!--<ul class="social">-->
                <!--<li><a href="https://t.me/cresttoken" target="_blank"><em class="fa fa-paper-plane"></em></a><span-->
                  <!--style="color:#05386B !important">Join us on Telegram</span></li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>&lt;!&ndash; .col  &ndash;&gt;-->
          <!--<div class="col-lg-5 offset-lg-1 col-md-12">-->
            <!--<div class="countdown-box countdown-header text-center">-->
              <!--<span class="extra-line"></span>-->
              <!--<h1> Pre ICO is live</h1>-->
              <!--<div class="token-countdown d-flex align-content-stretch" data-date="2018/05/24 13:00"></div>-->
              <!--&lt;!&ndash;	<h3><span class="count">251097</span></h3><h6> MEMBERS SO FAR</h6> &ndash;&gt;-->
              <!--<a class="btn btn-alt btn-sm signuplink" style="background-color:#F3CC6C;">Get Started Now</a>-->

            <!--</div>-->
          <!--</div>&lt;!&ndash; .col  &ndash;&gt;-->
        <!--</div>&lt;!&ndash; .row  &ndash;&gt;-->
      <!--</div>&lt;!&ndash; .banner-content  &ndash;&gt;-->
    <!--</div>&lt;!&ndash; .container  &ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash; End Banner/Slider &ndash;&gt;-->
<!--</header>-->
<!--<div class="section section-pad no-pb section-bg-alt" id="intro">-->
  <!--<div class="container">-->
    <!--<div class="row align-items-center">-->
      <!--<div class="col-md-5">-->
        <!--<div class="res-m-btm">-->
          <!--<img src="assets/images/custom_graph2.png" alt="graph">-->
        <!--</div>-->
      <!--</div>&lt;!&ndash; .col  &ndash;&gt;-->
      <!--<div class="col-md-6 offset-md-1">-->
        <!--<div class="text-block">-->
          <!--&lt;!&ndash;		<h4>What is ICO Crypto?</h4>-->
              <!--<p class="lead">ICO Crypto is a platform for the future of funding that powering dat for the new equity blockchain.</p>-->
              <!--<p>While existing solutions offer to solve just one problem at a time, our team is up to build a secure, useful, &amp; easy-to-use product based on private blockchain. It will include easy cryptocurrency payments integration, and even a digital arbitration system. </p>-->
              <!--<p>At the end, Our aims to integrate all companies, employees, and business assets into a unified blockchain ecosystem, which will make business truly efficient, transparent, and reliable.</p>-->
              <!--&ndash;&gt;-->
          <!--<h4>What is Crest Token?</h4>-->
          <!--<p class="custom-p">Crest is a <span-->
            <!--style="font-size:1.4em;color:#00ff7f"><b><i>“smart Ad campaign”</i></b></span> token</p>-->
          <!--<p class="custom-p"><span style="font-size:1.4em;color:black;"><b>Crest DigiAd Platform</b></span> runs on-->
            <!--Crest Token</p>-->
          <!--<p class="custom-p">The Crest Platform combines the power of online marketing and artificial intelligence-->
            <!--(AI), and is designed to generate income for the members of the Crest community by allocating Crest utility-->
            <!--tokens to run several marketing and advertising campaigns than in-turn generates income for the-->
            <!--community.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="section section-pad section-bg-alt nopb">-->
  <!--<div class="container">-->
    <!--<div class="row align-items-center">-->
      <!--<div class="col-md-5 offset-md-1">-->
        <!--<div class="res-m-btm">-->
          <!--<img src="assets/images/logo.png" alt="graph" style="width:100%;">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-6 order-md-first order-last">-->
        <!--<div class="text-block">-->
          <!--<h4>Why Crest Token?</h4>-->
          <!--<p class="custom-p">Millions want to generate passive income through online-->
            <!--marketing and digital advertising but do not have the skills or-->
            <!--resources to succeed.</p>-->
          <!--<p class="custom-p">We, for the first time, combine the power of cryptocurrency-->
            <!--and Artificial Intelligence with the $300Bn online marketing and-->
            <!--digital advertising industry.</p>-->
          <!--<p class="custom-p">The promoters of Crest token have decades of experience and-->
            <!--have generated substantial revenue in the online marketing-->
            <!--industry over the last 10 years.</p>-->
          <!--<p class="custom-p">Combining the Crest Token with an established industry-->
            <!--(online marketing) gives stability and capital-->
            <!--protection to our community of members within this volatility-prone cryptocurrency space.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="section section-pad no-pb section-bg-alt">-->
  <!--<div class="container">-->
    <!--<div class="row align-items-center">-->
      <!--<div class="col-md-5">-->
        <!--<div class="res-m-btm">-->
          <!--<img src="assets/images/unique.png" alt="graph" style="border-radius:50%">-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-6 offset-md-1">-->
        <!--<div class="text-block">-->
          <!--<h2>What Makes us Unique from the Rest</h2>-->
          <!--<ul>-->
            <!--<li>-->
              <!--<p class="custom-p">-->
                <!--Our business model is completely independent of the cryptocurrency volatility.-->
              <!--</p>-->
            <!--</li>-->
            <!--<li>-->
              <!--<p class="custom-p">-->
                <!--Fully developed platform at the close of the ICO.-->
              <!--</p>-->
            <!--</li>-->
            <!--<li>-->
              <!--<p class="custom-p">-->
                <!--Daily community update via email and active social platforms.-->
              <!--</p>-->
            <!--</li>-->
            <!--<li>-->
              <!--<p class="custom-p">-->
                <!--We will not hold onto your Bitcoin or Ethereum during ICO.-->
              <!--</p>-->
            <!--</li>-->
            <!--<li>-->
              <!--<p class="custom-p">-->
                <!--Lower and higher purchase cap range during ICO.-->
              <!--</p>-->
            <!--</li>-->
            <!--<li>-->
              <!--<p class="custom-p">-->
                <!--Generous bounty program.-->
              <!--</p>-->
            <!--</li>-->
            <!--<li>-->
              <!--<p class="custom-p">-->
                <!--Weekly Token buyback &Token Burn.-->
              <!--</p>-->
            <!--</li>-->
            <!--<li>-->
              <!--<p class="custom-p">-->
                <!--Clear openness on ICO funds allocation.-->
              <!--</p>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="section section-pad section-bg-alt" id="tokenSale">-->
  <!--<div class="container">-->
    <!--<div class="row text-center">-->
      <!--<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">-->
        <!--<div class="section-head">-->
          <!--<h2 class="section-title">TOKEN SALE-->
            <!--<span>TOKEN</span>-->
          <!--</h2>-->
          <!--<p>Our token will be an ERC20 token.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row align-items-center">-->
      <!--<div class="col-lg-6 res-m-bttm">-->
        <!--<div class="row event-info">-->
          <!--<div class="col-sm-6">-->
            <!--<div class="event-single-info">-->
              <!--<h6>Ticker</h6>-->
              <!--<p>CSTT</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-6">-->
            <!--<div class="event-single-info">-->
              <!--<h6>Pre-ICO Date</h6>-->
              <!--&lt;!&ndash;	<p>900,000 ICC (9%)</p> &ndash;&gt;-->
              <!--<p>24th May (1pm GMT) – 18th June (1pm GMT)</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-6">-->
            <!--<div class="event-single-info">-->
              <!--<h6>Main ICO Date:</h6>-->
              <!--<p>18th June – 18th July</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-6">-->
            <!--<div class="event-single-info">-->
              <!--<h6>Token Price</h6>-->
              <!--<p>$0.25/CSTT - $1.85/CSTT</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-6">-->
            <!--<div class="event-single-info">-->
              <!--<h6>Pre-Sale ICO Tokens</h6>-->
              <!--<p>1,000,000</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-6">-->
            <!--<div class="event-single-info">-->
              <!--<h6>Main ICO Tokens</h6>-->
              <!--<p>6,400,000</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-6">-->
            <!--<div class="event-single-info">-->
              <!--<h6>Total Tokens Supply</h6>-->
              <!--<p>12,500,000</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-6">-->
            <!--<div class="event-single-info">-->
              <!--<h6>Min/Max Personal Cap</h6>-->
              <!--<p>20 / 1500 CSTT (depending on round)</p>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="col-sm-6">-->
            <!--<div class="event-single-info">-->
              <!--<h6>Accepts</h6>-->
              <!--<p>ETH and BTC</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-lg-5 offset-lg-1">-->
        <!--<div class="countdown-box text-center">-->
          <!--<h3> Limited tokens available on the Pre-ICO</h3>-->
          <!--<div class="token-countdown d-flex align-content-stretch" data-date="2018/05/24 13:00"></div>-->
          <!--<a class="btn btn-alt btn-sm signuplink">Join &amp; BUY ASAP</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="gaps size-3x"></div>-->
    <!--<div class="gaps size-3x d-none d-md-block"></div>-->
    <!--<div class="row text-center">-->
      <!--<div class="col-md-6">-->
        <!--<div class="single-chart res-m-btm">-->
          <!--<h3 class="sub-heading">Token Sale Information</h3>-->
          <!--<div>-->
            <!--<img src="assets/images/TokenSaleInformation.png" alt="chart">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-6">-->
        <!--<div class="single-chart">-->
          <!--<h3 class="sub-heading">Use of proceeds</h3>-->
          <!--<div>-->
            <!--<img src="assets/images/ICOFundsDistribution.png" alt="chart">-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="section section-pad section-bg section-connect" id="roadmap">-->
  <!--<div class="container">-->
    <!--<div class="row text-center">-->
      <!--<div class="col">-->
        <!--<div class="section-head">-->
          <!--<h2 class="section-title">Our Roadmap-->
            <!--<span>RoadMap</span>-->
          <!--</h2>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row text-center">-->
      <!--<img src="assets/images/roadmap.png" alt="roadmap" style="height:100%; width:100%;"/>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="section section-pad no-pb section-bg-alt section-fix" id="participate">-->
  <!--<div class="container">-->
    <!--<div class="row text-center">-->
      <!--<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">-->
        <!--<div class="section-head">-->
          <!--<h2 class="section-title">How To Participate-->
            <!--<span>Participate</span>-->
          <!--</h2>-->
          <!--<p>Follow given steps to participate in ICO-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="participate">-->
    <!--<div class="participate_container">-->
      <!--<div class="participate_item">-->
        <!--<img src="assets/images/register.png" class="participate_image"/>-->
        <!--<h6>Step 1</h6>-->
        <!--<h6>Register or log in to your Crest account</h6>-->
      <!--</div>-->
      <!--<div class="participate_item">-->
        <!--<img src="assets/images/dashboard.png" class="participate_image"/>-->
        <!--<h6>Step 2</h6>-->
        <!--<h6>Follow the instructions outlined on your ICO dashboard</h6>-->
      <!--</div>-->
      <!--<div class="participate_item">-->
        <!--<img src="assets/images/deposit.png" class="participate_image"/>-->
        <!--<h6>Step 3</h6>-->
        <!--<h6>Deposit ETH or BTC to the address provided on your dashboard</h6>-->
      <!--</div>-->
      <!--<div class="participate_item">-->
        <!--<img src="assets/images/Receive.png" class="participate_image"/>-->
        <!--<h6>Step 4</h6>-->
        <!--<h6>Receive your CSTT token to your ERC20 compatible wallet</h6>-->
      <!--</div>-->
      <!--<div class="participate_item">-->
        <!--<img src="assets/images/done.png" class="participate_image"/>-->
        <!--<h6>Step 5</h6>-->
        <!--<h6>You’re done!You’re done!You’re done!</h6>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="section section-pad no-pb section-bg-alt section-fix" id="GenerateReturn">-->
  <!--<div class="container">-->
    <!--<div class="row text-center">-->
      <!--<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">-->
        <!--<div class="section-head">-->
          <!--<h2 class="section-title">How Members Generate Returns With Crest Token-->
            <!--<span>Generate</span>-->
          <!--</h2>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="GenerateReturn">-->
    <!--<div class="GenerateReturn_container">-->
      <!--<div class="GenerateReturn_item">-->
        <!--<h3>Referral Program</h3>-->
        <!--<p class="custom-p">-->
          <!--You earn 10% of DigiAd campaign capital from users-->
          <!--you directly introduce to our platf-->
          <!--orm.-->
        <!--</p>-->
      <!--</div>-->
      <!--<div class="GenerateReturn_item">-->
        <!--<h3>Staking Income</h3>-->
        <!--<p class="custom-p">-->
          <!--Staking allows member to earn monthly dividends in the form of CSTT-->
          <!--tokens (up to 10%).</p>-->
      <!--</div>-->
      <!--<div class="GenerateReturn_item">-->
        <!--<h3>DigiAd Campaign</h3>-->
        <!--<p class="custom-p">-->
          <!--We generate profit for our members by allocating the dollar value of their-->
          <!--Crest token to fund ad campaigns on our DigiAd platform.-->
          <!--You can earn between 1.75% and 2.25% daily consistently for 89 - 179 days.</p>-->
        <!--<p class="TnC">-->
          <!--*Kindly note that your initial capital release is inclusive in the daily payout return.</p>-->
      <!--</div>-->
      <!--<div class="GenerateReturn_item">-->
        <!--<h3>Int/Ext Exchange</h3>-->
        <!--<p class="custom-p">-->
          <!--Trading of CSTT tokens on the internal and external exchange.-->
          <!--Due to the expected popularity of our platform and the use value that will be created,-->
          <!--we anticipate CSTT token to be trading around 100X ICO price in 12 months of full platform launch.</p>-->
        <!--<p class="TnC">-->
          <!--*Please be aware that Crest platform will not manipulate trading activities on our exchange.-->
          <!--The true value of Crest token at any particular time will be determined by market forces (supply and-->
          <!--demand).</p>-->
      <!--</div>-->
      <!--<div class="GenerateReturn_item">-->
        <!--<h3>Bounty Program</h3>-->
        <!--<p class="custom-p">-->
          <!--Our bounty program will allow users to earn free CSTT-->
          <!--tokens and bonuses in several ways.</p>-->
        <!--<p class="TnC">*Approx 250,000 free CSTT tokens to be distributed to members during ICO Presale-->
          <!--and Main sale.</p>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="section section-pad no-pb section-bg-alt section-fix" id="team">-->
  <!--<div class="container">-->
    <!--<div class="row text-center">-->
      <!--<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">-->
        <!--<div class="section-head">-->
          <!--<h2 class="section-title">Team-->
            <!--<span>Team</span>-->
          <!--</h2>-->
          <!--<p>We have put together an amazing team with diverse skills to-->
            <!--make Crest token a unique success.-->
            <!--<br/>-->
            <!--Our Team Includes-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="ourteam_container">-->
    <!--<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">-->
      <!--<div class="team-member">-->
        <!--<div class="team-photo">-->
          <!--<img src="assets/images/team1.png" alt="team">-->
          <!--&lt;!&ndash;	<a href="#team-profile-1" class="expand-trigger content-popup"></a>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="team-info">-->
          <!--<h5 class="team-name">Ben Sanders</h5>-->
          <!--<span class="team-title">Project Lead </span>-->
          <!--<ul class="team-social">-->
            <!--<li><a href="https://www.linkedin.com/in/ben-sanders-53405a157/" target="_blank"><em-->
              <!--class="fa fa-linkedin"></em></a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">-->
      <!--<div class="team-member">-->
        <!--<div class="team-photo">-->
          <!--<img src="assets/images/team2.png" alt="team">-->
          <!--&lt;!&ndash;	<a href="#team-profile-1" class="expand-trigger content-popup"></a>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="team-info">-->
          <!--<h5 class="team-name">Erin Cotter</h5>-->
          <!--<span class="team-title">Online Marketing Head</span>-->
          <!--<ul class="team-social">-->
            <!--<li><a href="https://www.linkedin.com/in/erin-cotter-b54105114/" target="_blank"><em-->
              <!--class="fa fa-linkedin"></em></a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">-->
      <!--<div class="team-member">-->
        <!--<div class="team-photo">-->
          <!--<img src="assets/images/team3.png" alt="team">-->
          <!--&lt;!&ndash;	<a href="#team-profile-1" class="expand-trigger content-popup"></a>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="team-info">-->
          <!--<h5 class="team-name">Aleksandar Djordjevic</h5>-->
          <!--<span class="team-title">Senior Software Developer</span>-->
          <!--<ul class="team-social">-->
            <!--<li><a href="https://www.linkedin.com/in/deejayelly/" target="_blank"><em class="fa fa-linkedin"></em></a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">-->
      <!--<div class="team-member">-->
        <!--<div class="team-photo">-->
          <!--<img src="assets/images/team4.png" alt="team">-->
          <!--&lt;!&ndash;	<a href="#team-profile-1" class="expand-trigger content-popup"></a>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="team-info">-->
          <!--<h5 class="team-name">Nihal Patel</h5>-->
          <!--<span class="team-title">Blockchain Developer</span>-->
          <!--<ul class="team-social">-->
            <!--<li><a href="https://www.linkedin.com/in/nihalpatel/" target="_blank"><em class="fa fa-linkedin"></em></a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">-->
      <!--<div class="team-member">-->
        <!--<div class="team-photo">-->
          <!--<img src="assets/images/team5.png" alt="team">-->
          <!--&lt;!&ndash;	<a href="#team-profile-1" class="expand-trigger content-popup"></a>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="team-info">-->
          <!--<h5 class="team-name">Angela Brasington</h5>-->
          <!--<span class="team-title">Senior Marketing Strategist</span>-->
          <!--<ul class="team-social">-->
            <!--<li><a href="https://www.linkedin.com/in/angela-brasington/" target="_blank"><em-->
              <!--class="fa fa-linkedin"></em></a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">-->
      <!--<div class="team-member">-->
        <!--<div class="team-photo">-->
          <!--<img src="assets/images/team6.png" alt="team">-->
          <!--&lt;!&ndash;	<a href="#team-profile-1" class="expand-trigger content-popup"></a>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="team-info">-->
          <!--<h5 class="team-name">Dean Matthew Lapinid</h5>-->
          <!--<span class="team-title">Lead Community Manager</span>-->
          <!--<ul class="team-social">-->
            <!--<li><a href="https://www.linkedin.com/in/dean-matthew-lapinid-540b68148/" target="_blank"><em-->
              <!--class="fa fa-linkedin"></em></a></li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">-->
      <!--<div class="team-member">-->
        <!--<div class="team-photo">-->
          <!--<img src="assets/images/team7.png" alt="team">-->
          <!--&lt;!&ndash;	<a href="#team-profile-1" class="expand-trigger content-popup"></a>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="team-info">-->
          <!--<h5 class="team-name">Chad Copeland</h5>-->
          <!--<span class="team-title">Creative Designer</span>-->
          <!--<ul class="team-social">-->
            <!--<li><a href="https://www.linkedin.com/in/copedesign/" target="_blank"><em class="fa fa-linkedin"></em></a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-6 col-lg-3 d-inline-flex justify-content-center">-->
      <!--<div class="team-member">-->
        <!--<div class="team-photo">-->
          <!--<img src="assets/images/team8.png" alt="team">-->
          <!--&lt;!&ndash;	<a href="#team-profile-1" class="expand-trigger content-popup"></a>&ndash;&gt;-->
        <!--</div>-->
        <!--<div class="team-info">-->
          <!--<h5 class="team-name">Annah Todd</h5>-->
          <!--<span class="team-title">Digital Marketing Consultant</span>-->
          <!--<ul class="team-social">-->
            <!--<li><a href="https://www.linkedin.com/in/annahtodd/" target="_blank"><em class="fa fa-linkedin"></em></a>-->
            <!--</li>-->
          <!--</ul>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="container">-->
    <!--<div class="row text-center">-->
      <!--<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">-->
        <!--<div class="section-head">-->
          <!--<p>During and after the ICO, we expect our team to grow rapidly to include more-->
          <!--</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="ourteam">-->
    <!--<div class="ourteam_container">-->
      <!--<div class="ourteam_item">-->
        <!--<img src="assets/images/marketing-expert.png" class="ourteam_image"/>-->
        <!--<h6>Online Marketing Experts</h6>-->
      <!--</div>-->
      <!--<div class="ourteam_item">-->
        <!--<img src="assets/images/blockchain.png" class="ourteam_image"/>-->
        <!--<h6>Blockchain and Web Developers</h6>-->
      <!--</div>-->
      <!--<div class="ourteam_item">-->
        <!--<img src="assets/images/data-analyst.png" class="ourteam_image"/>-->
        <!--<h6>Data Analysts</h6>-->
      <!--</div>-->
      <!--<div class="ourteam_item">-->
        <!--<img src="assets/images/ai.png" class="ourteam_image"/>-->
        <!--<h6>AI Programmer</h6>-->
      <!--</div>-->
      <!--<div class="ourteam_item">-->
        <!--<img src="assets/images/social-media-marketing.png" class="ourteam_image"/>-->
        <!--<h6>Social media marketing experts</h6>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--<br><br><br>-->
  <!--<center><a class="btn btn-alt btn-sm signuplink" style="padding: 8px 98px;;">Join NOW</a></center>-->
<!--</div>-->

<!--<div class="section section-pad section-bg-alt" id="contact">-->
  <!--<div class="container">-->
    <!--<div class="row text-center">-->
      <!--<div class="col">-->
        <!--<div class="section-head">-->
          <!--<h2 class="section-title">Contact Us-->
            <!--<span>Contact</span>-->
          <!--</h2>-->
          <!--<p>Any questions?</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col-lg-9 offset-lg-2">-->
        <!--<ul class="contact-info">-->
          <!--<li><a href="mailto:contact@cresttoken.com" target="_blank" style="background-color: transparent;"><em-->
            <!--class="fa fa-envelope"></em></a><span>contact@cresttoken.com</span></li>-->
          <!--<li><a href="https://twitter.com/CrestToken" target="_blank" style="background-color: transparent;"><em-->
            <!--class="fa fa-twitter"></em></a><span>Follow us on Twitter</span></li>-->
          <!--<li><a href="https://t.me/cresttoken" target="_blank" style="background-color: transparent;"><em-->
            <!--class="fa fa-paper-plane"></em></a><span>Join us on Telegram</span></li>-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="section subscribe-section section-pad-md section-bg section-connect">-->
  <!--<div class="container">-->
    <!--<div class="row text-center">-->
      <!--<div class="col-md-6 offset-md-3">-->
        <!--<h4 class="section-title-md">Don't miss out, Stay updated</h4>-->
        <!--<a class="btn btn-plane" href="https://t.me/cresttoken" target="_blank">Subscribe to our Telegram</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div class="section footer-section no-pt section-pad-sm section-bg">-->
  <!--<div class="container">-->
    <!--<div class="row text-center">-->
      <!--<div class="col-md-12">-->
        <!--<ul class="social">-->
          <!--<li><a href="https://m.facebook.com/thecresttoken" target="_blank"><em class="fa fa-facebook"></em></a></li>-->
          <!--<li><a href="https://twitter.com/CrestToken" target="_blank"><em class="fa fa-twitter"></em></a></li>-->
          <!--<li><a href="https://bitcointalk.org/index.php?topic=3557431.msg36381357#msg36381357" target="_blank"><em-->
            <!--class="fa fa-bitcoin"></em></a></li>-->
          <!--<li><a href="https://medium.com/@cresttoken" target="_blank"><em class="fa fa-medium"></em></a></li>-->
          <!--<li><a href="https://www.instagram.com/cresttoken/" target="_blank"><em class="fa fa-instagram"></em></a></li>-->
        <!--</ul>-->
        <!--<span class="copyright-text">-->
						<!--Copyright &copy; 2018, Crest Token.-->
						<!--<span>All trademarks and copyrights belong to their respective owners.</span>-->
					<!--</span>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
