<section id="special-video" class="page_video">
  <div id="particles"></div>
  <!-- ####### HEADER START ####### -->
  <header>
    <div class="container-fluid">
      <div class="container">
        <nav class="navbar navbar-light p-0">			
        <a class="navbar-brand" href="#"><img src="/assets/images/special-video/main-logo.png" alt="Teleportal - Leader In Virtual Video Reception Kiosks"  />
        </a>
        </nav>
        <div class="text-center">
          <h1><span>Crypto Currency Profit-Sharing System</span><br/>Using Affiliate Marketing AI Technology</h1>			
          </div>
      </div>
    </div>
  </header><!-- ####### HEADER CLOSED####### -->

  <div class="container-fluid">
   <div class="container">
     <div class="row mt-6 mb-6">
        <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12 video_thumbnail">
            <iframe width="560" height="315" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen
            src="https://www.youtube.com/embed/bw4_kOMqYJg">
            </iframe>
        </div>
         <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12 mt-xs-4 contact_form">
          <h3>ICO Selling Fast!</h3>
             <div class="contact-form-block">
              <form [formGroup]="form" (ngSubmit)="save(form.value)">
                <div class="form-group">
                 <input type="text" class="form-control" placeholder="Name" formControlName="name" />
                 </div>
                 <div class="form-group">
                 <input type="text" class="form-control" placeholder="Username" formControlName="username" />
                 </div>
                 <div class="form-group">
                 <input type="email" class="form-control" placeholder="Email Address" formControlName="email" />
                 </div>
                 <div class="form-group">
                 <input type="password" class="form-control" placeholder="Password" formControlName="password" />
                 </div>
                 <div class="form-group text-center">
                  <button class="btn btn-danger">Sign Up</button>
                 </div>
              </form>
             </div>
         </div>
       </div>
       <div class="row mb-6">
         <h3 class="h3_box m-auto">Crest is a Smart Ad Campaign token.<br/>Crest DigiAd Platform runs on Crest Token.</h3>
       </div>
   </div>
  </div>
  
  <footer class="container-fluid">
   <div class="container">
    <div class="row">
	 <div class="col-xs-12 col-sm-12 col-lg-12 copy-right text-center">
	  <p class="m-0 p-0">Copyright &copy; 2018, Crest Token. All trademarks and copyrights belong to their respective owners.</p>
	 </div>
	</div>
   </div>
  </footer>
</section>