@import "../../../../../../assets/css/variables"

.slide
  padding: 20px
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  min-height: 100px

  .text-wr
    border-radius: 6px
    border: 1px solid #62ba67
    padding: 9px 12px 5px
    .brand
      font-family: $lato-regular
      font-size: 12px
      color: #637576
    .link
      font-family: $lato-bold
      font-size: 16px
      line-height: 1.5
      letter-spacing: 0.1px
      color: #637576

.leftRs, .rightRs
  position: absolute
  top: 30%
  color: #62ba67
  font-size: 1.5em
  background: transparent
  border: none
  cursor: pointer
  &:hover i:before
    text-shadow: 0px 0px 30px rgba(24, 248, 188, 0.59)
.leftRs
  left: -20px
  transform: rotate(180deg)
.rightRs
  right: -20px