@import "../../../../../../backoffice.component"

.deposit-wrapper
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    border-radius: 10px   
    background-color: $bg-sidebar
    .deposit-content
        text-align: center
        .pay-atention-wrapper
            .pay-attention
                margin-top: 70px
                margin-bottom: 10px
                font-family: $OpenSansSemiBold
                color: $grey-light
                font-size: 16px
            .deposit-currency 
                display: flex
                align-items: center
                justify-content: center
                margin-bottom: 16px
                color: $backoffice-text-color
                font-family: $OpenSansRegular
                font-size: 24px
                .icon-bitcoin
                    font-size: 44px
                    color: $bitcoin-color
                    display: inline-flex
                    margin-right: 20px 
                .sidebar-text
                    display: inline-flex
            .deposit-attention
                margin-bottom: 7px
                color: $backoffice-text-color
                font-family: $OpenSansSemiBold
                font-size: 16px
            .deposit-no-mistake 
                margin-bottom: 42px
                color: $backoffice-text-color
                font-family: $OpenSansRegular
                font-size: 16px
            .deposit-confirm
                margin-bottom: 86px
                font-size: 16px
                button
                    width: 240px
                    height: 50px
                    font-family: $OpenSansSemiBold
                    font-size: 16px
                    background-color: $button-color-red 
                    border-radius: 50px
                    color: $buttton-color-white
                    border: none 
                    box-shadow: 0 0 5px 5px $button-red-shadow

        .deposit-currency-wrapper
            .pay-attention
                margin-top: 66px
                margin-bottom: 17px
                font-family: $OpenSansSemiBold
                color: $grey-light
                font-size: 16px
            .deposit-currency 
                display: flex
                align-items: center
                justify-content: center
                margin-bottom: 26px
                color: $backoffice-text-color
                font-family: $OpenSansRegular
                font-size: 16px
            .deposit-attention
                margin-bottom: 18px
                color: $grey-light
                font-family: $OpenSansSemiBold
                font-size: 12px
            form
                input
                    width: 410px
                    height: 30px
                    border: none
                    font-family: $OpenSansRegular
                    background-color: $bg-back-office
                    outline: none 
                    font-size: 16px
                    color: $comingsoon-grey
                    text-align: center
            button
                margin: 46px 0 83px 0
        .modal-adress-copy
            display: none
            width: 505px
            height: 200px
            background-color: $bg-back-office
            border-radius: 10px
            box-shadow: 0 0 5px 5px $button-red-shadow
            .circle-okay
                width: 50px
                height: 50px

                background-color: $bg-back-office
                box-shadow: 0 0 5px 5px $button-red-shadow
                border-radius: 100% 

                