<div class="buy-wr">
  <div class="buy-cell">
    <div class="buy-content">
      <app-timer></app-timer>
      <app-buy-instruction></app-buy-instruction>
    </div>
  </div>
  <div class="buy-cell">
    <app-buy-token-form></app-buy-token-form>
    <div class="make-deposit-wr">
      <div class="btn-wr">
        <app-button [routerLink]="'/backoffice/wallet'" [buttonState]="makeDepositLink"></app-button>
      </div>
      <div class="text-wr">
        <h6 class="make-deposit-title">Deposit</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua.</p>
      </div>

    </div>


    <!--<div class="purchase-btn" *ngFor="let item of wallets$ | async">-->
    <!--<button *ngIf="item.top_up_address" (click)="openPopup(item.top_up_address)" type="button">deposit your bitcoin-->
    <!--</button>-->
    <!--</div>-->
  </div>
</div>









