


<div class="buytokens">

  <div class="container-account">
    <div class="item live-rate pmd-z-depth">
      <div>
        <img src="assets/images/bitcoin.png" width="30px">
        <span> BTC = $ 0 </span>
      </div>
      <div>
        <img src="assets/images/ether.png" width="30px">
        <span> ETH = $ 0 </span>
      </div>
      <div>
        <img src="assets/images/logo.png" width="30px">
        <span> CSTT = $ 0.25 </span>
      </div>
    </div>
    <div class="item balance pmd-z-depth">
      <img src="assets/images/bitcoin.png" width="60px">
      <div>
        <span> BTC $ 0.00 </span>
        <br>
        <span> 0.00000000 </span>
      </div>
    </div>
    <div class="item balance pmd-z-depth">
      <img src="assets/images/ether.png" width="60px">
      <div>
        <span> ETH $ 0.00 </span>
        <br>
        <span> 0.00000000 </span>
      </div>
    </div>
    <div class="item balance pmd-z-depth">
      <img src="assets/images/logo.png" width="60px">
      <div>
        <span> CSTT $ 0.00 </span>
        <br>
        <span> 0.00000000 </span>
      </div>
    </div>
  </div>

  <div class="container-form-instructions">

    <!-- Buy token form -->
    <div class="container-fluid full-width-container inbox">

      <div class="section section-custom billinfo">
        <!--section-title -->
        <h2>Buy CSTT</h2>
        <!--section-title end -->
        <!-- section content start-->
        <div class="pmd-card pmd-z-depth">
          <div class="pmd-card-body">
            <form id="booktokensform" class="form-horizontal" role="form">

              <div class="form-group pmd-textfield">
                <label class="col-sm-4 control-label">CSTT Amount :</label>
                <div class="col-sm-8">
                  <!-- <input class="form-control input-sm" [(ngModel)]="senderAddress" [ngModelOptions]="{standalone: true}" id="inputSenderAddress"
                    placeholder="Enter CSTT amount to buy" type="text"> -->
                  <span class="pmd-textfield-focused"></span>
                </div>
              </div>



              <div class="form-group pmd-textfield pmd-textfield-floating-label pmd-textfield-floating-label-active pmd-textfield-floating-label-completed">
                <label class="col-sm-4 control-label">Currency :</label>
                <div class="col-sm-8">
                  <!-- <select [(ngModel)]="currency" [ngModelOptions]="{standalone: true}" class="select-simple form-control pmd-select2 select2-hidden-accessible"
                    tabindex="-1" aria-hidden="true">

                    <option value="BTC">BTC</option>
                    <option value="ETH" selected>ETH</option>

                  </select> -->
                </div>
                <span class="select2 select2-container select2-container--bootstrap select2-container--below select2-container--open select2-container--focus"
                  dir="ltr" style="width: 236px;">
                  <span class="selection">
                    <span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="true" tabindex="0"
                      aria-labelledby="select2-y8ys-container" aria-owns="select2-y8ys-results">
                      <span class="select2-selection__rendered" id="select2-y8ys-container" title=""></span>
                      <span class="select2-selection__arrow" role="presentation">
                        <b role="presentation"></b>
                      </span>
                    </span>
                  </span>
                  <span class="dropdown-wrapper" aria-hidden="true"></span>
                </span>
                <span class="pmd-textfield-focused"></span>
              </div>

              <!-- currency == 'ETH -->
              <div class="form-group pmd-textfield" *ngIf="false">
                <label class="col-sm-4 control-label">Total ETH :</label>
                <div class="col-sm-8">
                  <span> 1 ETH </span>
                </div>
              </div>
              <!-- currency == 'BTC' -->
              <div class="form-group pmd-textfield" *ngIf="false">
                <label class="col-sm-4 control-label">Total BTC :</label>
                <div class="col-sm-8">
                  <span> 1 BTC </span>
                </div>
              </div>

              <div class="form-group pmd-textfield">
                <label class="col-sm-4 control-label">Next Round Starts In :</label>
                <div class="col-sm-8">
                  <!-- <countdown [text]="text" units="Days | Hours | Minutes | Seconds"  end="May 24, 2018"></countdown> -->
                </div>
              </div>


              <div class="form-group purchase-btn">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="button" class="btn btn-success pmd-checkbox-ripple-effect">Click To Purchase</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- section content end -->
      </div>
    </div>


    <!-- instruction -->
    <div class="container-fluid full-width-container inbox">
      <div class="section section-custom billinfo">
        <h2>ICO ROUNDS BUYING INSTRUCTION</h2>
        <div class="pmd-card card-default pmd-z-depth">
          <div class="login-card">
            <div class="pmd-card-body">
              <div class="step">
                <strong>Step 1: </strong>
                <span class="is-medium">
                  <span style="color:red; font-weight: bold;">Deposit your BTC and/or ETH </span> to your wallet before the ICO round.
                </span>
              </div>
              <div class="step">
                <strong>Step 2: </strong>
                <span class="is-medium">
                  <span style="color:red; font-weight: bold;">Enter the CSTT amount to buy </span>(make sure your Buying Limit is within the min and max limits set for
                  the current ICO round).
                </span>
              </div>
              <div class="step">
                <strong>Step 3: </strong>
                <span class="is-medium">
                    Select your <span style="color:red; font-weight: bold;">Currency</span> (BTC or ETH).
                </span>
              </div>
              <div class="step">
                <strong>Step 4: </strong>
                <span class="is-medium">
                  Make sure you have <span style="color:red; font-weight: bold;">enough BTC or ETH</span> to cover the Total Amount to be paid.
                </span>
              </div>
              <div class="step">
                <strong>Step 5: </strong>
                <span class="is-medium">
                  Wait for the <span style="color:red; font-weight: bold;">Countdown</span> to hit zero.
                </span>
              </div>
              <div class="step">
                <strong>Step 6: </strong>
                <span class="is-medium">
                    <span style="color:red; font-weight: bold;">CLICK TO PURCHASE.</span>
                </span>
              </div>
              <div class="step">
                <strong>Step 7: </strong>
                <span class="is-medium">
                    You are now a proud owner of Crest Token!
                </span>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
