<nav class="navbar navbar-inverse pmd-navbar pmd-z-depth">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


      <a class="navbar-brand" href="/">
        <img src="assets/images/logo.png" class="logo" alt="Logo"> Crest Token
      </a>

    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a [routerLink]="['dashboard']">Dashboard</a>
        </li>
        <li>
          <a [routerLink]="['buy']">Buy Tokens</a>
        </li>
        <li>
          <a [routerLink]="['wallet']"> Wallet </a>
        </li>
        <li>
          <a [routerLink]="['comingsoon']" *ngAcl="['comingsoon', 'GET']"> Staking </a>
        </li>
        <li>
          <a [routerLink]="['/backoffice', 'comingsoon']" *ngAcl="['comingsoon', 'GET']"> Exchange </a>
        </li>
        <li>
          <a [routerLink]="['/backoffice', '/comingsoon']" *ngAcl="['comingsoon', 'GET']"> Campaign </a>
        </li>
        <li>
          <a [routerLink]="['myreferrals']"> My Referrals </a>
        </li>

        <li class="dropdown">

            <a class="dropdown-toggle" type="button" data-toggle="dropdown">
              Profile
            <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li *ngIf="!(user$ | async)?.twofactorEnabled">
                <a [routerLink]="['setuptwofa']"> 2 FA Setup</a>
              </li>
              <li *ngIf="(user$ | async)?.twofactorEnabled">
                <a [routerLink]="['disabletwofa']"> Disable 2 FA</a>
              </li>
              <li><a [routerLink]="['editprofile']">Edit Profile</a></li>
              <li><a [routerLink]="['changepassword']">Change Password</a></li>

            </ul>
        </li>


        <li>
          <a [routerLink]="['users']" *ngAcl="['users', 'GET']">Users</a>
        </li>
        <li>
          <a [routerLink]="['referrals']" *ngAcl="['referrals', 'GET']">Referrals</a>
        </li>
        <li>
          <a (click)="logout()"> Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
