<section id="tokenSale" class="token-sale">
  <div class="main-container">
    <div class="wrapper">
      <div id="particles-token"></div>
      <div class="header-wrapper">
        <h3 class="landing-title green">Token sale</h3>
        <div class="sub-title white">Our token will be an ERC20 token.</div>
      </div>
      <div class="items-wrapper">
        <div class="item">
          <h6>Ticker</h6>
          <p>CSTT</p>
        </div>
        <div class="item">
          <h6>Pre-ICO Date</h6>
          <p>Ongoing</p>
          <!--<div class="sub-info">-->
            <!--<span>(1pm GMT)</span>-->
            <!--<span class="ml-15">(1pm GMT)</span>-->
          <!--</div>-->
        </div>
        <div class="item">
          <h6>Main ICO Date</h6>
          <p>To be announced</p>
        </div>
        <div class="item">
          <h6>Token Price</h6>
          <p>$0.25/CSTT - $1.85/CSTT</p>
        </div>
        <div class="item">
          <h6>Pre-Sale ICO Tokens</h6>
          <p>1,000,000</p>
        </div>
        <div class="item">
          <h6>Main ICO Tokens</h6>
          <p>6,400,000</p>
        </div>
        <div class="item">
          <h6>Total Tokens Supply</h6>
          <p>12,500,000</p>
        </div>
        <div class="item">
          <h6>Min/Max Personal Cap</h6>
          <p>20 / 1500 CSTT</p>
          <div class="sub-info">
            <span>(depending on round)</span>
          </div>
        </div>
        <div class="item">
          <h6>Accepts</h6>
          <p>BTC, ETH and XMR</p>
        </div>
        <div class="item">
          <h6>Soft Cap</h6>
          <p>$2M</p>
        </div>
        <div class="item">
          <h6>Hard Cap</h6>
          <p>$7,25M</p>
        </div>
      </div>
      <div class="bottom-block">
        <div class="timer-wrapper">
          <p>Pre ICO is Live!</p>
          <!--<div class="clock2"></div>-->
        </div>
        <app-status></app-status>
        <a class="banner-btn" [routerLink]="['/signup']" target="_blank" >sign up now</a>
      </div>
    </div>
  </div>
</section>
