<section id="tokenSale" class="token-sale">
  <div class="main-container">
    <h3 class="landing-title"><span>Token</span> Sale</h3>
    <p class="desc">Our Token Will Be an ERC20 Token</p>
    <ul class="items-wrapper">
      <li><span>Ticker</span>CSTT</li>
      <li><span>Token Price</span>$0.30 - $1.70 / CSTT</li>
      <li><span>Total Tokens Supply</span>12,500,000</li>
      <li><span>Soft Cap</span>$2M</li>
      <li><span>Main ICO Start date</span>27th Nov, 2018</li>
      <li><span>Pre-Sale ICO</span>SOLD OUT</li>
      <li><span>Max Personal Cap</span>50,000 CSTT</li>
      <li><span>Main ICO End Date</span>31th Jan, 2019</li>
      <li><span>Main ICO Tokens</span>6,400,000</li>
      <li><span>Accepts</span>BTC, ETH and XMR</li>
      <li><span>Hard Cap</span>$6.65M</li>
    </ul>
  </div>
</section>
