@import "../../../backoffice.component"

.password-component
    background-color: #222833
    display: inline-block
    max-width: 855px
    border-radius: 10px
    // width: 50%

.password-head
    display: block
    margin: auto
    margin-top: 50px
    margin-bottom: 20px
    h1
        text-align: center
        color: $grey-light
        font-family: $OpenSansSemiBold

form
    position: relative
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 0 75px


    .icon-Token
        position: relative
        right: calc(-50%)
        top: calc(-50px)
        color: red
    .icon-building
        position: relative
        right: calc(-50%)
        top: calc(-50px)
        color: red
    label
        align-self: baseline
        font-family: $OpenSansRegular
        color: #5d666e
        font-size: 14px
    .form-password
        width: 700px
        background: none
        border-bottom: solid 1px #303741
        padding: 0 0 20px 0px
        font-size: 20px
        text-security: disc
        &:focus
            outline: none
    button
        width: 150px
        height: 40px
        border-radius: 30px
        border: none
        background-color: #222934
        font-size: 14px
        color: $accent-color
        box-shadow: 0 0 38px 5px rgba(24,248,188,0.5)
        margin-bottom: 40px
        &:hover
            cursor: pointer
input
    border: none
    margin: 20px 0px
    font-family: $OpenSansRegular
    font-size: 8px
    color: $grey-light



