@import "../../../backoffice.component"
.buy-instruction-wr
  padding-bottom: 60px
  .instruction-title
    font-family: $OpenSansSemiBold
    font-size: 24px
    color: #c0c9d1
    padding-bottom: 25px
    border-bottom: 1px solid #303741
    margin-bottom: 50px
  .buy-instruction-item
    display: flex
    flex-wrap: nowrap
    align-items: center
    margin-bottom: 35px
    .index
      min-width: 80px
      span
        display: inline-block
        color: #17ecb4
        font-family: $OpenSansSemiBold
        font-size: 24px
        width: 40px
        height: 40px
        line-height: 40px
        text-align: center
        background-color: #191f27
        border-radius: 50%
        box-shadow: 0 0 21px rgba(24, 248, 188, 0.31)

    p
      font-family: $OpenSansRegular
      font-size: 14px
      line-height: 18px
      color: #737d84
@media only screen and (max-width: 1366px)
  .buy-instruction-wr
    .instruction-title
      font-size: 22px
      padding-bottom: 20px
      margin-bottom: 22px
    .buy-instruction-item
      margin-bottom: 34px
      p
        margin-left: -20px
      .index
        span
          font-size: 16px
          width: 30px
          height: 30px
          line-height: 30px

  

    
