@import "../../backoffice.component"
.buy-wr
  margin-top: 20px
  h5.text
    margin-top: 20px
    margin-bottom: 15px
    font-family: $lato-bold
    font-size: 16px
    color: #637576
  .inner
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .primary
      flex: 0 0 55%
      display: flex
      flex-direction: column
      justify-content: flex-start
    .secondary
      flex: 0 0 44%
      display: flex
      flex-direction: column
      justify-content: flex-start