<div class="buy-wr">
  <h5>Buy CSTT</h5>
  <div class="inner">
    <div class="primary">
      <app-buy-token-form></app-buy-token-form>
      <div class="deposit-wr">
        <h6>Deposit</h6>
        <p>If you have not done so, kindly make a deposit in order to buy CSTT tokens. You can deposit Ethereum (ETH) or Bitcoin (BTC)</p>
        <app-button [routerLink]="['/wallet']" [buttonState]='makeDepositLink'></app-button>
      </div>
    </div>
    <div class="secondary">
      <app-timer></app-timer>
      <app-buy-instruction></app-buy-instruction>
    </div>
  </div>
</div>









