<div class="why-token-wr">
  <div class="main-container">
    <h3 class="landing-title">Why Crest Token?</h3>
    <div class="landing-row">
      <div class="cell">
        <p class="landing-text">
          Millions want to generate passive income through online marketing and digital advertising but do not have the
          skills or resources to succeed.
        </p>
        <p class="landing-text">
          We, for the first time, combine the power of cryptocurrency and Artificial Intelligence with the $300Bn online
          marketing and digital advertising industry.
        </p>
        <p class="landing-text">
          The promoters of Crest token have decades of experience and have generated substantial revenue in the online
          marketing industry over the last 10 years.
        </p>
        <p class="landing-text">
          Combining the Crest Token with an established industry (online marketing) gives stability and capital
          protection to our community of members within this volatility-prone cryptocurrency space.
        </p>
      </div>
      <div class="cell">
        <div class="why-token-img"><img src="../../../assets/images/why-token-img.png" alt="why-token"></div>
      </div>
    </div>
  </div>
</div>

