<div class="why-token-wr">
  <div class="main-container">
    <h3 class="landing-title">Why <span>Crest</span> Token?</h3>
    <div class="landing-row">
      <div class="cell">
        <ul>
          <li>Millions of people pursue the dream of generating passive income through affiliate marketing. Unfortunately, overwhelming majority lacks the know-how, skills, or resources to choose the most profitable campaigns and promote them effectively. As a result, substantial returns from online campaigns are the purview of marketing gurus only. This is where the Crest DigiAd Platform comes in.</li>
          <li>The Crest DigiAd Platform enables its members – although they may not be marketing specialists – to generate consistent income in this industry.</li>
          <li>Its viable and sustainable business model gives stability and longevity to the ecosystem and the token.</li>
        </ul>
      </div>
      <div class="cell">
        <ul>
          <li>Combining the powers of AI and blockchain technology to the $330bn online marketing industry, the Crest DigiAd platform takes blockchain-based advertising into the future.</li>
          <li>Its robust and user-friendly interface is designed to serve all users – from expert marketers to members with zero marketing experience – while being profitable for all.</li>
          <li>The team behind Crest has decades of combined experience in online marketing. Their ventures attract approximately 20m unique visitors each month, generating a monthly average of $780k. The Crest DigiAd Platform is based on their expertise.</li>
        </ul>
      </div>
    </div>
    <div class="image"><img src="/assets/images/landing/why-crest.png" alt="Why Crest" /></div>
    <h3 class="landing-title">Benefits of the <span>Crest platform</span><br>to Advertisers, Publishers, and<br>Super Affliliates</h3>
    <div class="landing-row" style="margin-bottom: 80px">
      <div class="cell">
        <ul>
          <li>Platform opens up new revenue opportunities for Advertisers and Publishers/Affiliates both in the crypto and non-crypto markets.</li>
          <li>Enables non-crypto focused Advertisers and Publishers/Affiliates to enter the large and growing crypto/blockchain market.</li>
          <li>Platform enables its users to generate income in crypto.</li>
        </ul>
      </div>
      <div class="cell">
        <ul>
          <li>Amidst the advertising bans imposed by the major platforms such as Facebook, Google and LinkedIn, crypto projects (e.g. ICOs, exchanges, trading platforms, wallets, blockchain projects) can promote to a wider global audience through a network of crypto and non-crypto focused Publishers/Affiliates.</li>
          <li>Allows crypto-focused Publishers/Affiliates to generate income outside of the crypto space, at a time when crypto related offerings are at a low.</li>
        </ul>
      </div>
    </div>
    <h3 class="landing-title">The <span>Crest</span> Ecosystem</h3>
    <div class="landing-row">
      <div class="cell">
        <h6>Built around its <span>unique DigiAd blockchain-based advertising platform</span>, each component of the ecosystem is designed to complement each other and work seamlessly together.</h6>
        <p>Fuse with the Crest DigiAd Platform is the:</p>
        <ul>
          <li>Crest Trading & Exchange Platform – which facilitates and expedites payment transactions and also provides further opportunities for profit.</li>
          <li>Crest Affiliate Marketing Education System – which helps experienced marketers hone their skills and trains members to join their ranks; expanding the platform’s influence and market-share.</li>
          <li>Community Forum – which allows members to interact and contribute to the decision-making process of the platform and contribute to the blockchain industry development.</li>
        </ul>
      </div>
      <div class="cell" style="padding-left: 0px;">
        <img src="/assets/images/landing/crest-ecosystem.png" alt="Crest Ecosystem" />
      </div>
    </div>
  </div>
</div>

