@import "../landing/landing.component"

.faq-wrapper
    .faq-btn-wrapper
        display: none
    .main-content
        padding: 75px 0 100px 0
        background: url(/assets/images/header-bg.jpg) no-repeat top center/cover
        .main-container
            background: #272727
            .wrapper
                flex-direction: column
    h1
        font-family: $montserrat-bold
        font-size: 36px
        color: #032a11
        margin-bottom: 30px
        margin-top: 15px
        text-align: center
        position: relative
        color: #fff
        span 
            display: inline-block
            border-bottom: 2px solid $white
    h3
        font-family: $montserrat-bold
        // color: #00e65c
        color: #117813
        font-size: 21px
        line-height: 1.5em
    p
        font-family: $montserrat-regular
        margin-bottom: 20px
        font-size: 16px
        color: #fff
        line-height: 1.5em
    ul 
        margin-bottom: 20px
        font-family: $montserrat-regular
        li
            padding-left: 40px
            margin-bottom: 10px
            color: #fff
            &:last-child
                margin-bottom: 0
