<section id="contest">
<header>
  <div id="particles"></div>
	<div class="container-fluid">
		<div class="container">
			<nav class="navbar navbar-light p-0">			
			<a class="navbar-brand" href="#"><img src="/assets/images/contest/logo.png" alt="Crest Token Logo" width="80"  />
            	<span class="logo-text">Crest Token</span>
			</a>
			</nav>
			<div class="text-center">
			<h1>Crest Token</h1>
			<h2>$11,000</h2>
			<img src="/assets/images/contest/yellow-txt.svg" class="img-thumbnail" width="410" height="103" />
			<p>Contest Ends on 12th September at 8am EST</p>
			<div class="timer-area">
			<ul id="countdown">
					<li><p>days</p><span class="days">00</span></li>					
					<li><p>hours</p> <span class="hours">00</span></li>					
					<li><p>minutes</p><span class="minutes">00</span></li>					
					<li><p>seconds</p><span class="seconds">00</span></li>
					</ul>
			</div>
		</div>
		</div>
	</div>
</header><!-- ####### HEADER CLOSED####### -->


<div class="container-fluid grey-bg">
  <div class="container">
    
    <div class="table-responsive">
      <table *ngIf="!loading" class="table table-striped" border="0" cellspacing="0" cellpadding="0" width="100%">
      <thead>
        <tr>
        <th>Position</th>
        <th>Username</th>
        <th>Total Sales</th>
        <th>Minimum</th>
        <th>Prize</th>
        </tr>
      </thead>
      
      <tbody>
        <ng-container *ngFor="let position of [1,2,3,4,5,6,7,8,9,10]">
          <tr *ngFor="let winner of winnersOf(position)">
            <td>
              <span *ngIf="winner.position === 10">{{winner.position}}. </span>
              <span *ngIf="winner.position !== 10">&nbsp;&nbsp;{{winner.position}}. </span>
              <img src="{{'/assets/images/contest/prize-'+winner.position+'.png'}}" />
            </td>
            <td>
              <span *ngIf="winner.username !== ''">{{winner.username}}</span>
              <span *ngIf="winner.username === ''"><i>Anonymous</i></span>
            </td>
            <td>{{winner.total_sold}}</td>
            <td>{{minimums[winner.position]}}</td>
            <td>{{prizes[winner.position]}}</td>
          </tr>
        </ng-container>
        <tr *ngFor="let candidate of candidates, let i = index">
          <td><span>{{11+i}}.</span></td>
          <td>
            <span *ngIf="candidate.username !== ''">{{candidate.username}}</span>
            <span *ngIf="candidate.username === ''"><i>Anonymous</i></span>
          </td>
          <td>{{candidate.total_sold}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr *ngFor="let missing of missingCandidates, let i = index">
          <td><span>{{11+i}}.</span></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
      
      </table>
    </div>
      
    <h2>Terms & Conditions</h2>
    <p>Contest runs for exactly 14 days from 29th August to 12th September ending at 8am EST.<br/> <br/>

    Contest Minimums are as follows:<br/>
    1st: Earn 50,000 CSTT in Total Sales<br/>
    2nd: Earn 20,000 CSTT in Total Sales<br/>
    3rd: Earn 15,000 CSTT in Total Sales<br/>
    4th: Earn 10,000 CSTT in Total Sales<br/>
    5th: Earn 5,000 CSTT in Total Sales<br/>
    6th: Earn 2,500 CSTT in Total Sales<br/>
    7th: Earn 2,500 CSTT in Total Sales<br/>
    8th: Earn 2,000 CSTT in Total Sales<br/>
    9th: Earn 2,000 CSTT in Total Sales<br/>
    10th: Earn 1,000 CSTT in Total Sales<br/>
    <br/>

    If Minimums aren't hit for your prize level, the prize according to the lowest qualifying minimum will be paid out. EG: if you come in 4th and only have 5,000 CSTT in total sales, you will be paid according to the highest prize level that qualified at 5,000 CSTT, in this contest you'd be paid 5th place prize money. 
    <br/><br/>
    Prize money will be paid directly into your Bitcoin wallet on your Crest dashboard after the contest ends.
    <br/><br/>
    Any Questions or concerns, please contact Lead Community Manager Dean Matthew on telegram (@Dean_Matthew) or email <strong><a href="mailto:contact@cresttoken.com">contact@cresttoken.com</a></strong></p>
  </div>
</div>
  
<footer class="container-fluid">
  <div class="container">
  <div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12 copy-right text-center">
  <p class="m-0 p-0">Copyright &copy; 2018, Crest Token. All trademarks and copyrights belong to their respective owners.</p>
  </div>
</div>
  </div>
</footer>
</section>