<section id="contest">
<header>
  <div id="particles"></div>
	<div class="container-fluid">
		<div class="container">
			<nav class="navbar navbar-light p-0">			
			<a class="navbar-brand" href="#"><img src="/assets/images/contest/logo.png" alt="Crest Token Logo" width="80"  />
            	<span class="logo-text">Crest Token</span>
			</a>
			</nav>
			<div class="text-center">
			<h1>Crest Token</h1>
			<h2>$10,000</h2>
			<img src="/assets/images/contest/yellow-txt.svg" class="img-thumbnail" width="410" height="103" />
			<p>Contest Ends on 02/26/2018 at midnight EST</p>
			<div class="timer-area">
			<ul id="countdown">
					<li><p>days</p><span class="days">00</span></li>					
					<li><p>hours</p> <span class="hours">00</span></li>					
					<li><p>minutes</p><span class="minutes">00</span></li>					
					<li><p>seconds</p><span class="seconds">00</span></li>
					</ul>
			</div>
		</div>
		</div>
	</div>
</header><!-- ####### HEADER CLOSED####### -->


<div class="container-fluid grey-bg">
  <div class="container">
    
    <div class="table-responsive">
      <table class="table table-striped" border="0" cellspacing="0" cellpadding="0" width="100%">
      <thead>
        <tr>
        <th>Position</th>
        <th>Affiliate</th>
        <th>Results</th>
        <th>Minimums</th>
        <th>Price</th>
        </tr>
      </thead>
      
      <tbody>
        <tr>
        <td>1. <img src="/assets/images/contest/price-first.png" /></td>
        <td>856</td>
        <td>253 Conversions</td>
        <td>35</td>
        <td>$5,000.00</td>
        </tr>
        
        <tr>
        <td>2. <img src="/assets/images/contest/price-second.png" /></td>
        <td>856</td>
        <td>253 Conversions</td>
        <td>35</td>
        <td>$5,000.00</td>
        </tr>
        
        <tr>
        <td>3. <img src="/assets/images/contest/price-third.png" /></td>
        <td>856</td>
        <td>253 Conversions</td>
        <td>35</td>
        <td>$5,000.00</td>
        </tr>
        
        <tr>
        <td>4. <img src="/assets/images/contest/price-4th.png" /></td>
        <td>856</td>
        <td>253 Conversions</td>
        <td>35</td>
        <td>$5,000.00</td>
        </tr>
        
        
        <tr>
        <td>5. <img src="/assets/images/contest/price-5th.png" /></td>
        <td>856</td>
        <td>253 Conversions</td>
        <td>35</td>
        <td>$5,000.00</td>
        </tr>
        
        <tr>
        <td>6. <img src="/assets/images/contest/price-6th.png" /></td>
        <td>856</td>
        <td>253 Conversions</td>
        <td>35</td>
        <td>$5,000.00</td>
        </tr>
        
        <tr>
        <td>7. <img src="/assets/images/contest/price-7th.png" /></td>
        <td>856</td>
        <td>253 Conversions</td>
        <td>35</td>
        <td>$5,000.00</td>
        </tr>
        
        <tr>
        <td>8. <img src="/assets/images/contest/price-8th.png" /></td>
        <td>856</td>
        <td>253 Conversions</td>
        <td>35</td>
        <td>$5,000.00</td>
        </tr>
          
          <tr>
        <td>9. <img src="/assets/images/contest/price-9th.png" /></td>
        <td>856</td>
        <td>253 Conversions</td>
        <td>35</td>
        <td>$5,000.00</td>
        </tr>
          
          <tr>
        <td>10. <img src="/assets/images/contest/price-10th.png" /></td>
        <td>856</td>
        <td>253 Conversions</td>
        <td>35</td>
        <td>$5,000.00</td>
        </tr>
          
          <tr>
        <td>11. <img src="/assets/images/contest/price-11th.png" /></td>
        <td>856</td>
        <td>253 Conversions</td>
        <td>35</td>
        <td>$5,000.00</td>
        </tr>
          
          <tr>
        <td>12. <img src="/assets/images/contest/price-11th.png" /></td>
        <td>856</td>
        <td>253 Conversions</td>
        <td>35</td>
        <td>$5,000.00</td>
        </tr>
          
          <tr>
        <td>13. <img src="/assets/images/contest/price-11th.png" /></td>
        <td>856</td>
        <td>253 Conversions</td>
        <td>35</td>
        <td>$5,000.00</td>
        </tr>
          
          <tr>
        <td>14. <img src="/assets/images/contest/price-11th.png" /></td>
        <td>856</td>
        <td>253 Conversions</td>
        <td>35</td>
        <td>$5,000.00</td>
        </tr>
          
          <tr>
        <td>15. <img src="/assets/images/contest/price-11th.png" /></td>
        <td>856</td>
        <td>253 Conversions</td>
        <td>35</td>
        <td>$5,000.00</td>
        </tr>
      </tbody>
      
      </table>
    </div>
      
    <h2>Terms & Conditions</h2>
    <p>Contest runs for exactly two weeks from 2/5 to 2/19 ending at midnight.<br/> <br/>

    <strong>Any Fraud Sales will be voided, Your Affiliate Account Deleted and all commissions will be forefitted, along with prize money. Sorry, don't play dirty.</strong><br/><br/>

    Contest Minimums are as follows:<br/>
    1st: 35 Sales<br/>
    2nd: 20 Sales<br/>
    3rd: 15 Sales<br/>
    4th: 10 Sales<br/>
    5th - 10th: 5 Sales<br/><br/>

    If Minimums aren't hit for your prize level, the prize according to the lowest qualifying minimum will be paid out. EG: if you come in 4th and only have 5 sales, you will be paid according to the higest prize level that qualified at 5 sales, in this contest you'd be paid 5th place prize money. 
    <br/><br/>
    Prize money will be paid the following pay cycle after the contest ends. 
    <br/><br/>
    Any Questions or concerns, please contact your Affliate Manager Colton Strickland at <strong><a href="mailto:hello@cresttoken.com">hello@cresttoken.com</a></strong></p>
  </div>
</div>
  
<footer class="container-fluid">
  <div class="container">
  <div class="row">
  <div class="col-xs-12 col-sm-12 col-lg-12 copy-right text-center">
  <p class="m-0 p-0">Copyright &copy; 2018, Crest Token. All trademarks and copyrights belong to their respective owners.</p>
  </div>
</div>
  </div>
</footer>
</section>