<div class="what-token-wr">
  <div class="main-container">
    <h3 class="landing-title">What is Crest Token?</h3>
    <div class="landing-row">
      <div class="cell">
        <div class="what-token-img"><img src="../../../assets/images/what-token-img.png" alt="why-token"></div>
      </div>
      <div class="cell">
        <div class="what-token-title">
          <span>Crest is a <strong>Smart Ad Campaign</strong> token.</span>
          <span><strong>Crest DigiAd Platform</strong> runs on Crest Token.</span>
        </div>
        <p class="landing-text">
          The Crest Platform combines the power of online marketing and artificial intelligence (AI), and is designed to
          generate income for the members of the Crest community by allocating Crest utility tokens to run several
          marketing and advertising campaigns than in-turn generates income for the community.
        </p>
      </div>
    </div>
  </div>
</div>
