<section id="milestones" class="milestones-wr">
  <div class="main-container">
    <h3 class="landing-title"><span>Our</span> Milestones</h3>
    <div class="milestones-row">
      <ul class="line">
        <li>
          <div class="line-content">
            <span class="title">22 may 2018</span>
            <span class="text">Pre-ICO Start</span>
          </div>
          <span class="mobile-title">22 may 2018</span>
          <span class="mobile-text">Pre-ICO Start</span>
        </li>
        <li>
          <div class="line-content">
            <span class="title">24 may 2018</span>
            <span class="text">Crest Members<br>Backend Launched</span>
          </div>
          <span class="mobile-title">24 may 2018</span>
          <span class="mobile-text">Crest Members<br>Backend Launched</span>
        </li>
        <li>
          <div class="line-content">
            <span class="title">20 jul 2018</span>
            <span class="text">Token Airdrop<br>Concluded</span>
          </div>
          <span class="mobile-title">20 jul 2018</span>
          <span class="mobile-text">Token Airdrop<br>Concluded</span>
        </li>
        <li>
          <div class="line-content">
            <span class="title">18 Jul 2018</span>
            <span class="text">Bounty Campaign Concluded</span>
          </div>
          <span class="mobile-title">18 Jul 2018</span>
          <span class="mobile-text">Bounty Campaign Concluded</span>
        </li>
        <li>
          <div class="line-content">
            <span class="title">29 jul 2018</span>
            <span class="text">Monero Payment<br>System Introduced</span>
          </div>
          <span class="mobile-title">29 jul 2018</span>
          <span class="mobile-text">Monero Payment<br>System Introduced</span>
        </li>
        <li>
          <div class="line-content">
            <span class="title">15 aug 2018</span>
            <span class="text">CAMES Platform (teaser)<br>Release; New Team and<br>Resources Section</span>
          </div>
          <span class="mobile-title">15 aug 2018</span>
          <span class="mobile-text">CAMES Platform (teaser)<br>Release; New Team and<br>Resources Section</span>
        </li>
        <li>
          <div class="line-content">
            <span class="title">23 aug 2018</span>
            <span class="text">Referral Contest<br>Launched</span>
          </div>
          <span class="mobile-title">23 aug 2018</span>
          <span class="mobile-text">Referral Contest<br>Launched</span>
        </li>
        <li>
          <div class="line-content">
            <span class="title">28 aug 2018</span>
            <span class="text">CEO First Live<br>Interview</span>
          </div>
          <span class="mobile-title">28 aug 2018</span>
          <span class="mobile-text">CEO First Live<br>Interview</span>
        </li>
        <li>
          <div class="line-content">
            <span class="title">5 Sep 2018</span>
            <span class="text">DigiAd Platform<br>Demo Release</span>
          </div>
          <span class="mobile-title">5 Sep 2018</span>
          <span class="mobile-text">DigiAd Platform<br>Demo Release</span>
        </li>
      </ul>

    </div>
  </div>
</section>
