<div class="team-wr">
  <h3>Invite new users and get 10% of their transactions</h3>
  <p class="desc">Share your personal referral link given below and when people signup for new account with it, you will earn 10% of their CSTT purchase during Pre-ICO/ICO and also their campaign contribution.</p>
  <div class="referral-links">
    <div class="link">
      <label for="main-link">Main Landing Page</label>
      <input type="text" id="main-link" #mainlink value="{{ appendSource(referralLink1) }}" />
      <button class="copy" [ngxClipboard]="mainlink" (cbOnSuccess)="openPopupCopyAddress()"><i class="fa fa-copy"></i></button>
    </div>
    <div class="link">
      <label for="video-link">Video Landing Page</label>
      <input type="text" id="video-link" #videolink value="{{ appendSource(referralLink2) }}" />
      <button class="copy" [ngxClipboard]="videolink" (cbOnSuccess)="openPopupCopyAddress()"><i class="fa fa-copy"></i></button>
    </div>
    <p>Add a source (optional)</p>
    <div class="source">
      <input type="text" [(ngModel)]="source" placeholder="Source" />
    </div>
  </div>
  <div class="achievements">
    <div class="item">
      <img src="/assets/images/backoffice/users.png" />
      TOTAL USERS <span *ngIf="(referrals$ | async) as referrals">{{ referrals.length | number }}</span>
    </div>
    <div class="item">
      <img src="/assets/images/backoffice/cstt.png" />
      TOTAL COMMISSIONS <span>{{ totalCommission$ | async }} CSTT</span>
    </div>
  </div>
</div>

<div class="resources">
  <div class="links-wr">
    <ul class="tab-links">
      <li *ngFor="let tab of tabs" (click)="viewTab(tab.panel)" [ngClass]="{active: currentTab===tab.panel}">{{ tab.label }}</li>
    </ul>
  </div>
  <div class="panel">
    <app-referrals *ngIf="currentTab==='referrals' && (referrals$ | async) as referrals" [referrals]="referrals"></app-referrals>
    <app-banner-ads *ngIf="currentTab==='banner'"></app-banner-ads>
    <app-text-ads *ngIf="currentTab==='textcopy'"></app-text-ads>
    <app-traffic-resources *ngIf="currentTab==='traffic'"></app-traffic-resources>
  </div>
</div>