@import "../../../../../assets/css/variables"

#team-panel
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  background: $widget-bg
  border-radius: 5px
  box-shadow: $box-shadow-block
  margin-bottom: 16px
  padding: 50px 0

  h3
    font-family: $OpenSansSemiBold
    font-size: 18px
    color: $h-color

  .block-buttons
    display: flex
    justify-content: space-between
    font-family: $OpenSansSemiBold
    margin-top: 40px
    min-width: 550px
    
    .button
      width: 48%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #2c333d;
      border-radius: 6px;
      color: #808490;
      padding: 10px 0;
      cursor: pointer;
      font-size: 14px
      transition: all .3s ease;
      &:hover, &.active
        background-color: #1e242d
        box-shadow: 0 0 21px rgba(24,248,188,.5)
        color: #00e7c7

      i
        font-size: 27px
        margin-right: 5px
        padding-top: 7px

.info
  max-width: 650px
  margin: 50px auto
  font-family: $OpenSansSemiBold
  
  h3
    color: $h-color
    font-size: 18px
    padding-bottom: 15px
    border-bottom: 1px solid #4f575f
    margin-bottom: 30px
    text-align: center

  .inner
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    .item
      flex: 0 0 48%
      display: flex
      flex-direction: row
      justify-content: flex-start
      align-content: center
      i
        color: #00e7c7
        box-shadow: 0 0 21px rgba(24,248,188,.5)
        height: 45px
        width: 45px
        border-radius: 100%
        position: relative
        margin-right: 15px
        &:before
          position: absolute
          top: 50%
          left: 50%
          transform: translate(-50%, -50%)
          font-size: 35px
        &.icon-noun_discount_191910
          padding: 20px
          &:before
            top: 29px
            left: 22px
            font-size: 60px
      span
        color: #888e94
        font-size: 14px
        font-family: $OpenSansLight
        line-height: 45px
        strong
          font-family: $OpenSansSemiBold
          font-size: 18px
          color: $h-color
          padding-left: 10px
  p.small
    font-family: $OpenSansRegular
    font-size: 12px
    color: #888e94
    text-align: center
    margin-top: -10px
    margin-bottom: 30px
  .referral-link
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center
    align-items: center
    .texts
      display: flex
      flex-direction: column
      span
        font-family: $OpenSansSemiBold
        font-size: 12px
        color: #bec6ce
        text-align: center
        margin-bottom: 5px
      input
        font-family: $OpenSansRegular
        font-size: 16px
        color: #00e7c7
        width: 300px
        background: transparent
        border: none
        outline: none
    .buttonWrapper
      margin-left: 40px