body
  font-weight: normal
  padding: 0
  margin: 0

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a
  padding: 0
  margin: 0

li
  list-style: none

.mat-menu-panel
  display: none

@media (max-width: 580px)
  .mat-menu-panel
    display: block
    background-color: $widget-bg
    .mat-menu-content
      width: 150px
