body
  font-weight: normal

ul,
li,
h1,
h2,
h3,
a
  padding: 0
  margin: 0

li
  list-style: none

.main-container
  display: flex
  width: 100%
  margin: 0 auto
  max-width: 1230px
  padding: 0 15px
  .wrapper
    width: 100%
    background: transparent
    position: relative
    display: flex
    justify-content: space-between


.flip-clock-wrapper
  margin: 0 !important

.flip-clock-label
  top: calc(100% + 20px) !important
  color: #636363 !important
  font-family: $montserrat-light !important
  font-size: 16px
  text-transform: uppercase
  right: -110px !important

