@font-face {
  font-family: 'icomoon';
  src:  url('assets/fonts/icons/Icons.eot');
  src:  url('assets/fonts/icons/Icons.eot?#iefix') format('embedded-opentype'),
    url('assets/fonts/icons/Icons.ttf') format('truetype'),
    url('assets/fonts/icons/Icons.woff') format('woff'),
    url('assets/fonts/icons/Icons.svg?#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


@mixin icon-styles {
  font-family: "icomoon" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
  line-height: 1;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == Exclamation  {
    $char: "\e90a";
  }
  @if $filename == Token {
    $char: "\e922";
  }
  @if $filename == USD {
    $char: "\e924";
  }
  @if $filename == bitcoin {
    $char: "\e902";
  }
  @if $filename == building {
    $char: "\e903";
  }
  @if $filename == close {
    $char: "\e904";
  }
  @if $filename == dollar-symbol {
    $char: "\e905";
  }
  @if $filename == edit {
    $char: "\e906";
  }
  @if $filename == email {
    $char: "\e908";
  }
  @if $filename == email_adress {
    $char: "\e907";
  }
  @if $filename == ether {
    $char: "\e909";
  }
  @if $filename == eye-01 {
    $char: "\e90c";
  }
  @if $filename == eye_hide {
    $char: "\e90b";
  }
  @if $filename == home {
    $char: "\e90d";
  }
  @if $filename == live_chat {
    $char: "\e90e";
  }
  @if $filename == logout {
    $char: "\e913";
  }
  @if $filename == next {
    $char: "\e914";
  }
  @if $filename == noun_accepted_1494985 {
    $char: "\e915";
  }
  @if $filename == noun_discount_191910 {
    $char: "\e916";
  }
  @if $filename == noun_graph_963252 {
    $char: "\e917";
  }
  @if $filename == noun_link_1194317 {
    $char: "\e918"; 
  }
  @if $filename == monero {
    $char: "\e919";
  }
  @if $filename == pending {
    $char: "\e91c";
  }
  @if $filename == send-mail {
    $char: "\e91d";
  }
  @if $filename == settings {
    $char: "\e91e";
  }
  @if $filename == shoppingCart {
    $char: "\e91f";
  }
  @if $filename == team {
    $char: "\e920";
  }
  @if $filename == tick {
    $char: "\e921";
  }
  @if $filename == transfer {
    $char: "\e923";
  }
  @if $filename == user {
    $char: "\e925";
  }
  @if $filename == users {
    $char: "\e91b";
  }
  @if $filename == wallet {
    $char: "\e926";
  }
  @if $filename == baseline-chevron_right {
    $char: "\e900";
  }
  @if $filename == baseline-menu {
    $char: "\e901";
  }
  @if $filename == up-arrow {
    $char: "\e91a";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-Exclamation  {
  @include icon(Exclamation);
}
.icon-Logog-crest-token {
  @include icon(Logog-crest-token);
}
.icon-Logog-crest-token .path1:before {
  content: "\e90f";
  color: rgb(255, 255, 255);
}
.icon-Logog-crest-token .path2:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-Logog-crest-token .path3:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Logog-crest-token .path4:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-Token {
  @include icon(Token);
}
.icon-USD {
  @include icon(USD);
}
.icon-bitcoin {
  @include icon(bitcoin);
}
.icon-building {
  @include icon(building);
}
.icon-close {
  @include icon(close);
}
.icon-dollar-symbol {
  @include icon(dollar-symbol);
}
.icon-edit {
  @include icon(edit);
}
.icon-email {
  @include icon(email);
}
.icon-email_adress {
  @include icon(email_adress);
}
.icon-ether {
  @include icon(ether);
}
.icon-eye-01 {
  @include icon(eye-01);
}
.icon-eye_hide {
  @include icon(eye_hide);
}
.icon-home {
  @include icon(home);
}
.icon-live_chat {
  @include icon(live_chat);
}
.icon-logout {
  @include icon(logout);
}
.icon-monero {
  @include icon(monero);
}
.icon-next {
  @include icon(next);
}
.icon-noun_accepted_1494985 {
  @include icon(noun_accepted_1494985);
}
.icon-noun_discount_191910 {
  @include icon(noun_discount_191910);
}
.icon-noun_graph_963252 {
  @include icon(noun_graph_963252);
}
.icon-noun_link_1194317 {
  @include icon(noun_link_1194317);
}
.icon-pending {
  @include icon(pending);
}
.icon-send-mail {
  @include icon(send-mail);
}
.icon-settings {
  @include icon(settings);
}
.icon-shoppingCart {
  @include icon(shoppingCart);
}
.icon-team {
  @include icon(team);
}
.icon-tick {
  @include icon(tick);
}
.icon-transfer {
  @include icon(transfer);
}
.icon-user {
  @include icon(user);
}
.icon-users {
  @include icon(users);
}
.icon-up-arrow {
  @include icon(up-arrow);
}
.icon-wallet {
  @include icon(wallet);
}
.icon-baseline-chevron_right {
  @include icon(baseline-chevron_right)
}
.icon-baseline-menu {
  @include icon(baseline-menu)
}
