@font-face {
  font-family: "Icons";
  src: url('assets/fonts/icons/Icons.eot');
  src: url('assets/fonts/icons/Icons.eot?#iefix') format('eot'),
  url('assets/fonts/icons/Icons.woff2') format('woff2'),
  url('assets/fonts/icons/Icons.ttf') format('truetype'),
  url('assets/fonts/icons/Icons.svg#Icons') format('svg');
}

@mixin icon-styles {
  font-family: "Icons";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  // speak: none; // only necessary if not using the private unicode range (firstGlyph option)
  text-decoration: none;
  text-transform: none;
}

%icon {
  @include icon-styles;
}

@function icon-char($filename) {
  $char: "";

  @if $filename == Exclamation  {
    $char: "\E001";
  }
  @if $filename == Logog-crest-token {
    $char: "\E002";
  }
  @if $filename == Token {
    $char: "\E003";
  }
  @if $filename == USD {
    $char: "\E004";
  }
  @if $filename == bitcoin {
    $char: "\E005";
  }
  @if $filename == building {
    $char: "\E006";
  }
  @if $filename == close {
    $char: "\E007";
  }
  @if $filename == dollar-symbol {
    $char: "\E008";
  }
  @if $filename == email {
    $char: "\E009";
  }
  @if $filename == email_adress {
    $char: "\E00A";
  }
  @if $filename == ether {
    $char: "\E00B";
  }
  @if $filename == eye-01 {
    $char: "\E00C";
  }
  @if $filename == eye_hide {
    $char: "\E00D";
  }
  @if $filename == home {
    $char: "\E00E";
  }
  @if $filename == live_chat {
    $char: "\E00F";
  }
  @if $filename == logout {
    $char: "\E010";
  }
  @if $filename == next {
    $char: "\E011";
  }
  @if $filename == noun_accepted_1494985 {
    $char: "\E012";
  }
  @if $filename == pending {
    $char: "\E013";
  }
  @if $filename == send-mail {
    $char: "\E014";
  }
  @if $filename == settings {
    $char: "\E015";
  }
  @if $filename == shoppingCart {
    $char: "\E016";
  }
  @if $filename == team {
    $char: "\E017";
  }
  @if $filename == tick {
    $char: "\E018";
  }
  @if $filename == transfer {
    $char: "\E019";
  }
  @if $filename == user {
    $char: "\E01A";
  }
  @if $filename == wallet {
    $char: "\E01B";
  }

  @return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
  &:#{$insert} {
    @if $extend {
      @extend %icon;
    } @else {
      @include icon-styles;
    }
    content: icon-char($filename);
  }
}

.icon-Exclamation  {
  @include icon(Exclamation );
}
.icon-Logog-crest-token {
  @include icon(Logog-crest-token);
}
.icon-Token {
  @include icon(Token);
}
.icon-USD {
  @include icon(USD);
}
.icon-bitcoin {
  @include icon(bitcoin);
}
.icon-building {
  @include icon(building);
}
.icon-close {
  @include icon(close);
}
.icon-dollar-symbol {
  @include icon(dollar-symbol);
}
.icon-email {
  @include icon(email);
}
.icon-email_adress {
  @include icon(email_adress);
}
.icon-ether {
  @include icon(ether);
}
.icon-eye-01 {
  @include icon(eye-01);
}
.icon-eye_hide {
  @include icon(eye_hide);
}
.icon-home {
  @include icon(home);
}
.icon-live_chat {
  @include icon(live_chat);
}
.icon-logout {
  @include icon(logout);
}
.icon-next {
  @include icon(next);
}
.icon-noun_accepted_1494985 {
  @include icon(noun_accepted_1494985);
}
.icon-pending {
  @include icon(pending);
}
.icon-send-mail {
  @include icon(send-mail);
}
.icon-settings {
  @include icon(settings);
}
.icon-shoppingCart {
  @include icon(shoppingCart);
}
.icon-team {
  @include icon(team);
}
.icon-tick {
  @include icon(tick);
}
.icon-transfer {
  @include icon(transfer);
}
.icon-user {
  @include icon(user);
}
.icon-wallet {
  @include icon(wallet);
}


