$montserrat-regular: 'Montserrat-Regular', sans-serif
$montserrat-bold: 'Montserrat-Bold', sans-serif
$montserrat-extraBold: 'Montserrat-ExtraBold', sans-serif
$montserrat-light: 'Montserrat-Light', sans-serif

$transition: all 0.3s ease

$green: #00e65c
$white: #fff
$black: #000
$yellow: #ffc80a
