/* This css is for custom changes made to them */


/* Change Banner colour to gree */
.theme-light .banner.banner-curb { 
        background: #00e65c !important;
        background-size: 100%; 
}


/* change size of logo */
.site-header .navbar-brand img {  max-height: 60px; }


/* Change nav links color*/
.theme-light .site-header .navbar-nav > li:hover a { color: #05386B; }
.theme-light .site-header .navbar-nav > li > a { color: #fff; }
.theme-light .site-header.navbar .navbar-nav > li > a.nav-link.active { color: #05386B; }

.theme-light .site-header.has-fixed .navbar { 
    background: rgba(0, 0, 0, 0.9); 
    border-bottom-color: rgba(0, 0, 0, 0.04); 
}

.theme-light .site-header.has-fixed .brand-name { color: #00e65c; }
.theme-light .site-header.has-fixed .navbar-nav > li:hover a { color: #00e65c; }
.theme-light .site-header.has-fixed .navbar-nav > li > a.nav-link.active { color: #00e65c; } 

.theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item {color: #fff;}
.theme-light .navbar .navbar-nav .dropdown-menu .dropdown-item:hover { color: #05386B;; }
.theme-light .navbar .navbar-nav .dropdown-menu{ background-color: rgba(0,0,0,0.5);}
.theme-light .navbar .navbar-nav .dropdown-menu::after {   border-bottom-color: rgba(0,0,0,0.5);}
.theme-light .site-header.has-fixed .navbar .navbar-nav .dropdown-menu {   background-color: rgba(255,255,255,0.5); }
.theme-light .site-header.has-fixed .navbar .navbar-nav .dropdown-menu::after {    border-bottom-color: rgba(255,255,255,0.5);}


/*change nav background color for mobile website */
@media only screen and (max-width: 480px)   {
 .theme-light .site-header .navbar-nav > li > a { color: #05386B; }
 .theme-light .site-header .navbar-nav > li:hover a { color: #00e65c }

}
@media only screen and (max-width: 991px) {
 .theme-light .site-header .navbar-nav > li > a { color: #05386B; }
 .theme-light .site-header .navbar-nav > li:hover a { color: #00e65c }
}
.navbar-toggler {
    border: solid 2px #05386B;
    color: #05386B;
}

/* Gradient in buttons */
.btn {
    color: white !important;
    background-image: -webkit-linear-gradient(left, #05386B 0%, #00ff7f 100%) !important;
    background-image: linear-gradient(to right, #05386B 0%, #00ff7f 100%) !important;
}

.btn::before {
    background-image: -webkit-linear-gradient(left, #00ff7f 0%, #05386B 100%) !important;
    background-image: linear-gradient(to right, #00ff7f 0%, #05386B 100%) !important;
}

.btn.btn-outline::after {
    background:rgba(255,255,255,0.5) !important;
}


/* change heading color */
.theme-light h1 , .theme-light h2 , .theme-light h3 , 
.theme-light h4 , .theme-light h5 , .theme-light h6 { color: #05386B }
p.color-secondary {  color: white; }


/* count down timer colour change */
/*Circles around timer*/
.theme-light .countdown-box.countdown-header:after,
.theme-light .countdown-box.countdown-header:before,
.theme-light .countdown-box.countdown-header .extra-line,
.theme-light .countdown-box.countdown-header .extra-line:after
 { border-color:rgba(0,0,0,0.2); }

.countdown-time,.countdown-time::after {
    color: #05386B !important;
}

.countdown-box .token-countdown .countdown-text {
    color: white;
}


/* brand name */
.navbar-brand {
    display: flex;
    align-items: center;
    
}
.navbar-brand h6 {
    margin-left: 5px;
}


/* Roadmap colour */
.theme-light .single-roadmap::before {

    background-image: -webkit-linear-gradient(top, #05386B 0%, #00ff7f 100%);
    background-image: linear-gradient(to bottom, #05386B 0%, #00ff7f 100%) ;

}

.roadmap-list::after {
    background: #00ff7f;
}

.theme-light .roadmap-down::before {
    background-image: -webkit-linear-gradient(bottom, #05386B 0%, #00ff7f 100%) !important;
    background-image: linear-gradient(to top, #05386B 0%, #00ff7f 100%) !important;
}

.theme-light .single-roadmap::after {
    background: #05386B;
}




/*Countdown timer box color*/

.theme-light .section-bg-alt .countdown-box {
    background: rgba(5, 56, 107,0.5);
    border-radius: 5px;
}

/* contact info color changes */
.contact-info li .fa {
    background-image: -webkit-linear-gradient(top, #05386B 0%, #00ff7f 100%);
    background-image: linear-gradient(to right, #05386B 0%, #00ff7f 100%);
}

.theme-light .form-message .input-field .input-line {
    border-bottom-color: #00ff7f;
    color: #05386B;
}

.theme-light .section-bg .inline-form .input-round {
    color: #05386B;
}


/* social icons hover color */

.social li a:hover, a:focus, a:active {
    background-color: #05386B;
}

.theme-light .subscribe-section {
    background: url(../images/footer-bg-black.png) no-repeat 50% 0%/contain, #00ff7f
}

.footer-section {
    background-color: #00ff7f !important;
}

/* particles opacity */
/*
.particles-container { opacity: .9 !important; }
*/

/* Team */
  .ourteam , .participate{
  
  text-align: center;
  position: relative;
  width: 100%; }
   .ourteam_container , .participate_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
     }
  .ourteam_item , .participate_item{
      
    height: 10rem;  
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center; }
  .ourteam_image  {
    height: 5rem;
    width: 5rem;
    margin-bottom: 2rem; }
  .ourteam_item , .participate_item 
 {
    flex-basis: 10%; }

#participate {

    margin-bottom: 4%;
}
.participate_item{
    margin-bottom: 8rem;
}
.participate_image{
    height: 7rem;
    width: 7rem;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
.ourteam_item , .participate_item {
    flex-basis: 20%; }
}
@media only screen and (max-width: 500px)   {
 .ourteam_item , .participate_item {
    flex-basis: 100%; }
    .ourteam_item{
        margin-bottom: 1rem;
    }

    .participate_item{
        margin-bottom: 5rem;
    }
}

/* paragraph color change */

.theme-light .text-block p:not(.lead) {
    color: black;
}

/* logo size change */
.logo {

    max-height: 75px !important;
}

.social li span {
    color: white;
    margin-left: 10px;
    font-size: 1em;
}

/* change font size in heading paragraphs */
.custom-p {
    text-align: justify;
    font-size: 1.2em !important;
}

/*change color of bullets */

.text-block ul:not(.btns) li:before,
.event-info .event-single-info:before {
    background: #00ff7f !important;
}

.copyright-text , .copyright-text span {
    color: black !important;
}


@media only screen and (max-width: 500px)   {

.header-txt {
    margin-top: 30%;
}
}

.count {
    color: #05386B !important;
}
.token-countdown ~ h3 {
    margin-bottom: -5px;   
}


/* generate return */

.GenerateReturn{  
    text-align: center;
    width: 100%;
}
.GenerateReturn_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
}
.GenerateReturn_item {
      
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 30%;
    flex: 1 1 auto;
    background-color: rgba(0, 255, 127, 0.2);
    padding: 2rem;
    align-items: center;
}

.TnC {
    text-align: justify;
    font-size: 0.8em !important;
}

@media only screen and (max-width: 750px) {
.GenerateReturn_item {
    width: 100%;
    margin-bottom: 1rem; }
}