<section class="faq-wr">
  <h4 class="landing-title"><span>FAQ</span></h4>
  <ul>
    <li>
      <span class="sign">+</span>
      <span class="title">What is Crest Platform?</span>
      <div class="text">Crest Platform combines the power of online marketing and artificial intelligence (AI) with cryptocurrency. It generates daily income for the members of the Crest community by using Crest utility tokens to run ad campaigns on our independent ad servers.</div>
    </li>
    <li>
      <span class="sign">+</span>
      <span class="title">When will tokens be distributed to participants?</span>
      <div class="text"></div>
    </li>
    <li>
      <span class="sign">+</span>
      <span class="title">Crest Token Contract Address</span>
      <div class="text"></div>
    </li>
    <li>
      <span class="sign">+</span>
      <span class="title">Is your project associated with (or been registered as) a formal business entity?</span>
      <div class="text"></div>
    </li>
    <li>
      <span class="sign">+</span>
      <span class="title">What is the use of Crest Token?</span>
      <div class="text"></div>
    </li>
    <li>
      <span class="sign">+</span>
      <span class="title">Is your token sale subject to any special requirements or restrictions?</span>
      <div class="text"></div>
    </li>
    <li>
      <span class="sign">+</span>
      <span class="title">Will your token sale do KYC/AML?</span>
      <div class="text"></div>
    </li>
  </ul>
  <p style="margin: 50px auto; width: 100%; text-align: center;"><a class="btn-green" href="#">More Questions</a></p>
</section>
