<!--<div class="container-fluid full-width-container value-added-detail-page">-->
  <!--<h2>Wallets</h2>-->
  <!--<div class="table-responsive pmd-card pmd-z-depth">-->
    <!--<table class="table table-mc-red pmd-table table-striped">-->
      <!--<thead>-->
      <!--<tr>-->
        <!--<th>Coin</th>-->
        <!--<th>Balance</th>-->
        <!--<th>Actions</th>-->
      <!--</tr>-->
      <!--</thead>-->
      <!--<tbody>-->
      <!--<tr class="table_row" *ngFor="let item of wallets">-->
        <!--<th class="th_coin"><img src="" alt=""><span class="coin_name">{{item.asset.code | uppercase}} </span></th>-->
        <!--<th class="text-center">{{item.balance}}</th>-->
        <!--<th>-->
          <!--&lt;!&ndash; TODO generate if item.top_up_address not exist when open openDepositPopup &ndash;&gt;-->
          <!--&lt;!&ndash; check item.asset.code !== 'cstt' &ndash;&gt;-->
          <!--<div class="theme-autorization" *ngIf="item.asset.code !== 'cstt'">-->
            <!--<a (click)="openDepositPopup(item.top_up_address, item.id)">Deposit</a>-->
            <!--<a (click)="openWithdrawalPopup(item.id)">Withdrawal</a>-->
          <!--</div>-->
          <!--<div *ngIf="item.asset.code === 'cstt'">-->
            <!--<a [routerLink]="['/buy']">Buy</a>-->
          <!--</div>-->
        <!--</th>-->
      <!--</tr>-->
      <!--</tbody>-->
    <!--</table>-->
  <!--</div>-->
<!--</div>-->
<div class="wallets-list-wrapper">
  <div class="wallet">
    <div class="left-col">
      <div class="wallet-name bitcoin">
        Bitcoin wallet
      </div>
      <div class="wallet-date">
        <span>0,00338066 BTC</span>
        <span>$ 6539.54</span>
      </div>
    </div>
    <div class="right-col">
      <div class="depositBtn-wrap">
        <app-button [buttonState]="depositBtnState" class="app-button"></app-button>
      </div>
      <div class="withdrawalBtn-wrap">
        <app-button [buttonState]="withdrawalBtnState" class="app-button"></app-button>
      </div>
    </div>
  </div>
  <div class="wallet">
    <div class="left-col">
      <div class="wallet-name ethereum">
        Bitcoin wallet
      </div>
      <div class="wallet-date">
        <span>0,00338066 BTC</span>
        <span>$ 6539.54</span>
      </div>
    </div>
    <div class="right-col">
      <div class="depositBtn-wrap">
        <app-button [buttonState]="depositBtnState" class="app-button"></app-button>
      </div>
      <div class="withdrawalBtn-wrap">
        <app-button [buttonState]="withdrawalBtnState" class="app-button"></app-button>
      </div>
    </div>
  </div>
  <div class="wallet">
    <div class="left-col">
      <div class="wallet-name cstt">
        Bitcoin wallet
      </div>
      <div class="wallet-date">
        <span>0,00338066 BTC</span>
        <span>$ 6539.54</span>
      </div>
    </div>
    <div class="right-col">
      <div class="depositBtn-wrap">
        <app-button [buttonState]="depositBtnState" class="app-button"></app-button>
      </div>
      <div class="withdrawalBtn-wrap">
        <app-button [buttonState]="withdrawalBtnState" class="app-button"></app-button>
      </div>
    </div>
  </div>
</div>
