@import "../../../../backoffice.component"
.timer-wr
  width: 100%
  padding-bottom: 10px
  .timer
    width: 100%
    max-width: 325px
    display: inline-block
    li
      display: inline-block
      vertical-align: top
      font-family: $OpenSansLight
      font-size: 52px
      line-height: 45px
      color: $backoffice-white
      text-align: center
      span
        display: block
        font-family: $OpenSansRegular
        font-size: 14px
        color: #868991
      &.separator
        padding-right: 15px
@media screen and (max-width: 1190px)
  .timer-wr
    width: inherit
    position: absolute
    top: 80px
    .timer
      li
        font-size: 48px
    
@media screen and (max-width: 1560px)
  .timer-wr
    padding-bottom: 0px

@media screen and (max-width: 800px)
  .timer-wr
    width: inherit
    position: absolute
    top: 90px
    left: calc(30%)
    .timer
      li
        font-size: 48px
@media screen and (max-width: 580px)
  .timer-wr
    width: inherit
    position: absolute
    top: 90px
    left: calc(8%)
    .timer
      li
        font-size: 48px