@import "../../../../backoffice.component"
.timer-wr
  width: 100%
  padding: 20px 0px 5px
  border-radius: 10px
  opacity: 0.7
  background: linear-gradient(to left, #62ba67, #006706)
  text-align: center
  margin-bottom: 20px
  .timer
    width: 100%
    max-width: 325px
    display: inline-block
    color: $white
    li
      display: inline-block
      vertical-align: top
      font-family: $lato-light
      font-size: 52px
      line-height: 45px
      text-align: center
      span
        display: block
        font-family: $lato-regular
        font-size: 14px
      &.separator
        padding-right: 15px

@media (max-width: 1200px)
  .timer-wr
    max-width: 480px
    margin-left: auto
    margin-right: auto

@media (max-width: 480px)
  .timer-wr
    max-width: 100%
    .timer
      li
        font-size: 45px
        line-height: 40px
      span
        font-size: 12px