<div class="participate-wr">
  <div class="main-container">
    <h3 class="landing-title">How to Participate</h3>
    <div class="sub-title">Follow given steps to participate in ICO</div>

    <div class="participate-row">
      <div class="cell">
        <div class="num">1</div>
        <div class="participate-img">
          <img src="assets/images/participate-icon.svg" alt="participate-icon">
        </div>
        <span class="text">
          Register or log in <br>
          to your Crest <br>
          account
        </span>
      </div>
      <div class="cell">
        <div class="num">2</div>
        <div class="participate-img">
          <img src="assets/images/participate-icon-1.svg" alt="participate-icon">
        </div>
        <span class="text">
          Follow the instructions <br>
          outlined on your <br>
          ICO dashboard
        </span>
      </div>
      <div class="cell">
        <div class="num">3</div>
        <div class="participate-img">
          <img src="assets/images/participate-icon-2.svg" alt="participate-icon">
        </div>
        <span class="text">
          Deposit ETH or BTC <br>
          to the address provided <br>
          on your dashboard
        </span>
      </div>
      <div class="cell">
        <div class="num">4</div>
        <div class="participate-img">
          <img src="assets/images/participate-icon-3.svg" alt="participate-icon">
        </div>
        <span class="text">
          Receive your CSTT <br>
          token to your ERC20 <br>
          compatible wallet
        </span>
      </div>
      <div class="cell">
        <div class="num">5</div>
        <div class="participate-img">
          <img src="assets/images/participate-icon-4.svg" alt="participate-icon">
        </div>
        <span class="text">
          You’re done! <br>
          You’re done! <br>
          You’re done!
        </span>
      </div>
    </div>
  </div>
</div>
