<div class="deposit-wrapper">
  <div class="deposit-content">
    <div class="pay-atention-wrapper" *ngIf="confirmButton">
      <div class="pay-attention">
        <h1> Please pay attention! You selected:</h1>
      </div>
      <div class="deposit-currency">
        <i class="{{coin.icon}}"></i>
        <span class="sidebar-text">{{coin.asset.code | uppercase}}</span>
      </div>
      <div class="deposit-attention">
        <p>Attention:</p>
      </div>
      <div class="deposit-no-mistake">
        <p>Please do not mistakenly deposit other assets with the same name, it can not be retrieved!</p>
      </div>
      <div class="deposit-confirm">
        <button type="button" (click)="confirmSelected()">Confirm</button>
      </div>
    </div>

    <div class="modal-adress-copy">
      <div class="circle-okay">
        <i class="icon-tick"></i>
      </div>
      <p>The adress has been copied to the clipboard</p>
    </div>
    <div class="deposit-currency-wrapper" *ngIf="!confirmButton">
      <div class="pay-attention">
        <h1> Deposit {{coin.asset.code === 'btc' ? 'Bitcoin': 'Ethereum' }}</h1>
      </div>
      <div class="deposit-currency">
        <p>Only send
          {{coin.asset.code === 'btc' ? 'bitcoin': 'ethereum' }}
          ({{coin.asset.code | uppercase}}) to this adress. Sending any other digital asset, including
          {{coin.asset.code === 'btc' ? 'Bitcoin': 'Ethereum' }}
          Cash, will result in permanent loss.</p>
      </div>
      <div class="deposit-attention">
        <h2>Your {{coin.asset.code | uppercase}} adress is</h2>
      </div>
      <form>
          <input readonly [value]="coin.top_up_address"
                 appCopypaste #c="copypaste"
                 type="text">
      </form>
      <div class="button-copy-adress">
          <app-button (click)="c.copy()" [buttonState]="depositBtn" ></app-button>
      </div>
    </div>
  </div>

</div>
