@import "../../../backoffice.component"

.deposit-wrapper
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    border-radius: 10px
    background-color: transparent
    .deposit-content
        text-align: center
        .pay-atention-wrapper
            .pay-attention
                margin-top: 40px
                font-family: $lato-regular
                color: #637576
                font-size: 24px
            .deposit-currency
                display: flex
                align-items: center
                justify-content: center
                font-family: $lato-regular
                padding: 30px 0px
                img
                    width: 22px
                    margin-right: 10px
                .sidebar-text
                    font-size: 14px
                    color: #7f8fa4
            .deposit-attention
                margin-bottom: 40px
                color: #637576
                line-height: 1.69
                font-family: $lato-regular
                font-size: 16px
                span
                    color: #f03e5a
            .deposit-confirm
                margin-bottom: 40px
                button
                    width: 173px
                    height: 40px
                    border-radius: 4px
                    background-color: #62ba67
                    font-family: $lato-regular
                    font-size: 14px
                    font-weight: 500
                    color: $white
                    cursor: pointer

        .deposit-currency-wrapper
            .pay-attention
                margin-top: 40px
                font-family: $lato-regular
                color: #637576
                font-size: 24px
            .deposit-currency
                font-family: $lato-regular
                padding: 30px 0px
                font-size: 14px
                color: #7f8fa4
                line-height: 1.69
            .deposit-attention
                margin-bottom: 40px
                color: #f03e5a
                line-height: 1.69
                font-family: $lato-regular
                font-size: 16px
            form
                input
                    width: 350px
                    height: 30px
                    border: none
                    font-family: $lato-regular
                    background-color: $bg-back-office
                    outline: none
                    font-size: 16px
                    color: #637576
                    text-align: center
            button
                margin: 40px 0px