<ngu-carousel
  [inputs]="trafficCarousel">
  <ngu-item NguCarouselItem *ngFor="let slide of slides">
    <div class="slide">
      <h3>{{ slide.label }}</h3>
      <p><a href="{{ slide.link }}" target="_blank">{{ slide.link }}</a></p>
      <!-- <p>{{ slide.text }}</p> -->
    </div>
  </ngu-item>
  <button NguCarouselPrev class='leftRs'><i class="icon-baseline-chevron_right"></i></button>
  <button NguCarouselNext class='rightRs'><i class="icon-baseline-chevron_right"></i></button>
</ngu-carousel>