<section class="press-wr">
  <h3 class="landing-title"><span>Crest</span> Press</h3>
  <div class="articles">
    <div class="item">
      <div class="image">
        <img src="/assets/images/landing/article-image1.jpg" />
      </div>
      <div class="text">
        <h5>How Members Generate Returns with Crest Token</h5>
        <p>14 Sep, 2018  |  Bitcoin.com</p>
        <h6>Crest Platform combines the power of online marketing and artificial intelligence (AI) with cryptocurrency. It generates daily income.</h6>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="/assets/images/landing/article-image1.jpg" />
      </div>
      <div class="text">
        <h5>How Members Generate Returns with Crest Token</h5>
        <p>14 Sep, 2018  |  Bitcoin.com</p>
        <h6>Crest Platform combines the power of online marketing and artificial intelligence (AI) with cryptocurrency. It generates daily income.</h6>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="/assets/images/landing/article-image1.jpg" />
      </div>
      <div class="text">
        <h5>How Members Generate Returns with Crest Token</h5>
        <p>14 Sep, 2018  |  Bitcoin.com</p>
        <h6>Crest Platform combines the power of online marketing and artificial intelligence (AI) with cryptocurrency. It generates daily income.</h6>
      </div>
    </div>
  </div>
  <p style="margin: 60px auto; width: 100%; text-align: center;"><a class="btn-green" href="#">More Articles</a></p>
</section>
