.settings-wrapper
    display: flex
    flex-direction: row
    flex-wrap: wrap
    > div 
      width: 50%
      &:first-child
            display: flex
            flex-direction: column
            

