.settings-wrapper
    display: flex
    flex-direction: row
    flex-wrap: wrap
    max-width: 1730px
    margin-left: 35px 
    > div 
      width: 50%
      &:first-child
            display: flex
            flex-direction: column
            

