@import "~@ng-select/ng-select/themes/default.theme.css";
@import "../../../../backoffice.component"

.ng-select
  max-width: 390px
  font-family: $lato-regular
  color: #7f8fa4
  font-size: 14px
  .ng-select-container,
    border-radius: 4px
    border: 1px solid #dedede !important
    box-shadow: none !important
    &:hover
      box-shadow: none
    .ng-value
      display: flex
      align-items: center
      img
        width: 20px
      .balance
        span:first-child
          font-family: $lato-bold
          font-size: 13px
          color: #637576
        span:last-child
          font-family: $lato-bold
          opacity: 0.6

  .ng-dropdown-panel
    .ng-option
      display: flex !important
      align-items: center !important
      img
        width: 20px