<div class="video-wr" id="video">
  <div class="main-container">
    <h3 class="landing-title"><span>Crest</span> Video</h3>
  </div>
  <div id="video" class="slick-slider videos">
    <div class="item">
      <iframe src="https://www.youtube.com/embed/W3QvI0QL3LI?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h6>How Members Generate Returns with Crest Token</h6>
      <p>14 Sep, 2018</p>
    </div>
    <div class="item">
      <iframe src="https://www.youtube.com/embed/bw4_kOMqYJg?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h6>How Members Generate Returns with Crest Token</h6>
      <p>14 Sep, 2018</p>
    </div>
    <div class="item">
      <iframe src="https://www.youtube.com/embed/FxApFk3b1Ak?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h6>How Members Generate Returns with Crest Token</h6>
      <p>14 Sep, 2018</p>
    </div>
    <div class="item">
      <iframe src="https://www.youtube.com/embed/BIfZ1TEUWLg?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      <h6>How Members Generate Returns with Crest Token</h6>
      <p>14 Sep, 2018</p>
    </div>
  </div>
</div>