<div class="video-wr" id="video">
  <div class="main-container">
    <h3 class="landing-title"><span>Crest</span> Video</h3>
  </div>
  <div class="slick-slider videos">
    <div class="item">
      <iframe src="https://player.vimeo.com/video/301751659" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <h6>Crest Token — Are You Ready?</h6>
      <p>Jun 22, 2016</p>
    </div>
    <div class="item">
      <iframe src="https://player.vimeo.com/video/301751132" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <h6>Curious How Crest DigiAd Platform Works?</h6>
      <p>May 16, 2018</p>
    </div>
    <div class="item">
      <iframe src="https://player.vimeo.com/video/301819602" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <h6>Crest Token - Cloudflare - Ad Campaign Traffic Proofs</h6>
      <p>Aug 5, 2018</p>
    </div>
    <div class="item">
      <iframe src="https://player.vimeo.com/video/301752150" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <h6>The Crest DigiAd Platform</h6>
      <p>Nov 19, 2018</p>
    </div>
    <div class="item">
      <iframe src="https://player.vimeo.com/video/301813136" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <h6>Crest Token CEO Livestream AMA</h6>
      <p>Nov 18, 2018</p>
    </div>
    <div class="item">
      <iframe src="https://player.vimeo.com/video/301823602" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <h6>Skype Interview with Crest Token CEO Ben Sanders by Crypto Chemist</h6>
      <p>Sep 2, 2018</p>
    </div>
    <div class="item">
      <iframe src="https://player.vimeo.com/video/303642128" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <h6>Crest Token CEO Ben Sanders Speaking at the Blockchain Expo World Series Event 2018</h6>
      <p>Nov 29, 2018</p>
    </div>
    <div class="item">
      <iframe src="https://player.vimeo.com/video/305050038" width="640" height="480" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
      <h6>Everything You Need To Know About Crest — What is Crest Token and How It Works</h6>
      <p>Dec 7, 2018</p>
    </div>
  </div>
</div>