<div class="personal-information-wrapper">
  <h2>Personal  Information</h2>
  <form>
    <div class="name-wrapper">
      <label for="name">Name</label>
      <span class="icon-building" (click)="setDisabledState()"></span>
      <input type="text" id="name" value="Robert Williams" [disabled]="switch">
    </div>
    <label for="email">Email</label>
    <input type="text" id="email" value="robert@gmail.com" readonly>
    <label for="sponsor">Sponsor</label>
    <input type="text" id="sponsor" value="crestreferral001" readonly>
  </form>
</div>

