<div class="members-wr">
  <div class="main-container">
    <h3 class="landing-title">
      How Members Generate <br>
      Returns with Crest Token
    </h3>
    <div class="members-second-row">
      <div class="members-item">
        <div class="members-content">
          <div class="members-item-img"><img src="assets/images/members-3.png" alt="members"></div>
          <div class="members-title">DigiAd Campaign</div>
          <div class="members-text">
            We generate profit for our members by allocating the dollar value of their Crest token to fund ad campaigns
            on our DigiAd platform. You can earn between 1.15% and 2.25% daily consistently for 89 - 179 days.
          </div>
        </div>
        <span class="desc">*Kindly note that your initial capital release is inclusive in the daily payout return</span>
      </div>
      <div class="members-item">
        <div class="members-content">
          <div class="members-item-img"><img src="assets/images/members-3.png" alt="members"></div>
          <div class="members-title">Int/Ext Exchange</div>
          <div class="members-text">
            Trading of CSTT tokens on the internal and external exchange. Due to the expected popularity of our platform
            and the use value that will be created, we anticipate CSTT token to be trading around 100X ICO price in 12
            months of full platform launch.
          </div>
        </div>
        <span class="desc">
          *Please be aware that Crest platform will not manipulate trading activities on our exchange. The true value of Crest token at any particular time will be determined by market forces (supply and demand).
        </span>
      </div>
    </div>
    <div class="members-row">
      <div class="members-item">
        <div class="members-content">
          <div class="members-item-img"><img src="assets/images/members-1.png" alt="members"></div>
          <div class="members-title">Staking Income</div>
          <div class="members-text">Staking allows member to earn monthly dividends in the form of CSTT tokens (up to
            10%).
          </div>
        </div>
      </div>
      <div class="members-item">
        <div class="members-content">
          <div class="members-item-img"><img src="assets/images/members.png" alt="members"></div>
          <div class="members-title">Referral Program</div>
          <div class="members-text">You earn 10% of DigiAd campaign capital from users you directly introduce to our
            platf
            orm.
          </div>
        </div>
      </div>
      <div class="members-item">
        <div class="members-content">
          <div class="members-item-img"><img src="assets/images/members-2.png" alt="members"></div>
          <div class="members-title">Bounty Program</div>
          <div class="members-text">Our bounty program will allow users to earn free CSTT tokens and bonuses in several
            ways.
          </div>
        </div>
        <span class="desc">*Approx 250,000 free CSTT tokens to be distributed to members during ICO Presale and Main sale</span>
      </div>
    </div>
  </div>
</div>
