<header>
  <div class="top-header-wrapper fixed">
    <div class="main-container">
      <div class="wrapper">
        <div class="logo-wrapper">
          <a [routerLink]="['/']" class="logo">
            <img class="logo__images" src="assets/images/logo.png" alt="logo">
            <span class="logo__text">Crest Token</span>
          </a>
        </div>
        <a [routerLink]="['/']" class="main">cresttoken.com</a>
      </div>
    </div>
  </div>
  <div class="main-container">
    <div class="wrapper home">
      <div class="banner">
        <h1>
          Crest Platform ICO
        </h1>
        <h2>
          Affiliates will Earn a Combined<br><span>$3,200,000</span> in Commissions
        </h2>
      </div>
      <div class="features">
        <div class="item">
          <div class="image"><img src="/assets/images/landing/bitcoin-gold.png" style="width: 80px;" /></div>
          <div class="text">
            <h5>Paid Daily in<br><span style="color: #f8931a">Bitcoin</span></h5>
          </div>
        </div>
        <div class="item">
          <div class="image"><img src="/assets/images/landing/paypal.png" style="width: 226px;" /></div>
          <div class="text">
            <h5>Paid Weekly with<br><span style="color: #179bd7;">PayPal</span> or Wire Transfer</h5>
          </div>
        </div>
      </div>
      <div class="announce">
        <h3>ICO is LIVE NOW</h3>
      </div>
      <div class="announce-items">
        <div class="item">
          <div class="image"><img src="/assets/images/landing/rocket.png" /></div>
          <div class="text">
            <h3>40% Commissions</h3>
            <h5>You Earn 40% Residual Commissions on <span>ALL Deposits</span></h5>
          </div>
        </div>
        <div class="item">
          <div class="image"><img src="/assets/images/landing/marketing-concepts.png" /></div>
          <div class="text">
            <h3>6,400,000 tokens</h3>
            <h5>8 rounds with 800,000 tokens being sold <span>per round</span></h5>
          </div>
        </div>
      </div>
      <div class="contact">
        <div class="image">
          <img src="/assets/images/landing/contact-profile.png" />
        </div>
        <div class="info">
          <div>
            <h1>Contact CJ on<br>Telegram</h1>
            <a href="https://t.me/cjcollins" target="_blank">@cjcollins</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
