<footer class="footer">
  <div class="main-container">
    <div [ngClass] = "['faq-btn-wrapper', customClass]" >
      <a [routerLink]="['/FAQ']" target="_blank">Crest FAQ</a>
    </div>
    <div class="sub-title white">Any questions? Let’s talk.</div>
    <div class="contacts-row">
      <div class="contacts">
        <span class="contacts-img"><img src="assets/images/footer-email.png" alt="email"></span>
        <a href="mailto:contact@cresttoken.com">contact@cresttoken.com</a>
      </div>
      <div class="contacts">
        <a target="_blank" href="https://twitter.com/CrestToken">
          <span class="contacts-img"><img src="assets/images/footer-twitter.png" alt="twitter"></span>
          <span>Follow us on Twitter</span>
        </a>
      </div>
      <div class="contacts">
        <a target="_blank" href="https://t.me/cresttoken">
          <div class="contacts-img"><img src="assets/images/telegram.png" alt="telegram"></div>
          <span>Join us on Telegram</span>
        </a>
      </div>
    </div>
    <ul class="social">
      <li><a target="_blank" href="https://m.facebook.com/thecresttoken"><i class="fa fa-facebook"></i></a></li>
      <li><a target="_blank" href="https://bitcointalk.org/index.php?topic=4148297.new#new"><i class="fa fa-bitcoin"></i></a></li>
      <li><a class="medium" target="_blank" href="https://medium.com/@cresttoken"><i class="fa fa-medium"></i></a></li>
      <li><a class="instagram" target="_blank" href="https://www.instagram.com/cresttoken/"><i class="fa fa-instagram"></i></a></li>
    </ul>
    <div class="copyright">
      <p>Copyright &copy; 2018, Crest Token. All trademarks and copyrights belong to their respective owners.</p>
      <a href="https://beta.companieshouse.gov.uk/company/11020910" target="_blank"><img src="/assets/images/Companies House.png" /></a>
    </div>

  </div>
</footer>
