<footer class="footer">
  <div class="main-container">
    <div class="column">
      <a class="logo_link heading">
        <img src="/assets/images/logo.png" />
        <span>Crest Token</span>
      </a>
      <ul>
        <li><a href="#intro">What is Crest Token</a></li>
        <li><a href="#prototype">Prototype Ready</a></li>
        <li><a href="#allocation">Token Allocation and Sale</a></li>
        <li><a href="#milestones">Milestones and Roadmap</a></li>
        <li><a href="#participate">How to Participate</a></li>
        <li><a href="#team">Our Team</a></li>
        <li><a href="#video">Video and Press</a></li>
      </ul>
    </div>
    <div class="column">
      <span class="heading">Information</span>
      <ul>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
        <li><a href="/assets/Crest_Token_Whitepaper.pdf" target="_blank">Whitepaper</a></li>
        <li><a href="#faq">FAQ</a></li>
      </ul>
    </div>
    <div class="column">
      <span class="heading">Contact us</span>
      <ul>
        <li><a href="mailto:support@cresttoken.com" style="text-decoration: underline;">support@cresttoken.com</a></li>
        <li><a href="tel:618372636376" style="text-decoration: underline;">+618372636376</a></li>
      </ul>
    </div>
    <div class="column">
      <span class="heading">Social</span>
      <div class="links">
        <a href="https://twitter.com/CrestToken" target="_blank" class="link"><img src="/assets/images/landing/twitter.png" /></a>
        <a href="https://www.facebook.com/CrestTokenOfficial" target="_blank" class="link"><img src="/assets/images/landing/facebook.png" /></a>
        <a href="https://t.me/cresttoken" target="_blank" class="link"><img src="/assets/images/landing/telegram.png" /></a>
        <a href="https://medium.com/@cresttoken" target="_blank" class="link"><img src="/assets/images/landing/medium.png" /></a>
        <a href="https://www.youtube.com/c/CrestTokenOfficial" target="_blank" class="link"><img src="/assets/images/landing/youtube.png" /></a>
      </div>
      <div class="links" style="margin-bottom: 50px">
        <a href="https://www.instagram.com/cresttokenofficial" target="_blank" class="link"><img src="/assets/images/landing/instagram.png" /></a>
        <a href="https://bitcointalk.org/index.php?topic=4148297.new#new" target="_blank" class="link"><img src="/assets/images/landing/bitcoin.png" /></a>
        <a href="#" target="_blank" class="link"><img src="/assets/images/landing/reddit.png" /></a>
        <a href="https://www.linkedin.com/company/cresttoken" target="_blank" class="link"><img src="/assets/images/landing/linkedin.png" /></a>
        <a href="#" target="_blank" class="link"><img src="/assets/images/landing/github.png" /></a>
      </div>
      <a class="btn-green" href="https://crestplatform.com/demo" target="_blank">Go to Demo</a>
    </div>
    <!-- <app-contest-popup *ngIf="!isPreico"></app-contest-popup> -->
  </div>
  <div id="copyright">Copyright © 2018, Crest Token. All trademarks and copyrights belong to their respective owners.</div>
</footer>
