<div class="container-fluid full-width-container inbox">
  <div class="section section-custom billinfo">
    <h2>2 Factor Verification</h2>
    <div class="pmd-card pmd-z-depth">
      <div class="pmd-card-body">
        <form id="booktokensform" class="form-horizontal" role="form">
          <div class="form-group pmd-textfield">
            <label class="col-sm-2 control-label">OTP</label>
            <div class="col-sm-10">
              <input class="form-control input-sm" [(ngModel)]="token" [ngModelOptions]="{standalone: true}"
                     id="inputToken"
                     placeholder="Enter OTP showing on Google Authenticator" type="text">
              <span class="pmd-textfield-focused"></span>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary pmd-checkbox-ripple-effect" (click)="onSubmitClick()">
                Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
