<div class="password-component">
  <div class="password-head">
    <h1>Password</h1>
  </div>
  <form *ngIf="!(isCurrentPasswordValid$ | async)" loader [show]="isLoading$ | async">
    <div [ngClass]="{touched:m.active}" class="input-wrapper">
      <label>Your password</label>
      <input class="form-password" type="password" appLable #m="lable" [formControl]="currentPassword">
    </div>
    <button class="btn emptyGreen" (click)="checkCurrentPassword(currentPassword.value)" [disabled]="currentPassword.invalid">
      Change
    </button>
  </form>
  <form *ngIf="isCurrentPasswordValid$ | async" [formGroup]="form" (ngSubmit)="editUserPassword(form.value)" loader [show]="isLoading$ | async">
    <div class="input-wrapper touched">
      <label>Your password</label>
      <input class="form-password" type="{{ !changeClassAndtype ? 'text': 'password'}}" appLable #a="lable" [value]="currentPassword.value" disabled>
      <span class="{{ !changeClassAndtype ? 'icon-eye-01': 'icon-eye_hide '}}" (click)="changeClassAndType()"></span>
    </div>
    <div [ngClass]="{touched:b.active}" class="input-wrapper">
      <label >Enter new password</label>
      <input class="form-password" type="{{ !changeClassAndTypeenter ? 'text': 'password'}}" appLable #b="lable" formControlName="password">
      <span class="{{ !changeClassAndTypeenter ? 'icon-eye-01': 'icon-eye_hide '}}" (click)="changeClassAndTypeEnter()"></span>
    </div>
    <div [ngClass]="{touched:c.active}" class="input-wrapper">
      <label>Confirm new password</label>
      <input class="form-password" type="{{ !changeClassAndTypecomfirm ? 'text': 'password'}}" appLable #c="lable" formControlName="confirmPassword">
      <span class="{{ !changeClassAndTypecomfirm ? 'icon-eye-01': 'icon-eye_hide '}}" (click)="changeClassAndTypeComfirm()"></span>
    </div>
    <span class="error-message" *ngIf="form.get('confirmPassword').touched && form.hasError('nomatch')">
      Password must match
    </span>
    <button class="btn emptyGreen" [disabled]="form.invalid">
      Confirm
    </button>
  </form>
  <!-- TODO figure out design for error handling -->
  <!-- <div class="error-message">{{error$ | async}}</div> -->
</div>
