@import "../../../backoffice.component"

.password-wr
  background: $white
  border-radius: 10px
  box-shadow: 0 12px 32px 0 rgba(40, 46, 54, 0.07)
  padding: 30px 24px
  input
    background-color: $white
    border-radius: 4px
    height: 40px
    border: 1px solid #eee
    box-shadow: none
    padding-left: 16px
    line-height: 100%
    font-family: $lato-regular
    font-size: 14px
    color: #7f8fa4
    outline: none
    &[readonly], &[disabled]
      background-color: #f5f6f8

form
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  button
    margin-top: 20px
    width: 150px
    height: 40px
    border-radius: 4px
    background-color: #62ba67
    font-family: $lato-regular
    font-size: 14px
    color: #fff
    cursor: pointer
    &[disabled]
      opacity: 0.5

  .input-wrapper
    width: 100%
    display: flex
    flex-direction: column
    position: relative
    margin-bottom: 20px
    label
      font-family: $lato-regular
      font-size: 14px
      color: #637576
      line-height: 2
    .icon-eye_hide, .icon-eye-01
      position: absolute
      right: 10px
      top: 35px
      color: #0f0f0f
      cursor: pointer
      opacity: 0.5
      font-size: 25px
      z-index: 100
      &:hover
        opacity: 1

.error-message
  color: #e33e57
  text-align: center