<div class="password-component">
  <div class="password-head"><h1>Password</h1></div>
  <form *ngIf="view" name="change">
    <div class="input-wrapper"> 
      <label [ngClass]="{touched:m.active}">Your password</label>
      <input class="form-password" type="password" appLable #m="lable" >
    </div>
    <app-button [buttonState]='buttonChangePass' (click)="changeView()"></app-button>
  </form>
  <form *ngIf="!view" name="comfirm">
    <div class="input-wrapper">
        <label [ngClass]="{touched:a.active}">Your password</label>
        <input appLable #pass="lable" class="form-password" type="{{ !changeClassAndtype ? 'text': 'password'}}" appLable #a="lable">
        <span class="{{ !changeClassAndtype ? 'icon-eye-01': 'icon-eye_hide '}}" (click)="changeClassAndType()"></span>
    </div>
    <div class="input-wrapper">
        <label [ngClass]="{touched:b.active}">Enter new password</label>
        <input class="form-password" type="{{ !changeClassAndTypeenter ? 'text': 'password'}}" appLable #b="lable">
        <span class="{{ !changeClassAndTypeenter ? 'icon-eye-01': 'icon-eye_hide '}}" (click)="changeClassAndTypeEnter()"></span>
    </div>
    <div class="input-wrapper">
        <label [ngClass]="{touched:c.active}">Comfirm new password</label>
        <input class="form-password" type="{{ !changeClassAndTypecomfirm ? 'text': 'password'}}" appLable #c="lable">
        <span class="{{ !changeClassAndTypecomfirm ? 'icon-eye-01': 'icon-eye_hide '}}" (click)="changeClassAndTypeComfirm()"></span>
    </div>
    <app-button [buttonState]='buttonConfirm' (click)="changeView()"></app-button>
    </form>
</div>
