<div class="buy-form">
  <form [formGroup]="tokensform" role="form">
    <div class="form-wr">
      <div class="currency-wr">
        <div class="currency-title">Select currency:</div>
        <app-buy-token-select formControlName="currency"></app-buy-token-select>
      </div>
      <div class="form-header">
        <label for="amount">Amount</label>
        <button class="btn" [ngClass]="{btc: currencies[tokensform?.value?.currency]=='BTC', eth: currencies[tokensform?.value?.currency]=='ETH'}"
              (click)='selectAll()'>Select All of Balance</button>
      </div>
      <div class="form-elements">
        <div class="control">
          <label>CSTT</label>
          <input id="amount" formControlName="amount" #amount class="form-input" type="text" />
        </div>
        <div class="symbol">
          <i class="fa fa-exchange"></i>
        </div>
        <div class="control">
          <label>{{currencies[tokensform?.value?.currency]}}</label>
          <input class="form-input" readonly value="{{tokenPrice$ | async}}" />
        </div>
      </div>
      <h5 class="token-amount">CSTT Amount: <span>{{ amount.value }} CSTT</span></h5>
    </div>
    <div class="currency-btn">
      <app-button (click)="buy()" [buttonState]="buttonStateBuy"></app-button>
    </div>
    <div *ngIf="bonusAvailable">
      <p class="bonus_desc">* You can also grab 100 free CSTT tokens with your $30 bonus.</p>
      <div class="currency-btn">
        <app-button (click)="buy(true)" [buttonState]="buttonStateBonus"></app-button>
      </div>
    </div>
  </form>
</div>