<div class="buy-form">
  <h2 class="buy-form-title">Buy CSTT</h2>
  <form [formGroup]="tokensform" role="form">
    <div class="form-group" [ngClass]="{focused: isActive || tokensform.get('amount')?.value || tokensform?.value?.amount === 0 }">
      <label class="form-label" for="amount">CSTT Amount :</label>
      <input (focus)='toggleClass()' (blur)='toggleClass()' id="amount" formControlName="amount" class="form-input" type="number" />
      <button class="btn" [ngClass]="{btc: currencies[tokensform?.value?.currency]=='BTC', eth: currencies[tokensform?.value?.currency]=='ETH'}"
            (click)='selectAll()'>Select All of Balance</button>
    </div>
    <div class="currency-wr">
      <div class="currency-title">Select currency:</div>
      <app-buy-token-select formControlName="currency"></app-buy-token-select>
      <div class="total">
        <span class="total-title">Total {{currencies[tokensform?.value?.currency]}} :</span>
        <span>{{tokenPrice$ | async}} {{currencies[tokensform?.value?.currency]}}</span>
      </div>
    </div>
    <div class="currency-btn">
      <app-button (click)="buy()" [buttonState]="buttonStateBuy"></app-button>
    </div>
  </form>
  <!-- Offer Goal Conversion: Sales ­­-->
  <img *ngIf="firstPurchase$ | async" src="https://cresttoken.go2cloud.org/aff_goal?a=l&goal_id=1" style="visibility: hidden;" />
  <!-- // End Offer Goal Conversion ­­-->
  
  <!-- AffiliChain Pixel -->
  <img *ngIf="(firstPurchase$ | async) && (tokenPriceUSD$ | async) > 0 && (transId !== '')" src="http://tracking.affilichain.com/aff_lsr?offer_id=25&amount={{ tokenPriceUSD$ | async }}&transaction_id={{ transId }}" style="visibility: hidden;" />
  <!-- // End AffiliChain Pixel -->

  <!-- Biggico Pixel -->
  <!-- <img *ngIf="(firstPurchase$ | async) && (tokenPrice$ | async) > 0 && (clickId !== '')" src="https://biggi.co/api/v4/trackconversion/XFfqsyRjCD/?clickId={{ clickId }}&currency={{ currencies[tokensform?.value?.currency] | lowercase }}&amount={{ tokenPrice$ | async }}" style="visibility: hidden;" /> -->
  <!-- // End Biggico Pixel -->
</div>