@import "../../../backoffice.component"
.buy-form
  background-color: $white
  border-radius: 7px
  padding: 75px 0 80px 0
  display: flex
  justify-content: center
  flex-wrap: wrap
  box-shadow: $box-shadow-block
  margin-bottom: 55px
  margin-left: 165px
  margin-top: 15px
  .buy-form-title
    font-family: $lato-semibold
    font-size: 24px
    color: #c0c9d1
    padding-bottom: 50px
    display: block
    width: 100%
    text-align: center
  form
    display: block
    width: 100%
    max-width: 685px
    .form-group
      display: block
      margin-bottom: 55px
      input#amount
        font-size: 16px
      button.btn
        position: absolute
        top: 10px
        right: 0px
        padding: 0 15px
        min-height: 30px
        color: #737d84
        &:hover
          color: $white
      span
        display: block
        width: 100%
        font-family: $lato-regular
        font-size: 14px
        color: #737d84
        padding-bottom: 10px

  .total
    font-family: $lato-semibold
    font-size: 18px
    color: #c0c9d1
    text-align: center

    span
      display: inline-block
      vertical-align: middle
    .total-title
      font-family: $lato-regular
      font-size: 14px
      color: #737d84
      padding-right: 35px

.currency-wr
  .currency-title
    font-family: $lato-regular
    font-size: 14px
    color: #737d84
    padding-bottom: 17px

.currency-btn
  text-align: center
  margin-top: 45px

.bonus_desc
  margin-top: 50px
  margin-bottom: -30px
  font-family: $OpenSansSemiBold
  font-size: 14px
  color: #737d84
  padding-bottom: 17px
  text-align: center

input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

input::-webkit-outer-spin-button
  -webkit-appearance: none
  margin: 0

@media screen and (max-width: 1560px)
  .buy-form
    color: inherit
    margin-left: 0px
    margin-bottom: 15px
    padding: 55px 80px 54px 80px
    margin-top: 0px 
    form
      .form-group
        margin-bittom: 71px 
    .buy-form-title
      font-size: 22px
      padding-bottom: 40px
  
@media screen and (max-width: 1190px)
  .buy-form
    color: inherit
    margin-left: 0px
    margin-bottom: 15px
    padding: 45px 80px 54px 80px
    .buy-form-title
      font-size: 22px
      padding-bottom: 40px
  .currency-wr
    .currency-title
      padding-bottom: 30px
@media screen and (max-width: 800px)
  .buy-form
    color: inherit
    margin-left: 0px
    margin-bottom: 15px
    padding: 45px 80px 54px 80px
    .buy-form-title
      font-size: 22px
      padding-bottom: 40px
  .currency-wr
    .currency-title
      padding-bottom: 30px
@media screen and (max-width: 580px)
  .buy-form
    color: inherit
    margin-left: 0px
    margin-bottom: 35px
    padding: 45px 15px 45px 15px
    .buy-form-title
      font-size: 22px
      padding-bottom: 40px
    form
      .currency-btn
        margin-top: 30px 
  .currency-wr
    .currency-title
      padding-bottom: 30px
