@import "../../../backoffice.component"
.buy-form
  background-color: #f5f6f8
  border-radius: 10px
  padding: 0px
  display: flex
  flex-wrap: wrap
  box-shadow: 0 12px 32px 0 rgba(40, 46, 54, 0.07)
  overflow: hidden
  form
    width: 100%
  .form-wr
    padding: 30px 24px
    background-color: $white
    .currency-wr
      padding-bottom: 24px
      border-bottom: 1px solid #dedede
      .currency-title
        font-family: $lato-regular
        font-size: 14px
        color: #637576
        margin-bottom: 5px
    .form-header
      display: flex
      justify-content: space-between
      align-items: center
      padding-top: 20px
      label
        font-family: $lato-regular
        font-size: 14px
        color: #637576
      button
        padding: 0px
        font-family: $lato-bold

    .form-elements
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      .control
        flex: 0 0 47%
        position: relative
        label
          position: absolute
          right: 15px
          top: 16px
          font-family: $lato-bold
          font-size: 14px
          color: #7f8fa4
        input
          border-radius: 4px
          border: 1px solid #cecece
          padding: 11px 15px
          color: #637576
          letter-spacing: 0.4px
          font-size: 14px
      .symbol
        display: flex
        justify-content: center
        align-items: center
        i
          font-size: 18px
          color: #7f8fa4
          opacity: 0.6
    .token-amount
      text-align: center
      font-family: $lato-regular
      font-size: 14px
      color: #7f8fa4
      line-height: 1.43
      margin-top: 24px
      span
        font-family: $lato-bold
        font-size: 16px
        color: #62ba67
  .currency-btn
    padding: 30px
    text-align: center

@media (max-width: 480px)
  .buy-form
    .form-wr
      .form-elements
        flex-direction: column
        .symbol
          margin: 20px 0px