<div class="logincard">
  <div class="pmd-card card-default pmd-z-depth">

    <div class="register-card">
      <div class="pmd-card-title card-header-border text-center">
        <div class="loginlogo">
          <a href="/">
            <img src="assets/images/logo.png" alt="Logo">
          </a>
        </div>
        <h3>
          <strong>Reset Password</strong>
        </h3>
      </div>
      <form [formGroup]="form" (ngSubmit)="save(form.value)">
        <div class="pmd-card-body">

          <!-- <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Secret Code:</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="material-icons md-dark pmd-sm">perm_identity</i>
              </div>
              <input type="text" formControlName="code" class="form-control" id="usernameInput">
            </div>
          </div> -->


          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="material-icons md-dark pmd-sm">lock_outline</i>
              </div>
              <input type="password"  formControlName="password" class="form-control" id="passwordInput">
            </div>
          </div>

          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label for="inputError1" class="control-label pmd-input-group-label">Confirm Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="material-icons md-dark pmd-sm">lock_outline</i>
              </div>
              <input type="password" formControlName="confirmPassword" class="form-control" id="cpasswordInput">
            </div>
          </div>


        </div>


        <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
          <button [disabled]="form.invalid" class="btn pmd-ripple-effect btn-success btn-block">Reset Password</button>
        </div>
      </form>
    </div>

  </div>
</div>
