<div class="referral-link-description-wrapper">
  <h3>Would you like to earn BONUS for each person you refer?</h3>
  <p> Share your personal referral link given below and when people click on it and sign up for a new account, you will
    earn a percentage of their campaign contribution, and same goes for your referrals, so everybody wins. </p>
  <h5>Your personal referral link :</h5>
  <form>
    <input type="text"
    appCopypaste
    #c="copypaste"
    value="{{referralLink}}">
  </form>
  <div class="buttonWrapper">
    <app-button [buttonState]='copyButton' (click)="c.copy()"></app-button>
  </div>
</div>
