<div class="titles">
  <div class="wallet-title"><h5>Your Wallets</h5></div>
  <div class="history-title"><h5>History</h5></div>
</div>
<div class="wallets-wr" *ngIf="(wallets$ | async)?.length">
  <div class="wallets">
    <ng-template ngFor let-item [ngForOf]="wallets$ | async">
      <div *ngIf="item.asset.code !== 'cstt'" class="wallet {{item.asset.code}}" 
      (click)="setCoin(item)"
      [ngClass]="{active: currentCoin?.asset?.code === item.asset.code}">
        <span class="currency {{item.asset.code}}">{{ walletNames[item.asset.code] }}</span>
        <span class="balance">{{ item.balance }} {{ item.asset.code | uppercase }}</span>
        <div class="buttons">
          <div class="btn-wr">
            <app-button [buttonState]="depositBtn" (click)="setCoin(item);openModal('deposit');"></app-button>
          </div>
          <div class="btn-wr">
            <app-button [buttonState]="withdrawBtn" (click)="setCoin(item);openModal('withdraw');"></app-button>
          </div>
        </div>
      </div>
      <div *ngIf="item.asset.code === 'cstt'" class="wallet {{item.asset.code}}" 
      (click)="setToken()"
      [ngClass]="{active: historyType==='purchase'}">
        <span class="currency cstt">{{ walletNames[item.asset.code] }}</span>
        <span class="balance">{{ item.balance }} {{ item.asset.code | uppercase }}</span>
        <app-button [routerLink]="['/buy']" [buttonState]="buyBtn"></app-button>
      </div>
    </ng-template>
  </div>
  <div class="history">
    <app-transaction-list *ngIf="historyType==='transaction'" [transactions]="transactions$ | async | transactionsPipe: currentCoin"></app-transaction-list>
    <app-purchase-list *ngIf="historyType==='purchase'" [purchase]="purchase$ | async"></app-purchase-list>
  </div>
</div>

<app-modal id="deposit">
  <div class="modal">
      <div class="modal-body">
        <app-depositview *ngIf="currentCoin" [coin]="wallets$ | async | coin:currentCoin"></app-depositview>
      </div>
  </div>
</app-modal>

<app-modal id="withdraw">
  <div class="modal">
      <div class="modal-body">
        <app-withdrawal-founds *ngIf="currentCoin" [coin]="wallets$ | async | coin:currentCoin"></app-withdrawal-founds>
      </div>
  </div>
</app-modal>