<div class="wallets-wrapper">
  <div class="wallets-list-wrapper">

    <ng-template ngFor let-item [ngForOf]="wallets$ | async">
      <div [ngClass]=" {close: currentCoin || withdrawalToched, active: currentCoin?.asset?.code === item.asset.code || withdrawalToched?.asset?.code === item.asset.code } "
           class="wallet {{item.asset.code}} " *ngIf="item.asset.code !== 'cstt'">
        <app-other-coin-thumbnail
          [item]="item"
          [fullMode]="!currentCoin && !withdrawalToched "
          (setWithdrawal)="withdrawalToched = $event"
          (setDeposit)="currentCoin = $event"
          (click)="setCoin(item)"
          (click)="withdrawalTochedActive(item)"
        ></app-other-coin-thumbnail>

      </div>
      <div class="wallet {{item.asset.code}} " *ngIf="item.asset.code === 'cstt' && !currentCoin && !withdrawalToched">
        <app-own-coin-thumbnail [item]="item"></app-own-coin-thumbnail>
      </div>

    </ng-template>
  </div>


  <app-depositview *ngIf="currentCoin" [coin]="currentCoin"></app-depositview>
  <app-withdrawal-founds  *ngIf="withdrawalToched" [coin]="withdrawalToched" ></app-withdrawal-founds>
  <!--<app-help></app-help>-->
  <app-transaction-list [transactions]="transactions$ | async | transactionsPipe: currentCoin"></app-transaction-list>
</div>
