@import "../../../../../assets/css/variables"

.wallets-wrapper
  width: 100%
  padding-left: 35px
  box-sizing: border-box


.wallets-list-wrapper
  display: flex
  width: 100%
  flex-direction: row
  align-items: center
  justify-content: center
  box-sizing: border-box
  margin-bottom: 20px
  .wallet
    height: 180px
    width: 33%
    margin: 0 20px
    max-width: 561px
    padding: 43px 100px 43px 80px
    border-radius: 15px
    background: $widget-bg
    box-sizing: border-box
    box-shadow: $box-shadow-block
    &:last-child
      margin-right: 0
    &:first-child
      margin-left: 0
    .wallet-item-wrapper
      display: flex
      flex-direction: row
      align-items: center
      justify-content: space-between
      .left-col
        display: inline-flex
        flex-direction: column
        width: 50%
        padding-left: 40px
        .wallet-name
          font-family: $OpenSansSemiBold
          font-size: 18px
          color: $grey-light
          margin-bottom: 21px
          position: relative
          &:before
            content: ''
            position: absolute
            left: -40px
            top: 5px
            border: 4px solid #ccc
            border-radius: 50%
            width: 16px
            height: 16px
            box-sizing: border-box
            display: inline-block
          &.bitcoin
            &:before
              border-color: $backoffice-yellow
          &.ethereum
            &:before
              border-color: #65c636
          &.cstt
            &:before
              border-color: $accent-color
        .wallet-date
          display: flex
          flex-direction: column
          span
            display: inline-flex
            font-size: 16px
            color: #8e9aa2
            &:first-child
              font-family: $OpenSansSemiBold
            &:last-child
              font-family: $OpenSansRegular
      .right-col
        display: inline-flex
        flex-direction: column
        align-items: center
        .btn
          width: 150px
          min-width: 150px
        .depositBtn-wrap
          margin-bottom: 20px
        .btn.emptyGreen
          margin: 0

      &:last-child
        margin-right: 0
  //.close.active
  //  box-shadow: 0 0 15px 3px rgba(0, 231, 199, .3)
  //  .wallet-item-wrapper
  //    .left-col
  //      .wallet-name::before
  //        border-color: rgba(0, 231, 199, .3)
  //        background: #00e7c7
  //        box-shadow: 0 0 15px 3px rgba(0, 231, 199, .3)
  .btc.wallet
    .wallet-item-wrapper
      .left-col
        .wallet-name::before
          border-color: #daa126
  .eth.wallet
    .wallet-item-wrapper
      .left-col
        .wallet-name::before
          border-color: #65c636
  .cstt.wallet
    .wallet-item-wrapper
      .left-col
        .wallet-name::before
          border-color: #00e7c7

  .btc.close
    .wallet-item-wrapper
      .left-col
        .wallet-name::before
          border-color: #daa126
          background: #daa126
          box-shadow: 0 0 15px 3px rgba(218, 161, 38, .3)

  .eth.close
    .wallet-item-wrapper
      .left-col
        .wallet-name::before
          border-color: #65c636
          background: #65c636
          box-shadow: 0 0 15px 3px rgba(101, 198, 54, .3)

  .cstt.close
    .wallet-item-wrapper
      .left-col
        .wallet-name::before
          border-color: #00e7c7
          background: #00e7c7
          box-shadow: 0 0 15px 3px rgba(101, 198, 54, .3)


  .crestokenBuySellTable.close
    .wallet-item-wrapper
      .left-col
        .wallet-name::before
          box-shadow: none

  .close.cstt
    box-shadow: 0 0 21px rgba(0, 235, 201, 0.71)
  .active.close.btc
    box-shadow: 0 0 15px 3px rgba(218, 161, 38, .3)
  .active.close.eth
    box-shadow: 0 0 15px 3px rgba(101, 198, 54, .3)

  .close.btc:hover,
  .close.eth:hover
    cursor: pointer

  .close
    padding: 20px 40px
    height: 100px
    position: relative
    .wallet-item-wrapper
      .left-col
        width: 100%
        .wallet-name
          position: initial
          margin-bottom: 10px
        .wallet-name::before
          top: 50%
          left: 40px
          margin-top: -8px
        .wallet-date
          flex-direction: row
          justify-content: space-between



@media only screen and (max-width: 1500px)
  .wallets-wrapper
    display: grid
    grid-template-columns: 396px 1fr
    padding: 0
    grid-gap: 20px

    .wallets-list-wrapper
      display: grid
      grid-template-rows: repeat(3, 160px)
      grid-gap: 20px
      padding: 0
      margin: 0
      flex-direction: initial
      align-items: initial
      justify-content: initial

      .wallet
        width: 100%
        height: auto
        margin: 0
        padding: 28px 20px 20px 20px

        .wallet-item-wrapper
          align-items: inherit

          .left-col
            padding-left: 35px
            padding-top: 7px

            .wallet-name
              margin-bottom: 13px

            .wallet-name::before
              left: -35px
              top: 4px

            .wallet-data
              padding-left: 2px

          .right-col
            padding-right: 10px

    .wallets-list-wrapper.close
      grid-template-rows: repeat(3, 100px)
      .wallet.close
        .wallet-item-wrapper
          .left-col
            padding-left: 35px
            padding-top: 0px
            .wallet-name
              margin-bottom: 8px
            .wallet-name::before
              left: 20px
              top: 49px



@media only screen and (max-width: 1270px)
  .wallets-wrapper
    display: grid
    grid-template-columns: 1fr
    grid-gap: 40px

    .wallets-list-wrapper
      grid-template-columns: 396px 396px
      grid-template-rows: auto


@media only screen and (max-width: 920px)
  .wallets-wrapper

    .wallets-list-wrapper
      padding: 32px 16px
      grid-template-columns: 396px

      .wallet
        padding: 28px 20px 32px 20px

@media only screen and (max-width: 430px)
  .wallets-wrapper

    .wallets-list-wrapper
      grid-template-columns: 328px

      .wallet

        .wallet-item-wrapper
          justify-content: inherit

          .left-col
            padding-top: 10px
            padding-left: 21px
            width: 158px

            .wallet-name
              font-size: 13px

            .wallet-name::before
              left: -25px
              top: 1px


            .wallet-date
              span
                font-size: 14px

                &:first-child
                  margin-bottom: 3px

          .right-col
            .btn
              width: 120px
              min-width: inherit
              font-size: 12px

    .wallets-list-wrapper.close
      .wallet.close
        .wallet-item-wrapper
          .left-col
            width: 100%
            .wallet-name

//@media only screen and (max-width: 850px)
//
//
//
//@media only screen and (max-width: 500px)
