<div class="sign-up-wrapper">
  <app-header-auth></app-header-auth>
  <section class="main-content">
    <div class="main-container">
      <div class="wrapper">
        <h1>Sign Up</h1>
        <div class="loginBtnSocial">
          <button class="loginBtn loginBtn__facebook" (click)="facebookLogin()">
            <i class="fa fa-facebook-official"></i>Login with Facebook
          </button>
          <button class="loginBtn loginBtn__google" (click)="googleLogin()">
            <img src="assets/images/google-icon.png" alt="">Login with Google
          </button>
        </div>

        <div class="form-wrapper">
          <form [formGroup]="form" (ngSubmit)="save(form.value)">

            <div class="inputGroup">
              <div class="inputGroup-icons">
                <img src="assets/images/user-icon.png" alt="user">
              </div>
              <input type="text" placeholder="Name" formControlName="name" class="form-control">
            </div>

            <div class="inputGroup">
              <div class="inputGroup-icons">
                <img src="assets/images/edit-icon.png" alt="Username">
              </div>
              <input type="text" placeholder="Username" formControlName="username" class="form-control">
            </div>


            <div class="inputGroup">
              <div class="inputGroup-icons">
                <img src="assets/images/email-icon.png" alt="Email">
              </div>
              <input type="text" placeholder="Email Address" formControlName="email" class="form-control">
            </div>


            <div class="inputGroup">
              <div class="inputGroup-icons">
                <img src="assets/images/lock-icon.png" alt="password">
              </div>
              <input type="password" placeholder="Password" formControlName="password" class="form-control">
            </div>

            <div class="captcha-wrapper">
              <re-captcha formControlName="recaptchaReactive"></re-captcha>
            </div>

            <div class="button-wrapper">
              <button [disabled]="form.invalid" class="btn-signin">Sign Up</button>
              <p class="redirection-link">Already have an account?
                <a [routerLink]="['/login']" class="register-login">Sign In</a>. </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>
