<footer>
  <div class="copyright">
    Copyright © 2018, Crest Token
  </div>
  <div class="support-wrapper">
    <div class="chat-wrapper">
      Support
      <ul>
        <li><a target="_blank" href="https://t.me/cresttoken "><i class="icon-send-mail"></i></a></li>
        <li><a target="_blank" href="mailto:contact@cresttoken.com"><i class="icon-email"></i></a></li>
        <li><a target="_blank" href="#"><i class="icon-live_chat"></i></a></li>
      </ul>
    </div>
    <div class="tel-wrapper">
      24/7 phone support  (COMING SOON)
    </div>
    <div class="help-wrapper">
      <app-button [buttonState]='buttonStateHelp'></app-button>
    </div>
  </div>
</footer>
