@import "../../../../assets/css/variables"

footer
  margin-top: 80px
  margin-left: 35px
  border-top: 1px solid #2b3c46
  font-family: $OpenSansRegular
  padding: 14px 0
  color: $backoffice-text-color
  font-size: 14px
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  .support-wrapper
    display: flex
    flex-direction: row
    align-items: center
  .chat-wrapper
    display: flex
    flex-direction: row
    align-items: center
    ul
      display: flex
      flex-direction: row
      li
        margin-left: 50px
        a
          text-decoration: none
          color: $backoffice-text-color
          font-size: 16px
          transition: $transition
          &:hover
            color: $accent-color
  .tel-wrapper
    margin-left: 85px
  .help-wrapper
    margin-left: 50px
    .emptyGreen
      min-height: 30px
      padding: 0 35px

@media only screen and (min-width: 768px) and (max-width: 1023px)
  footer
    margin-top: 35px
    margin-left: 5px

@media only screen and (max-width: 500px)
  footer
    display: flex
    flex-direction: column-reverse
    justify-content: space-between
    margin-top: 0