<section id="roadmap" class="roadmap-wr">
  <div class="main-container">
    <h3 class="landing-title">Our Roadmap</h3>
    <div class="roadmap-row">
      <ul class="line">
        <li>
          <div class="line-content">
            <span class="title">Oct 2017</span>
            <span class="text">Research / Model <br>Development Starts
            </span>
          </div>
        </li>
        <li>
          <div class="line-content">
            <span class="title">DEC 2017</span>
            <span class="text">ICO Development <br>Starts</span>
          </div>
        </li>
        <li>
          <div class="line-content">
            <span class="title">MAY 2018</span>
            <span class="text">Pre-Sale ICO <br>Starts</span>
          </div>
        </li>
        <li>
          <div class="line-content">
            <span class="title">Aug 2018</span>
            <span class="text">Main ICO <br>Starts</span>
          </div>
        </li>
        <li>
          <div class="line-content">
            <span class="title">Sep 2018</span>
            <span class="text">Staking Platform <br>Opens</span>
          </div>
        </li>
        <li>
          <div class="line-content">
            <span class="title">Sep 2018</span>
            <span class="text">
              Internal exchange Opens <br>
              Campaign Platform Opens <br>
              First External Exchange Opens <br>
              Platform Marketing Campaign Starts
            </span>
          </div>
        </li>
        <li>
          <div class="line-content">
            <span class="title">Oct 2018</span>
            <span class="text">More External <br>Exchange Opens</span>
          </div>
        </li>
        <li>
          <div class="line-content">
            <span class="title">Jan 2019</span>
            <span class="text">Stage 2 Plans <br>Begins</span>
          </div>
        </li>
      </ul>

    </div>
  </div>
</section>
