@import "../backoffice.component"

.toggle-mnu
  display: none
  
header
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 25px 0 25px 30px

.logo
  display: flex
  flex-direction: row
  align-items: center
  width: 100%
  max-width: 190px
  cursor: pointer
  outline: none
  img
    max-width: 35px
  p
    font-size: 18px
    font-family: $OpenSansLight
    color: $accent-color
    text-shadow: 0 0 15px rgba(0, 231, 199, 1)

.currency-date
  display: flex
  flex-direction: row
  font-family: $OpenSansRegular
  font-size: 16px
  color: #c0c9d1
  li
    display: inline-flex
    align-items: center
    color: $white
    margin-left: 70px
    &:first-child
      margin-left: 0
    i
      display: inline-flex
      margin-right: 10px
      font-size: 20px
      color: #c0c9d1

      &.icon-bitcoin
        color: #daa126
      &.icon-ether
        color: #65c636
      &.icon-Token
        color: #00e7c7

@media only screen and (min-width: 1170px) and (max-width: 1366px)
  header
    padding: 20px 0 25px 0px
    .logo
      margin-left: -10px

@media only screen and (min-width: 800px) and (max-width: 1170px)
  header
    padding: 20px 0 25px 0px
    .logo
      margin-left: -10px
@media only screen and (max-width: 800px)
  .toggle-mnu
    display: block
    span
      font-family: "OpenSans-SemiBold", sans-serif
      z-index: 100
      position: absolute
      padding-left: 5px
      &:before 
        content: ""
        position: absolute
        top: -8px
        left: 16px
        width: 19px
        height: 2px
        border-top: 8px double $white
        border-bottom: 3px solid $white
  
  header
    background-color: #222833
    width: 100%
    padding: 21px 0 18px 0
    display: flex
    align-items: center
    z-index: 100
    .logo
      margin-left: 30px
      position: absolute
      left: 40px
    .currency-date
      display: flex
      flex-direction: row
      font-family: $OpenSansRegular
      font-size: 16px
      color: #c0c9d1
      li
        margin-left: 25px 