@import "../backoffice.component"

.toggle-mnu
  display: none
  
header
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  padding: 25px 0 25px 30px
.arrows
  display: none


.drop-down-menu
  display: none

.logo
  display: flex
  flex-direction: row
  align-items: center
  width: 100%
  max-width: 190px
  cursor: pointer
  outline: none
  img
    max-width: 35px
  p
    font-size: 18px
    font-family: $OpenSansLight
    color: $accent-color
    text-shadow: 0 0 15px rgba(0, 231, 199, 1)

.currency-date
  display: flex
  flex-direction: row
  font-family: $OpenSansRegular
  font-size: 16px
  color: #c0c9d1
  li
    display: inline-flex
    align-items: center
    color: $white
    margin-left: 70px
    &:first-child
      margin-left: 0
    i
      display: inline-flex
      margin-right: 10px
      font-size: 20px
      color: #c0c9d1

      &.icon-bitcoin
        color: #daa126
      &.icon-ether
        color: #65c636
      &.icon-Token
        color: #00e7c7

<<<<<<< HEAD
@media only screen and (min-width: 1170px) and (max-width: 1366px)
  header
    padding: 20px 0 25px 0px
    .logo
      margin-left: -10px

@media only screen and (min-width: 800px) and (max-width: 1170px)
  header
    padding: 20px 0 25px 0px
    .logo
      margin-left: -10px
@media only screen and (max-width: 800px)
  .toggle-mnu
    display: block
    span
      font-family: "OpenSans-SemiBold", sans-serif
      z-index: 100
      position: absolute
      padding-left: 5px
      &:before 
        content: ""
        position: absolute
        top: -8px
        left: 16px
        width: 19px
        height: 2px
        border-top: 8px double $white
        border-bottom: 3px solid $white
  
  header
    background-color: #222833
    width: 100%
    padding: 21px 0 18px 0
    display: flex
    align-items: center
    z-index: 100
    .logo
      margin-left: 30px
      position: absolute
      left: 40px
    .currency-date
      display: flex
      flex-direction: row
      font-family: $OpenSansRegular
      font-size: 16px
      color: #c0c9d1
      li
        margin-left: 25px 
=======
@media only screen and (max-width: 1560px)
  header
    padding: 25px 0 25px 0px
@media only screen and (max-width: 800px)
  header
    padding: 10px 0 10px 0
    background-color: #222833 
  .drop-down-menu
    display: block
    position: absolute
    span
      position: absolute
      left: 14px
      top: -4px
      border-top: 2px solid $white
      border-bottom: 7px double $white
      width: 17px
      height: 11px
  .logo
    position: relative
    left: 65px
  .currency-date
    font-size: 12px
    justify-content: flex-end

@media only screen and (max-width: 580px)
  .arrows
    display: flex
    position: relative
    left: -20px
    color: $backoffice-white
    .arrow
      width: 0px
      height: 0px
      border: 10px solid transparent
      border-top-color: $white
      border-radius: 9px
      margin-left: 5px
      padding: 0
      float: left
      font-family: $OpenSansLight
      &:before
        display: block
        content: ""
        width: 0px
        height: 0px
        border: 8px solid transparent
        border-top-color: #222833 
        display: inline-block
        -webkit-transform: translate(-8px, -12px)
    .arrow.right
      display: block
      transform: rotate(270deg) translate(0px, 0px)
      -webkit-transform: rotate(270deg) translate(0px, 0px)
      -moz-transform: rotate(270deg) translate(0px, 0px)
      -o-transform: rotate(270deg) translate(0px, 0px)
      -ms-transform: rotate(270deg) translate(0px, 0px)
      
   
  .currency-date
    display: none
>>>>>>> 0e0f24c81bc589afae36b515f0fc185c5ba7a9a7
