<div class="status-wr">
  <div class="progress-wr">
    <span class="active" [ngStyle]="{'flex': '0 0 ' + percentCounter +'%'}"><span class="oval"><span class="measure"></span></span></span>
    <span class="inactive" [ngStyle]="{'flex': '0 0 ' + (100-percentCounter) +'%'}"></span>
    <span class="percent">{{ percentCounter }}%</span>
  </div>
  <h2 class="token-sold"><span>{{ tokensCounter | number }}</span> Tokens Sold</h2>
  <!-- <h2 class="total-users"><span>{{ usersCounter | number }}</span> Total Users</h2> -->
</div>