<div class="what-makes-wr">
  <div class="main-container">
    <h3 class="landing-title">What Makes us Unique from the Rest</h3>
    <div class="what-makes-row">
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/makes-icon-1.svg" alt="makes-icon">
          </div>
          <div class="item-desc">Our business model is completely independent of the cryptocurrency volatility.</div>
        </div>
      </div>
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/makes-icon-2.svg" alt="makes-icon">
          </div>
          <div class="item-desc">Fully developed platform at the close of the ICO.</div>
        </div>
      </div>
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/makes-icon-3.svg" alt="makes-icon">
          </div>
          <div class="item-desc">Daily community update via email and active social platforms.</div>
        </div>
      </div>
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/makes-icon-4.svg" alt="makes-icon">
          </div>
          <div class="item-desc">We will not hold onto your Bitcoin or Ethereum during ICO.</div>
        </div>
      </div>
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/makes-icon-5.svg" alt="makes-icon">
          </div>
          <div class="item-desc">Lower and higher purchase cap range during ICO.</div>
        </div>
      </div>
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/makes-icon-6.svg" alt="makes-icon">
          </div>
          <div class="item-desc">Generous bounty program.</div>
        </div>
      </div>
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/makes-icon-7.svg" alt="makes-icon">
          </div>
          <div class="item-desc">Weekly Token buyback & Token Burn.</div>
        </div>
      </div>
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/makes-icon-8.svg" alt="makes-icon">
          </div>
          <div class="item-desc">Clear openness on ICO funds allocation.</div>
        </div>
      </div>
    </div>
  </div>
</div>
