<div class="what-makes-wr">
  <div class="main-container">
    <h3 class="landing-title">What Makes us <span>Unique</span><br>from the Rest</h3>
    <div class="what-makes-row">
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/landing/transparency.png" alt="makes-icon">
          </div>
          <div class="item-desc">Transparency</div>
        </div>
      </div>
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/landing/marketing-concepts.png" alt="makes-icon">
          </div>
          <div class="item-desc">Years of Proven<br>marketing concepts</div>
        </div>
      </div>
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/landing/proof.png" alt="makes-icon">
          </div>
          <div class="item-desc">PROOF. We practice<br>what we preach</div>
        </div>
      </div>
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/landing/reliability.png" alt="makes-icon">
          </div>
          <div class="item-desc">Reliability</div>
        </div>
      </div>
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/landing/team.png" alt="makes-icon">
          </div>
          <div class="item-desc">Dedicated & focused<br>team</div>
        </div>
      </div>
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/landing/ai.png" alt="makes-icon">
          </div>
          <div class="item-desc">Blockchain with AI; the<br>future of marketing<br>and engagement</div>
        </div>
      </div>
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/landing/business-model.png" alt="makes-icon">
          </div>
          <div class="item-desc">Business model<br>independent of the<br>cryptocurrency volatility</div>
        </div>
      </div>
      <div class="cell">
        <div class="what-makes-item">
          <div class="item-img">
            <img src="assets/images/landing/technology.png" alt="makes-icon">
          </div>
          <div class="item-desc">Proven technology</div>
        </div>
      </div>
    </div>
  </div>
</div>
