@import "../../../../../landing/landing.component"

.btn
  background: transparent
  border: none
  font-family: $lato-semibold
  color: $accent-color
  font-size: 14px
  border-radius: 30px
  cursor: pointer
  padding: 0 30px
  display: inline-flex
  flex-direction: row
  align-items: center
  justify-content: center
  min-height: 40px
  transition: $transition
  &.emptyGreen
    border-radius: 4px
    border: 1px solid #62ba67
    color: #62ba67
    background: transparent
    &:hover
      box-shadow: 0 0 30px 1px #b2e4b5
  &.emptyRed
    border-radius: 4px
    border: 1px solid $backoffice-red-text
    color: $backoffice-red-text
    background: transparent
    &:hover
      box-shadow: 0 0 30px 1px rgba(235,34,72, 0.31)
  &.redBig
    color: $white
    background: linear-gradient(287deg, #ea676f, #f03e5a)
    position: relative
    font-size: 16px
    min-width: 220px
    height: 50px
    &:before
      content: ''
      position: absolute
      left: -6px
      right: -6px
      top: -6px
      bottom: -6px
      border-radius: 30px
      background: rgba(243,61,85, 0.2)
    &:hover
      box-shadow: 0 0 31px 4px rgba(235,34,72, 0.59)
  &.redSmall
    color: $white
    background: linear-gradient(287deg, #ea676f, #f03e5a)
    position: relative
    &:before
      content: ''
      position: absolute
      left: -6px
      right: -6px
      top: -6px
      bottom: -6px
      border-radius: 30px
      background: rgba(243,61,85, 0.2)
    &:hover
      box-shadow: 0 0 31px 4px rgba(235,34,72, 0.59)
.currency-btn
  button
    &[disabled]
      background: rgba(197,198,201,1)
      &:before
        background: rgba(0,0,0,0)
      &:hover
        box-shadow: none
        cursor: default

@media screen and (max-width: 800px)
  .btn
    &.redBig
      min-width: 190px
      font-size: 13px
      height: 40px
    &.emptyGreen
      font-size: 13px
      padding: 0 26px
