<!-- <div class="info pmd-card pmd-z-depth">
  <p><b><u>Would you like to earn BONUS for each person you refer ?</u></b></p>
  <p>
    Share your personal referral link given below and when people click on it and sign up for new account, you will
    earn a percentage of their contribution. They will also earn a bonus when they do the same, so everybody wins
  </p>
  <p class="btn-success">Your personal invite link :
    <a style="color: white">
      {{referralLink }}
    </a>
  </p>
</div>
<div class="container-fluid full-width-container value-added-detail-page">
  <div class="table-responsive pmd-card pmd-z-depth" *ngIf="referralLink.length > 0">
    <table class="table table-mc-red pmd-table">
      <thead>
      <tr>
        <th>S/N</th>
        <th>Referral Username</th>
        <th>Date Registered</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of referralUsers$ | async; let i = index" id="{{user._id}}" loader [show]="loader$ | async">
        <td>{{i + 1}}</td>
        <td data-title="Order ID">{{user.username}}</td>
        <td data-title="Sender Address">{{user.createdAt | date:'yyyy-MM-dd HH:mm a'}}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <h1 *ngIf="(referralUsers$ | async).length < 1">You don't have any referrals as of now.</h1>
</div> -->

<div class="referral-link-wrapper">
  <app-referral-link [referralLink]='referralLink'></app-referral-link>
</div>

<div class="referral-list" *ngIf="roundsReferralsUsers$ | async as roundsReferralsUsers">
  <div class="referral-list-header">
    <h4>My team members</h4>
    <span>100 members referred</span>
  </div>
  <app-backoffice-table let i = 10;
    [dashboardTableHead] = "referralUsersHeaders"
    [rounds]="roundsReferralsUsers"
    [scroll]="false"
    [columns]="[
        {value: '_id'},
        {value: 'username'},
        {value: 'createdAt'}
        ]">


    <span>{{roundsReferralsUsers}}</span>
  </app-backoffice-table>
</div>
