  <div class="section section-custom billinfo">
    <h2>ICO ROUNDS BUYING INSTRUCTION</h2>
    <div class="pmd-card card-default pmd-z-depth">
      <div class="login-card">
        <div class="pmd-card-body">
          <div class="step">
            <strong>Step 1: </strong>
            <span class="is-medium">
                  <span style="color:red; font-weight: bold;">Deposit your BTC and/or ETH </span> to your wallet before the ICO round.
                </span>
          </div>
          <div class="step">
            <strong>Step 2: </strong>
            <span class="is-medium">
                  <span style="color:red; font-weight: bold;">Enter the CSTT amount to buy </span>(make sure your Buying Limit is within the min and max limits set for
                  the current ICO round).
                </span>
          </div>
          <div class="step">
            <strong>Step 3: </strong>
            <span class="is-medium">
                  Select your
                  <span style="color:red; font-weight: bold;">Currency</span> (BTC or ETH).
                </span>
          </div>
          <div class="step">
            <strong>Step 4: </strong>
            <span class="is-medium">
                  Make sure you have
                  <span style="color:red; font-weight: bold;">enough BTC or ETH</span> to cover the Total Amount to be paid.
                </span>
          </div>
          <div class="step">
            <strong>Step 5: </strong>
            <span class="is-medium">
                  Wait for the
                  <span style="color:red; font-weight: bold;">Countdown</span> to hit zero.
                </span>
          </div>
          <div class="step">
            <strong>Step 6: </strong>
            <span class="is-medium">
                  <span style="color:red; font-weight: bold;">CLICK TO PURCHASE.</span>
                </span>
          </div>
          <div class="step">
            <strong>Step 7: </strong>
            <span class="is-medium">
                  You are now a proud owner of Crest Token!
                </span>
          </div>

        </div>
      </div>
    </div>
  </div>
