<div class="dashboard-wr">
  <app-balance></app-balance>
  <h5 class="text">Welcome to Crest Members Area</h5>
  <div class="member-area">
    <div class="video">
        <iframe _ngcontent-c1="" allowfullscreen="" height="360" frameborder="0" mozallowfullscreen="" src="https://player.vimeo.com/video/301752150" webkitallowfullscreen="" width="640"></iframe>
    </div>
    <div class="board">
      <app-timer></app-timer>
      <app-call-action></app-call-action>
    </div>
  </div>
  <h5 class="text">Transactions</h5>
  <div class="cell dashboard-table" *ngIf="rounds$ | async as rounds">
    <app-backoffice-table
      [dashboardTableHead]="dashboardTableHead"
      [rounds]="rounds"
      [scroll]="false"
      [columns]="[
        {value: 'title'},
        {value: 'supply'},
        {value: 'price'},
        {value: 'stage'}
        ]"
      [emptyMassege]="'ICO Round'"
      [extraClass]="'dashboard'"
    >
    </app-backoffice-table>
  </div>
  <!--­­ Offer Conversion: Crest Self Promo ­­-->
  <img src="https://cresttoken.go2cloud.org/aff_l?offer_id=1" style="visibility: hidden; height: 1px;" />
  <!--­­ // End Offer Conversion ­­-->
</div>