<div class="dashboard-wr">
  <!-- <app-instruction></app-instruction> -->
  <!-- <app-call-action></app-call-action> -->
  <!-- <app-timer></app-timer> -->
  <ul class="assets">
    <li *ngFor="let item of assets$ | async">
      <i class="{{item.icon}}"></i>
      {{item.code | uppercase}} = {{item.usd_price}}
    </li>
  </ul>
  <div class="cell dashboard-table" *ngIf="rounds$ | async as rounds">
    <app-backoffice-table
      [dashboardTableHead]="dashboardTableHead"
      [rounds]="rounds"
      [scroll]="true"
      [columns]="[
        {value: 'title'},
        {value: 'supply'},
        {value: 'price'},
        {value: 'stage'}
        ]"
      [emptyMassege]="'ICO Round'"
    >
    </app-backoffice-table>
  </div>
  <!--­­ Offer Conversion: Crest Self Promo ­­-->
  <img src="https://cresttoken.go2cloud.org/aff_l?offer_id=1" style="visibility: hidden; height: 1px;" />
  <!--­­ // End Offer Conversion ­­-->
</div>