<div class="dashboard-wr">
  <div class="cell dashboard-info">
    <app-timer></app-timer>
    <app-instruction></app-instruction>
  </div>
  <div class="cell dashboard-table" *ngIf="rounds$ | async as rounds">
    <app-timer></app-timer>
    <app-call-action></app-call-action>
    <app-backoffice-table
      [dashboardTableHead]="dashboardTableHead"
      [rounds]="rounds"
      [scroll]="true"
      [columns]="[
        {value: 'title'},
        {value: 'supply'},
        {value: 'price'},
        {value: 'min_buy'},
        {value: 'max_buy'},
        {value: 'free_tokens'},
        {value: 'free_tokens_recipients'},
        {value: 'stage'}
        ]"
      [emptyMassege]="'ICO Round'"
    >
    </app-backoffice-table>
  </div>
</div>
