@import "../../backoffice.component"
.dashboard-wr
  margin-top: 20px
  h5.text
    margin-top: 20px
    margin-bottom: 15px
    font-family: $lato-bold
    font-size: 16px
    color: #637576
  .member-area
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .video
      flex: 0 0 55%
      iframe
        max-width: 100%
        border-radius: 10px
    .board
      flex: 0 0 44%
      display: flex
      flex-direction: column
      justify-content: flex-start
 
@media (max-width: 1200px)
  .dashboard-wr
    .member-area
      flex-direction: column-reverse
      .video, .board
        flex: 0 0 100%
      .video
        margin-top: 20px
        text-align: center

@media (max-width: 480px)
  .dashboard-wr
    .member-area
      .video
        iframe
          height: 250px
