<header>
  <div id="particles-js"></div>
  <div [class]="'top-header-wrapper '+ fixed">
    <div class="main-container">
      <div class="wrapper">
        <div class="logo-wrapper">
          <a href="#" class="logo">
            <img class="logo__images" src="assets/images/logo.png" alt="logo">
            <span class="logo__text">Crest Token</span>
          </a>
        </div>
        <a id="hamburger-icon" title="Menu" (click)="show = !show" [ngClass]="{active: show}">
          <span class="line"></span>
        </a>
        <div class="navigation-wrapper" [ngClass]="{open: show}">
          <ul class="main-nav">
            <li><a class="scroll" href="#intro">What is Crest Token</a></li>
            <li><a class="scroll" href="#tokenSale">Token Sale</a></li>
            <li><a class="scroll" href="#roadmap">Roadmap</a></li>
            <li><a class="scroll" href="#team">Team</a></li>
            <li class="whitepaper"><a target="_blank" href="assets/Crest_Token_Whitepaper_Rev_2.2.pdf">Whitepaper</a></li>
          </ul>
          <div class="header-btn-wrapper">
            <a class="login btn-green"  [routerLink]="['/backoffice']">login</a>
            <a class="signup btn-green" [routerLink]="['/signup']">sign up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main-container">
    <div class="wrapper">
      <div class="banner">
        <h1>
          Crypto Currency Passive Income
          <span> Earn 1.15% to 2.25% Cash Daily</span>
        </h1>
        <span class="note">*Guaranteed and Verified</span>
        <div class="timer-wrapper">
          <p>Pre ICO is Live!</p>
          <!--<div class="clock"></div>-->
        </div>
        <a class="banner-btn" [routerLink]="['/signup']">sign up now</a>
      </div>
    </div>
  </div>
</header>
