<section id="intro" class="what-token-wr">
  <div class="main-container">
    <h3 class="landing-title">What is <span>Crest?</span></h3>
    <div class="landing-row">
      <div class="cell">
        <div class="what-token-img"><img src="../../../assets/images/landing/what-is-crest.png" alt="why-token"></div>
      </div>
      <div class="cell">
        <div class="what-token-title">
          <span>Crest is a <strong>Smart Ad Campaign</strong> token.</span>
          <span><strong>Crest DigiAd Platform</strong> runs on Crest Token.</span>
        </div>
        <p class="landing-text">
            Crest DigiAd is an online marketing and digital advertising platform for Advertisers and Publishers, designed to run crypto-to-crypto ads and non-crypto related campaigns on the blockchain.<br><br>
            The Crest ecosystem allow members of the Crest Community to generate income by allocating Crest utility tokens to run several marketing and advertising campaigns which in-turn generates income for the community.
        </p>
      </div>
    </div>
  </div>
</section>
