<section id="team" class="team">
  <div class="team-wrapper">
    <div class="main-container">
      <div class="wrapper">
        <div class="header-wrapper">
          <h3 class="landing-title"><span>Our</span> Team</h3>
          <p class="desc">We have put together an amazing team with diverse skills to<br>make Crest token a unique success.
          </p>
        </div>
        <div class="items-wrapper">
          <div class="item">
            <div class="item__photo">
              <a href="#" data-toggle="modal" data-target="#ben_sanders"><img src="assets/images/landing/ben-sanders.jpg" alt="Ben Sanders"></a>
            </div>
            <div class="item__name">
              <a href="#" data-toggle="modal" data-target="#ben_sanders">Ben Sanders</a>
            </div>
            <div class="item__position">
              CEO
            </div>
            <div class="item__bio">
                Ben is an entrepreneur with background in sales and online marketing. He has helped several companies build their customer base through affilliate marketing, generating millions of dollars in sales.
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/ben-sanders-53405a157/"><img src="/assets/images/landing/linkedin.png"></a>
              </li>
            </ul>
            <div class="modal fade" id="ben_sanders" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="modal-body">
                    <div class="profile">
                      <div class="photo">
                        <img src="assets/images/landing/ben-sanders.jpg" alt="Ben Sanders">
                        <a class="social-linkedin" target="_blank" href="https://www.linkedin.com/in/ben-sanders-53405a157/"><img src="/assets/images/landing/linkedin.png"></a>
                      </div>
                      <div class="text">
                        <h4>Ben Sanders</h4>
                        <p>CEO</p>
                        <h6>
                          Ben is an entrepreneur with a background in digital marketing. In the past eight years, he has successfully ran several online marketing businesses, across twelve countries. He has worked with several major US based companies as an advisor and an affiliate, building their customer base while generating millions of dollars in revenue.
                          <br><br>
                          Ben began buying Bitcoin in 2014 and fell in love with cryptocurrency ever since. As a seasoned  ICO investor, he has participated in more than 40 top-rated ICOs that have produced massive multiple returns on his investment.  
                          <br><br>
                          Ben has now created his very own project that utilizes blockchain technology with the ever growing digital  advertising industry, which is forecasted to have a $304 billion dollar spend in 2019 alone.
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item__photo">
              <a href="#" data-toggle="modal" data-target="#aleks"><img src="assets/images/landing/aleksandar-djordjevic.jpg" alt="Aleksandar Djordjevic"></a>
            </div>
            <div class="item__name">
              <a href="#" data-toggle="modal" data-target="#aleks">Aleksandar Djordjevic</a>
            </div>
            <div class="item__position">
              Senior Software Developer
            </div>
            <div class="item__bio">
                Aleks is a Senior Software Developer with deep experience in blockchain technology
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/deejayelly/"><img src="/assets/images/landing/linkedin.png"></a>
              </li>
            </ul>
            <div class="modal fade" id="aleks" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="modal-body">
                    <div class="profile">
                      <div class="photo">
                        <img src="assets/images/landing/aleksandar-djordjevic.jpg" alt="Aleksandar Djordjevic">
                        <a class="social-linkedin" target="_blank" href="https://www.linkedin.com/in/deejayelly/"><img src="/assets/images/landing/linkedin.png"></a>
                      </div>
                      <div class="text">
                        <h4>Aleksandar Djordjevic</h4>
                        <p>Senior Software Developer</p>
                        <h6>
                          Aleks is a senior software developer with deep experience in blockchain technology. Over the past few years, he has co-founded several blockchain DApp projects, including Mirror Code and DiscoverBlockchain.
                          <br><br>
                          Passionate about the blockchain industry, Aleks is always staying abreast of advances, developing new skills, and acquiring further knowledge. At present, he uses web development tools and front-end technologies for mobile and web development. He works as a senior web/mobile front-end developer on projects related to mobile apps and web, blockchain, DApps, and crypto-related development.
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item__photo">
              <a href="#" data-toggle="modal" data-target="#nihal"><img src="assets/images/landing/nihal-patel.jpg" alt="Nihal Patel"></a>
            </div>
            <div class="item__name">
              <a href="#" data-toggle="modal" data-target="#nihal">Nihal Patel</a>
            </div>
            <div class="item__position">
              Blockchain Developer
            </div>
            <div class="item__bio">
              Nihal is a blockchain developer with proficient experience on the Ethereum platform and smart contracts
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/nihalpatel/ "><img src="/assets/images/landing/linkedin.png"></a>
              </li>
            </ul>
            <div class="modal fade" id="nihal" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="modal-body">
                    <div class="profile">
                      <div class="photo">
                        <img src="assets/images/landing/nihal-patel.jpg" alt="Nihal Patel">
                        <a class="social-linkedin" target="_blank" href="https://www.linkedin.com/in/nihalpatel/"><img src="/assets/images/landing/linkedin.png"></a>
                      </div>
                      <div class="text">
                        <h4>Nihal Patel</h4>
                        <p>Blockchain Developer</p>
                        <h6>
                          Nihal is a blockchain developer proficient in the Ethereum platform. He specializes in producing efficient smart contracts. 
                          <br><br>
                          A team player, Nihal has worked on several blockchain projects, with a focus on smart contracts and other blockchain-based development work.
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item__photo">
              <a href="#" data-toggle="modal" data-target="#angela"><img src="assets/images/landing/angela-brasington.jpg" alt="Angela Brasington"></a>
            </div>
            <div class="item__name">
              <a href="#" data-toggle="modal" data-target="#angela">Angela Brasington</a>
            </div>
            <div class="item__position">
              Senior Marketing Strategist
            </div>
            <div class="item__bio">
              Anje, CEO of Anje Studios. Angela is an accomplished executive with experience in digital marketing
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/angela-brasington/"><img src="/assets/images/landing/linkedin.png"></a>
              </li>
            </ul>
            <div class="modal fade" id="angela" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="modal-body">
                    <div class="profile">
                      <div class="photo">
                        <img src="assets/images/landing/angela-brasington.jpg" alt="Angela Brasington">
                        <a class="social-linkedin" target="_blank" href="https://www.linkedin.com/in/angela-brasington/"><img src="/assets/images/landing/linkedin.png"></a>
                      </div>
                      <div class="text">
                        <h4>Angela Brasington</h4>
                        <p>Senior Marketing Strategist</p>
                        <h6>
                          Angela is the CEO of Anje Studios and an accomplished executive with deep knowledge of the digital marketing space. With over ten years experience in both e-commerce and brick-and-mortar businesses, including her own clothing line, she expertly steers up-and-coming brands through the digital landscape.
                          <br><br>
                          Her goal is to cultivate a dominant online presence and promote genuine interest in companies which are worth the hype. Angela produces compelling content that resonates with audiences and develops a loyal customer base.
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item__photo">
              <a href="#" data-toggle="modal" data-target="#dean"><img src="assets/images/landing/dean-m-lapinid.jpg" alt="Dean Matthew Lapinid"></a>
            </div>
            <div class="item__name">
              <a href="#" data-toggle="modal" data-target="#dean">Dean Matthew Lapinid</a>
            </div>
            <div class="item__position">
              Lead Community Manager
            </div>
            <div class="item__bio">
              Dean is a Lead Community Manager with wide experience managing communities for some of the biggest ICO projects
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/dean-matthew-lapinid-540b68148/"><img src="/assets/images/landing/linkedin.png"></a>
              </li>
            </ul>
            <div class="modal fade" id="dean" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="modal-body">
                    <div class="profile">
                      <div class="photo">
                        <img src="assets/images/landing/dean-m-lapinid.jpg" alt="Dean Matthew Lapinid">
                        <a class="social-linkedin" target="_blank" href="https://www.linkedin.com/in/dean-matthew-lapinid-540b68148/"><img src="/assets/images/landing/linkedin.png"></a>
                      </div>
                      <div class="text">
                        <h4>Dean Matthew Lapinid</h4>
                        <p>Lead Community Manager</p>
                        <h6>
                          Dean is a lead community manager with a wide-ranging experience in managing communities for some of the biggest ICO projects.
                          <br><br>
                          A community management expert, growth hacker, and crypto advisor, Dean is part of a team that raised over $74m for more than ten projects. With his “handcrafted 24/7 service,” he is able to handle anything from massive workloads to simple one-time engagements. He has worked with all-star teams like Bezant, Lendingblock, and EOS Ignite.
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item__photo">
              <a href="#" data-toggle="modal" data-target="#chad"><img src="assets/images/landing/chad-copeland.jpg" alt="Chad Copeland"></a>
            </div>
            <div class="item__name">
              <a href="#" data-toggle="modal" data-target="#chad">Chad Copeland</a>
            </div>
            <div class="item__position">
              Creative Designer
            </div>
            <div class="item__bio">
              Chad is a forward thinking innovator with passion for cutting-edge design in the industry
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/copedesign/"><img src="/assets/images/landing/linkedin.png"></a>
              </li>
            </ul>
            <div class="modal fade" id="chad" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="modal-body">
                    <div class="profile">
                      <div class="photo">
                        <img src="assets/images/landing/chad-copeland.jpg" alt="Chad Copeland">
                        <a class="social-linkedin" target="_blank" href="https://www.linkedin.com/in/copedesign/"><img src="/assets/images/landing/linkedin.png"></a>
                      </div>
                      <div class="text">
                        <h4>Chad Copeland</h4>
                        <p>Creative Designer</p>
                        <h6>
                          Chad is a forward-thinking innovator with a passion for cutting-edge design. As a branding and design analyst, his mission is to deliver simple yet powerful messaging and design across a range of platforms and media.
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item__photo">
              <a href="#" data-toggle="modal" data-target="#harling"><img src="assets/images/landing/alexander-harling.jpg" alt="Alexander Harling"></a>
            </div>
            <div class="item__name">
              <a href="#" data-toggle="modal" data-target="#harling">Alexander Harling</a>
            </div>
            <div class="item__position">
              Business Development Manager
            </div>
            <div class="item__bio">
              Alex thrives helping companies determine where they want to be and set sound business development strategies and roadmap to ensure the goals are met.
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/alexanderharling/"><img src="/assets/images/landing/linkedin.png"></a>
              </li>
            </ul>
            <div class="modal fade" id="harling" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="modal-body">
                    <div class="profile">
                      <div class="photo">
                        <img src="assets/images/landing/alexander-harling.jpg" alt="Alexander Harling">
                        <a class="social-linkedin" target="_blank" href="https://www.linkedin.com/in/alexanderharling/"><img src="/assets/images/landing/linkedin.png"></a>
                      </div>
                      <div class="text">
                        <h4>Alexander Harling</h4>
                        <p>Business Development Manager</p>
                        <h6>
                          Alex thrives helping companies determine where they want to be, mapping the way, and reaching the goal. He looks at each goal with fresh eyes to identify a company's unique business goals and create a roadmap of diverse digital strategies tailored to those objectives.
                          <br><br>
                          To build long-lasting relationships, Alex evaluates resources, assesses needs and strategizes opportunities to bridge the two. He prioritizes creative problem solving over packaged-service pitching and works quickly to adapt strategies in the rapidly evolving digital landscape.
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="item__photo">
              <a href="#" data-toggle="modal" data-target="#capina"><img src="assets/images/landing/dennevhyn-capina.jpg" alt="Dennevhyn Capina"></a>
            </div>
            <div class="item__name">
              <a href="#" data-toggle="modal" data-target="#capina">Dennevhyn Capina</a>
            </div>
            <div class="item__position">
              Social Media Manager<br>and Graphic Designer
            </div>
            <div class="item__bio">
              Dennevhyn is an experienced and creative graphic designer with focus on using his creative skills to help shape Crest's branding and perception within the social media and digital marketing space.
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/graphicidsawyer/"><img src="/assets/images/landing/linkedin.png"></a>
              </li>
            </ul>
            <div class="modal fade" id="capina" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <div class="modal-body">
                    <div class="profile">
                      <div class="photo">
                        <img src="assets/images/landing/dennevhyn-capina.jpg" alt="Dennevhyn Capina">
                        <a class="social-linkedin" target="_blank" href="https://www.linkedin.com/in/graphicidsawyer/"><img src="/assets/images/landing/linkedin.png"></a>
                      </div>
                      <div class="text">
                        <h4>Dennevhyn Capina</h4>
                        <p>Social Media Manager and Graphic Designer</p>
                        <h6>
                          Dennevhyn is an experienced and creative graphic designer who specializes in social media and digital marketing. 
                          <br><br>
                          He is responsible for the coordination and management of all Crest’s social media accounts, making sure our goals and objectives are attained by implementing strategies that work.
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-join">
    <h3 class="landing-title"><span>Join</span> Our Team</h3>
    <div class="inner">
      <div class="cell">
        <h5>During and after the ICO, we expect our team to <span>grow rapidly</span> to include more:</h5>
        <ul>
          <li>Online Marketing Experts</li>
          <li>Blockchain and Web Developers</li>
          <li>Data Analysts</li>
          <li>AI Programmer</li>
          <li>Social Media Marketing Experts</li>
        </ul>
        <a class="btn-green" href="/signup" target="_blank" style="height: 46px;">Join Our Team</a>
      </div>
      <div class="cell">
        <img src="/assets/images/landing/join-our-team.png" />
      </div>
    </div>
  </div>
</section>
