<section id="team" class="team">
  <div class="team-wrapper">
    <div class="main-container">
      <div class="wrapper">
        <div class="header-wrapper">
          <h3 class="landing-title"><span>Our</span> Team</h3>
          <p class="desc">We have put together an amazing team with diverse skills to<br>make Crest token a unique success.
          </p>
        </div>
        <div class="items-wrapper">
          <div class="item">
            <div class="item__photo">
              <img src="assets/images/landing/ben-sanders.jpg" alt="Ben Sanders">
            </div>
            <div class="item__name">
              Ben Sanders
            </div>
            <div class="item__position">
              CEO
            </div>
            <div class="item__bio">
                Ben is an entrepreneur with background in sales and online marketing. He has helped several companies build their customer base through affilliate marketing, generating millions of dollars in sales.
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/ben-sanders-53405a157/"><img src="/assets/images/landing/linkedin.png"></a>
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="item__photo">
              <img src="assets/images/landing/aleksandar-djordjevic.jpg" alt="Aleksandar Djordjevic">
            </div>
            <div class="item__name">
              Aleksandar Djordjevic
            </div>
            <div class="item__position">
              Senior Software Developer
            </div>
            <div class="item__bio">
                Aleks is a Senior Software Developer with deep experience in blockchain technology
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/deejayelly/"><img src="/assets/images/landing/linkedin.png"></a>
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="item__photo">
              <img src="assets/images/landing/nihal-patel.jpg" alt="Nihal Patel">
            </div>
            <div class="item__name">
              Nihal Patel
            </div>
            <div class="item__position">
              Blockchain Developer
            </div>
            <div class="item__bio">
              Nihal is a blockchain developer with proficient experience on the Ethereum platform and smart contracts
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/nihalpatel/ "><img src="/assets/images/landing/linkedin.png"></a>
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="item__photo">
              <img src="assets/images/landing/angela-brasington.jpg" alt="Angela Brasington">
            </div>
            <div class="item__name">
              Angela Brasington
            </div>
            <div class="item__position">
              Senior Marketing Strategist
            </div>
            <div class="item__bio">
              Anje, CEO of Anje Studios. Angela is an accomplished executive with experience in digital marketing
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/angela-brasington/"><img src="/assets/images/landing/linkedin.png"></a>
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="item__photo">
              <img src="assets/images/landing/dean-m-lapinid.jpg" alt="Dean Matthew Lapinid">
            </div>
            <div class="item__name">
              Dean Matthew Lapinid
            </div>
            <div class="item__position">
              Lead Community Manager
            </div>
            <div class="item__bio">
              Dean is a Lead Community Manager with wide experience managing communities for some of the biggest ICO projects
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/dean-matthew-lapinid-540b68148/"><img src="/assets/images/landing/linkedin.png"></a>
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="item__photo">
              <img src="assets/images/landing/chad-copeland.jpg" alt="Chad Copeland">
            </div>
            <div class="item__name">
              Chad Copeland
            </div>
            <div class="item__position">
              Creative Designer
            </div>
            <div class="item__bio">
              Chad is a forward thinking innovator with passion for cutting-edge design in the industry
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/copedesign/"><img src="/assets/images/landing/linkedin.png"></a>
              </li>
            </ul>
          </div>
          <div class="item">
            <div class="item__photo">
              <img src="assets/images/landing/annah-todd.jpg" alt="Annah Todd">
            </div>
            <div class="item__name">
              Annah Todd
            </div>
            <div class="item__position">
              Digital Marketing Consultant
            </div>
            <div class="item__bio">
              Annah is a digital marketing consultant with specialty in integrating campaigns to cross-promote and accelerate growth across digital platform
            </div>
            <ul class="item__social">
              <li>
                <a class="item__social-linkedin" target="_blank" href="https://www.linkedin.com/in/annahtodd/"><img src="/assets/images/landing/linkedin.png"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="team-join">
    <h3 class="landing-title"><span>Join</span> Our Team</h3>
    <div class="inner">
      <div class="cell">
        <h5>During and after the ICO, we expect our team to <span>grow rapidly</span> to include more:</h5>
        <ul>
          <li>Online Marketing Experts</li>
          <li>Blockchain and Web Developers</li>
          <li>Data Analysts</li>
          <li>AI Programmer</li>
          <li>Social Media Marketing Experts</li>
        </ul>
        <a class="btn-green" href="/signup" target="_blank">Join Our Team</a>
      </div>
      <div class="cell">
        <img src="/assets/images/landing/join-our-team.png" />
      </div>
    </div>
  </div>
</section>
