@import "../../../../content/landing/landing.component"
@import "../../../../content/landing/header/header.component"

header
  padding: 0px
  overflow: inherit

@media only screen and (max-width: 500px)
  header
    padding-top: 75px
