/* You can add global styles to this file, and also import other style files */
/* @import 'bootstrap/dist/css/bootstrap.min.css'; */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.has-underline {
  text-decoration: underline;
}

.modal-container {
  padding: 25px;
  background-color: #fff;
  margin: 20px auto 10px auto;
  text-align: center;

}

.modal-container .modal-title {
  color: #333c4e;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
}

.modal-container .modal-text {
  margin: 0 0 10px;
  line-height: 1.6;
  color: #4d575d;
}

.modal-container .modal-desc {
  color: #4d575d;
}

.label-title {
  margin: 10px 0;
}

.modal-body {
  padding-bottom: 10px;
}
