<div id="landing-wrapper">
  <app-header></app-header>
  <!-- <app-what-token></app-what-token>
  <app-why-token></app-why-token>
  <app-what-makes></app-what-makes> -->
  <app-about></app-about>
  <app-prototype></app-prototype>
  <app-token-allocation></app-token-allocation>
  <!-- <app-token-sale></app-token-sale>
  <app-milestones></app-milestones> -->
  <app-roadmap></app-roadmap>
  <!-- <app-participate></app-participate> -->
  <app-team></app-team>
  <app-members></app-members>
  <app-video></app-video>
  <!-- <app-press></app-press> -->
  <app-faq></app-faq>
  <app-subscribe></app-subscribe>
  <app-footer></app-footer>
</div>
<span (click)="scrollTotop()" id="to-top">
 <img src="/assets/images/landing/arrow-up.png" style="width: 52px;" />
</span>