@import "../../../assets/css/variables"

#landing-wrapper
  background-color: #161921
  background-image: url("/assets/images/landing/bg-1.png"), url("/assets/images/landing/bg-2.png"), url("/assets/images/landing/bg-3.png"), url("/assets/images/landing/bg-5.png"), url("/assets/images/landing/bg-1.png"), url("/assets/images/landing/bg-3.png"), url("/assets/images/landing/bg-1.png"), url("/assets/images/landing/bg-4.png"), url("/assets/images/landing/bg-2.png"), url("/assets/images/landing/bg-5.png"), url("/assets/images/landing/bg-3.png"), url("/assets/images/landing/bg-4.png"), url("/assets/images/landing/bg-4.png"), url("/assets/images/landing/bg-1.png"), url("/assets/images/landing/bg-4.png")
  background-position: center 1%, center 12%, center 23%, center 30%, center 35%, center 40%, center 45%, center 55%, center 60%, center 67%, center 74%, center 77%, center 85%, center 90%, center 95%
  background-repeat: no-repeat
  background-size: 100% auto
*
  box-sizing: border-box

a
  text-decoration: none !important

a, button
  &:focus
    outline: 0

img
  width: 100%
  display: inline-block

.main-container
  display: flex
  flex-wrap: wrap
  width: 100%
  margin: 0 auto
  max-width: 1230px
  padding: 0 15px
  position: relative
  .wrapper
    width: 100%
    background: transparent
    position: relative
    display: flex
    justify-content: space-between

h3
  &.landing-title
    display: block
    width: 100%
    font-family: $poppins-bold
    padding-bottom: 30px
    text-align: center
    font-size: 36px
    line-height: 1.3
    color: $landing-title-color
  &.green
    color: $green

.landing-text
  font-family: $poppins-light
  font-size: 18px
  color: #000
  line-height: 1.8

.landing-row
  width: 100%
  display: flex
  flex-wrap: nowrap
  .cell
    width: 50%
    min-height: 100px

.btn-green
  display: inline-flex
  align-items: center
  justify-content: center
  // background: $green
  background-image: linear-gradient(78deg, #227a5e, #00e55d);
  color: $white
  border-radius: 4px
  padding: 0 30px
  min-height: 36px
  font-family: $poppins-medium
  font-size: 14px
  &:hover
    background: transparent
    border-radius: 4px
    border-width: 1px
    border-style: solid
    border-image-source: linear-gradient(77deg, #227a5e, #00e55d)
    border-image-slice: 1

#to-top
  position: fixed
  right: 5%
  bottom: 70px
  cursor: pointer
  display: none
  align-items: center
  justify-content: center
  z-index: 40


@media only screen and (max-width: 900px)
  .landing-text
    font-size: 16px

@media only screen and (max-width: 600px)
  .landing-text
    font-size: 14px
  h3
    &.landing-title
      font-size: 26px

@media only screen and (max-width: 550px)
  .login-wr,
  .sign-up-wrapper
    .main-container
      .loginBtnSocial
        flex-direction: column
        align-items: center
        margin-bottom: 0 !important
        .loginBtn
          margin-bottom: 25px

@media only screen and (max-width: 400px)
  input::-webkit-input-placeholder
    color: #a1a1a1
    font-size: 14px
    font-family: $poppins-light
    opacity: 1
  input::-moz-placeholder
    color: #a1a1a1
    font-size: 14px
    font-family: $poppins-light
    opacity: 1
  input:-ms-input-placeholder
    color: #a1a1a1
    font-size: 14px
    font-family: $poppins-light
    opacity: 1
  input:-moz-placeholder
    color: #a1a1a1
    font-size: 14px
    font-family: $poppins-light
    opacity: 1
  .login-wr,
  .sign-up-wrapper
    .form-wrapper .captcha-wrapper
      transform: scale(0.8)
