<div class="token-allocation-wr">
  <div class="main-container">
    <h3 class="landing-title">Token Allocation</h3>
    <div class="allocation-row">
      <div class="allocation-cell">
        <div class="allocation-title">Token Sale Information</div>
        <div class="allocation-img">
          <img src="assets/images/allocation-img-1.png" alt="allocation">
        </div>
      </div>
      <div class="allocation-cell">
        <div class="allocation-title">Use of proceeds</div>
        <div class="allocation-img">
          <img src="assets/images/allocation-img-2.png" alt="allocation">
        </div>
      </div>
    </div>
  </div>
</div>
