<div class="token-allocation-wr" id="allocation">
  <div class="main-container">
    <h3 class="landing-title"><span>Token</span> Allocation</h3>
    <div class="allocation-row">
      <div class="allocation-cell">
        <div class="allocation-title">Token Sale Information</div>
        <div class="inner">
          <div class="allocation-graph" style="background-image: url('/assets/images/landing/allocation1.png');">
            <span>12,500,000</span>
            <span>Total Supply</span>
          </div>
          <div class="info">
            <ul>
              <li class="color1">51.20%<br><span>Main ICO (6,400,000)</span></li>
              <li class="color2">36.80%<br><span>Staking Reserve<br>(4,600,000)</span></li>
              <li class="color3">8%<br><span>Pre Sale ICO<br>(1,000,000)</span></li>
              <li class="color4">4%<br><span>Bounty Reserve<br>(500,000)</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="allocation-cell">
        <div class="allocation-title">Use of Proceeds</div>
        <div class="inner">
          <div class="allocation-graph" style="background-image: url('/assets/images/landing/allocation2.png');">
            <span>12,500,000</span>
            <span>Total Supply</span>
          </div>
          <div class="info" style="padding-left: 40px;">
            <ul style="column-count: 2;">
              <li class="color5">25%<br><span>Stability Reserve</span></li>
              <li class="color6">20%<br><span>Marketing & Promotion</span></li>
              <li class="color7">20%<br><span>Initial DigiAd Campaign</span></li>
              <li class="color8">15%<br><span>Development Team</span></li>
              <li class="color9">15%<br><span>Platform Development</span></li>
              <li class="color10">5%<br><span>Bounty/Token Buyback</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
