<div class="personal-information-wrapper">
  <h2>Personal  Information</h2>
  <form>
    <div class="name-wrapper">
      <label for="name">Name</label>
      <button class="icon-building"  *ngIf="switch" (click)="setDisabledState()"></button>
      <button class="icon-tick"
        *ngIf="!switch"
        (click)="setDisabledState()"
        [disabled]="name.invalid"
        (click)="editProfile()"></button>
      <input type="text" class="form-control" [formControl]="name">
      <span class="warning" *ngIf="name.invalid">Can not be empty</span>
    </div>
    <label for="email">Email</label>
    <input type="text" [value]="(user$ | async)?.email" readonly>
    <label for="sponsor">Sponsor</label>
    <input type="text" [value]="(user$ | async)?.sponsor?.username" readonly>
  </form>
</div>
