
<div class="reset-wr">
  <app-header-auth></app-header-auth>
  <div class="main-content">
    <div class="main-container">
      <div class="wrapper">
        <h1>Forgot Password?</h1>
        <div class="form-wrapper">
          <div class="instruction">
              <span>Submit your email address and we'll email you instructions to reset your password.</span>
          </div>
          <br>
          <!-- email -->
          <div class="input-group">
            <div class="inputGroup-icons">
              <img src="assets/images/email-icon.png" alt="Email">
            </div>
            <input type="text" placeholder="Email Address" class="form-control" [formControl]="email">
          </div>
          <div class="button-wrapper">
            <button class="btn-login" [disabled]="email.invalid" (click)="sendResetPasswordEmail(email.value)">Submit</button>
            <p class="redirection-link">Already registered?
              <a [routerLink]="['/login']" class="register-login">Sign In</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>