<div class="reset-wr">
  <app-header-auth></app-header-auth>
  <div class="main-content">
    <div class="main-container">
      <div class="wrapper">
        <h1>Forgot Password?</h1>
        <div class="form-wrapper">
          <div class="instruction">
              <span>Submit your email address and we'll email you instructions to reset your password.</span>
          </div>
          <br>
          <!-- email -->
          <input type="text" placeholder="Email" class="form-control" [formControl]="email">
          <button class="btn-green" [disabled]="email.invalid" (click)="sendResetPasswordEmail(email.value)">Submit</button>
          <p class="redirection-link">Already registered? <a [routerLink]="['/login']" class="register-login">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>