<div class="prototype-wr" id="prototype">
  <div class="main-container">
    <h3 class="landing-title">Prototype <span>Ready</span></h3>
    <p class="desc">The DigiAd Platform for Advertisers, Publishers, and Super Affiliates</p>
  </div>
  <div id="prototypes" class="slick-slider">
    <div class="item">
      <img src="/assets/images/landing/prototype.png" alt="Prototype" />
    </div>
    <div class="item">
      <img src="/assets/images/landing/prototype.png" alt="Prototype" />
    </div>
    <div class="item">
      <img src="/assets/images/landing/prototype.png" alt="Prototype" />
    </div>
    <div class="item">
      <img src="/assets/images/landing/prototype.png" alt="Prototype" />
    </div>
    <div class="item">
      <img src="/assets/images/landing/prototype.png" alt="Prototype" />
    </div>
  </div>
  <h5>DigiAd Dashboard</h5>
  <p style="width: 100%; text-align: center;"><a class="btn-green" href="https://cresttplatform.com/demo" target="_blank">Go to Demo</a></p>
</div>