<div class="logincard">
  <div class="pmd-card card-default pmd-z-depth">
    <div class="login-card">
      <form (submit)="changepassword()">
        <div class="pmd-card-title card-header-border text-center">
          <div class="loginlogo">
            <a href="/">
              <img src="assets/images/logo.png" alt="Logo">
            </a>
          </div>
          <h3>
            <strong>Change Password</strong>
          </h3>
        </div>
        <div class="pmd-card-body">
          <div class="alert alert-success" role="alert"> Oh snap! Change a few things up and try submitting again.</div>
          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label class="control-label pmd-input-group-label">Current Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="material-icons md-dark pmd-sm">lock_outline</i>
              </div>
              <input type="password" [(ngModel)]="CurrentPwd" [ngModelOptions]="{standalone: true}" class="form-control"
                     id="usernameInput">
            </div>
          </div>
          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label class="control-label pmd-input-group-label">New Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="material-icons md-dark pmd-sm">lock_outline</i>
              </div>
              <input type="password" [(ngModel)]="NewPwd" [ngModelOptions]="{standalone: true}" class="form-control"
                     id="passwordInput">
            </div>
          </div>
          <div class="form-group pmd-textfield pmd-textfield-floating-label">
            <label class="control-label pmd-input-group-label">Confirm New Password</label>
            <div class="input-group">
              <div class="input-group-addon">
                <i class="material-icons md-dark pmd-sm">lock_outline</i>
              </div>
              <input type="password" [(ngModel)]="CNewPwd" [ngModelOptions]="{standalone: true}" class="form-control"
                     id="tokenInput">
            </div>
          </div>
        </div>
        <div class="pmd-card-footer card-footer-no-border card-footer-p16 text-center">
          <input type="submit" class="btn pmd-ripple-effect btn-primary btn-block" value="Change Password">
        </div>
      </form>
    </div>
  </div>
</div>
